{% extends 'base.html.twig' %}

{% block title %}Explore Past Activities - MOSAIC{% endblock %}
{% block meta %}Explore MOSAIC's archived events, exhibitions, and workshops for a treasure trove of past activities. Click on any event to delve into its details and relive the memories.{% endblock %}

{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">Past activites</h1>
        <div class="subtitle">
            <p class="banner-text">Be a time traveller</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<section class="content" id="archives">


    <div class="categories" id="categories-past-events">
        <p id="showAllEvents">Events</p>
        <p id="showAllExpos" >Expositions</p>
        <p id="showAllWorkshops" >workshops</p>
        <p id="showAll" >All</p>

        <button id="reset-btn" type="submit" name="formResetType" value="reset">Reset</button>
    </div>

    {# <h2 class="text-n2">Our latest Art activities<span>_</span></h2> #}
    <div id="container-last-events">
        
        {% for latestEvent in latestEvents %}
        <div class="event-container event-container-animation">
            <figure>
                <img src="{{ asset('images/event_img.jpg') }}" alt="">
            </figure>
            <div class="content">
                {% if latestEvent.type is defined and latestEvent.type == 'EVENT' %}
                    <p class="type">Event</p>
                    <h2 class="text-n2">{{latestEvent.name}}<span>_</span></h2>
                    <p>{{latestEvent.startDate|formatDate}} <span> | </span> {{latestEvent.endDate|formatDate}} </p>
                {% elseif latestEvent.type is defined and latestEvent.type == 'EXPO' %}
                    <p class="type">exposition</p>
                    <h2 class="text-n2">{{latestEvent.name}}<span>_</span></h2>
                        <p>{{latestEvent.startDate|formatDate}} <span> | </span> {{latestEvent.endDate|formatDate}}</p>
                {% else %}
                    <p class="type">workshop</p>
                    <h2 class="text-n2">{{latestEvent.name}}<span>_</span></h2>
                    <p>{{latestEvent.startDate|formatDate}} <span> | </span> {{latestEvent.endDate|formatDate}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>

    <div id="container-archives">
        <div id="results-archives"></div>
    </div>
</section>


<script>

    $(document).ready(function() {
        $('#reset-btn').click(function() {
            window.location.reload(); // Recharge la page actuelle
        });
     });

    // ARCHIVED EVENTS
    $(document).ready(function() {
        function toggleEvents(url) {
            var container = $('#container-last-events');
            if (container.css('display') !== 'none') {
                container.css('display', 'none');
            }
            $.ajax({
                url: url,
                method: 'POST',
                dataType: 'json',
                success: function(response) {
                    $('#results-archives').empty();
                    response.forEach(function(item) {
                        var eventType = '';
                        if (item.type === 'EVENT') {
                            eventType = 'Event';
                        } else if (item.type === 'EXPO') {
                            eventType = 'exposition';
                        } else {
                            eventType = 'workshop';
                        }
    
                        var html = '<div class="event-container">' +
                            '<figure>' +
                            '<div></div>' +
                            '</figure>' +
                            '<div class="content">' +
                            '<p class="type">' + eventType + '</p>' +
                            '<h2 class="text-n2">' + item.name + '<span>_</span></h2>' +
                            '<p>' + item.startDate + ' <span> | </span> ' + item.endDate + '</p>' +
                            '</div>' +
                            '</div>';
    
                        $('#results-archives').append(html);
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error while retrieving past content :', error);
                }
            });
        }
    
        $('#showAllWorkshops').click(function() {
            toggleEvents('/all-past-workshops');
        });

        $('#showAllExpos').click(function() {
            toggleEvents('/all-past-expositions');
        });


        $('#showAllEvents').click(function() {
            toggleEvents('/all-past-events');
        });
    
        $('#showAll').click(function() {
            toggleEvents('/all-past-content');
        });
    });

    
    gsap.from('.categories', 1.2, {opacity: 0, delay: 0.4 });

    $(document).ready(function() {
        // Select the first four images and add the "visible" class to them
        $('.event-container-animation:lt(4)').addClass('visible');
        // Trigger animation for the remaining images based on scroll
        $(window).scroll(function() {
            $('.event-container-animation:not(.visible)').each(function() {
                if ($(this).offset().top < $(window).scrollTop() + $(window).height() - 100) {
                    $(this).addClass('visible');
                }
            });
        });

    });


</script>

{% endblock %}
