{% extends 'base.html.twig' %}

{% block title %}Art Events - MOSAIC{% endblock %}
{% block meta %}Discover inspiring art events on MOSAIC. Join us for enriching experiences, cultural exchanges, and meaningful connections. Explore our events now!{% endblock %}

{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">OUR EVENTS</h1>
        <div class="subtitle">
            <p class="banner-text">Be curious</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<div class="breadcrumb breadcrumb-dark">
    <p><a href="{{ path('app_homepage') }}">Home </a> > All Events </p>
</div>

<section class="content" id="events-index">
    {% for event in ongoingEvents %}

        <div class="container-event">
            <div id="picture-event">
                <figure>
                    <a href="{{ path('show_event', { slug : event.slug  }) }}"><img src="{{ asset('images/event_img.jpg') }}" alt=""></a>
                </figure>
            </div>
            <div id="infos-event">
                <h2 class="text-n1">{{event.name}}<span class="">_</span></h2>
                <p id="resume-event">{{event.description}}</p>
                <div id="details-event">
                    <p><span>Date : </span> {{event.startDate|formatDate}} <span>|</span> {{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p> 
                    <p><span>Statut : </span>
                    
                        <span class="status {{ event.status == 'OPEN' ? 'open' : 
                        (event.status == 'CLOSED' ? 'closed' : 
                        (event.status == 'PENDING' ? 'pending' : 
                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                        </span>

                    </p>
                    <p><span>Access : </span> {{event.access}}</p>
                    <p><span>Capacity : </span> {{event.nbReversationMade}}  /  {{event.nbRooms}}</p>

                </div>
                <div id="btn-event">
                    <div class="button btn6"><a href="{{ path('show_event', { slug : event.slug  }) }}">LEARN MORE</a></div>
                    
                </div>
            </div>
        </div>
    {% endfor %}

</section>
  

<div class="past-event-title">
    <h3>See past events </h3> 
    <div class="past-event-btn"><i class="ri-eye-close-fill"></i></div>
</div>

<div class="past-events" style="display:block">
    {% for event in pastEvents %}
    <div>
        <p>
            <span class="name">{{event.name}}</span> 
            <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                (event.status == 'CLOSED' ? 'closed' : 
                                (event.status == 'PENDING' ? 'pending' : 
                                (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                {{ event.status }}
            </span>
        
        </p>

        
        <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
        <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>

        <p>{{event.description}}</p>

        <a href="{{ path('show_archived_event', {slug : event.slug  }) }}">See details <i class="fa-solid fa-plus"></i></a>
        <hr>
    </div>
    {% endfor %}
</div>


<script src= "{{ asset('js/pagesShow.js') }}"></script>

{% endblock %}
