{% extends 'base.html.twig' %}

{% block title %}List Events!{% endblock %}

{% block body %}

    <h1>Events:</h1>

    <p>LIST:</p>



    {% for event in events %}
        <p>name: {{event.name}}</p>
        <p>description: {{event.description}}</p>
        <p>dates: {{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
        {# <p>Capacity {{ reservationCounts[event.id] }} / {{event.nbRooms}}</p> #}

        <p>Capacity: {{event.nbReversationMade}}  /  {{event.nbRooms}}</p>
        <p>Remaining: {{event.nbReversationRemaining}}</p>
        <p>status: {{ event.status}}</p>

        <a href="{{ path('show_event', {'id' : event.id }) }}">see more</a>
        <hr>

    {% endfor %}

    <p>SEE PREVIOUS EVENTS:</p>

{% endblock %}
