{% extends 'base.html.twig' %}

{% block title %}Art Events - MOSAIC{% endblock %}
{% block meta %}Discover inspiring art events on MOSAIC. Join us for enriching experiences, cultural exchanges, and meaningful connections. Explore our events now!{% endblock %}

{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">OUR EVENTS</h1>
        <div class="subtitle">
            <p class="banner-text">Be curious</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<div class="breadcrumb breadcrumb-dark">
    <p><a href="{{ path('app_home') }}">Home </a> > All Events </p>
</div>

<section class="content" id="events-index">
    {% for event in ongoingEvents %}
        <div class="container-event">
            <div id="picture-event">
                {% for picture in event.pictures %}
                <figure>
                    <a href="{{ path('show_event', { slug : event.slug  }) }}">
                    <img src="{{ asset('images/activity/event/' ~ event.id ~ '/banner/' ~ picture.path) }}" alt="{{ picture.altDescription }}"></a>
                </figure>
                 {% endfor %}

            </div>
            <article id="infos-event">
                <h2 class="text-n1">{{event.name}}<span class="">_</span></h2>
                <p id="resume-event">{{event.description}}</p>
                <div id="details-event">
                    <p><span>Date : </span> {{event.startDate|formatDate}} <span>|</span> {{event.startDate|date('H:i')}}</p> 
                    <p><span>Statut : </span>
                        <span class="status {{ event.status == 'OPEN' ? 'open' : 
                        (event.status == 'CLOSED' ? 'closed' : 
                        (event.status == 'PENDING' ? 'pending' : 
                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                        </span>
                    </p>
                    <p><span>Access : </span> {{event.access}}</p>
                    <p><span>Capacity : </span> {{event.nbReversationMade}}  /  {{event.nbRooms}}</p>
                </div>
                <div id="btn-event">
                    <div class="button btn6"><a href="{{ path('show_event', { slug : event.slug  }) }}">LEARN MORE</a></div>
                </div>
            </article>
        </div>
    {% endfor %}

</section>
  
<div id="previous-link">
    <p class="past-event-btn"><i class="ri-eye-close-fill"></i></p>
    <div>
        <h3>To see all our previous events </h3>
        <a href="{{ path('app_archives')}}">check here <i class="ri-arrow-right-double-fill"></i> </a> 
    </div>
</div>

<script src= "{{ asset('js/pagesShow.js') }}"></script>

<script>

</script>

{% endblock %}
