{% extends 'base.html.twig' %}

{% block title %}List Events!{% endblock %}

{% block body %}

    <h1>Events :</h1>


    <div class="ongoing-events">

        
            {% for event in ongoingEvents %}
            <div>
                <p>
                    <span class="name">{{event.name}}</span> 
                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                        (event.status == 'CLOSED' ? 'closed' : 
                                        (event.status == 'PENDING' ? 'pending' : 
                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                    </span>
                
                </p>
                <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
                <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
        
                <p>{{event.description}}</p>
                
                {# <p>Capacity {{ reservationCounts[event.id] }} / {{event.nbRooms}}</p> #}
        
                <p>Capacity : {{event.nbReversationMade}}  /  {{event.nbRooms}} - Remaining : {{event.nbReversationRemaining}}</p>
    
                <a href="{{ path('show_event', { slug : event.slug  }) }}">See details <i class="fa-solid fa-plus"></i></a>
                <hr>
            </div>
            {% endfor %}
         

        
    </div>

    <div class="past-event-title">
        <h2>See past events </h2> 
        <div class="past-event-btn"><i class="ri-eye-close-fill"></i></div>
    </div>

    <div class="past-events" style="display:none">
        {% for event in pastEvents %}
        <div>
            <p>
                <span class="name">{{event.name}}</span> 
                <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                    (event.status == 'CLOSED' ? 'closed' : 
                                    (event.status == 'PENDING' ? 'pending' : 
                                    (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                    {{ event.status }}
                </span>
            
            </p>

           
            <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
            <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
    
            <p>{{event.description}}</p>

            <a href="{{ path('show_event', {slug : event.slug  }) }}">See details <i class="fa-solid fa-plus"></i></a>
            <hr>
        </div>
        {% endfor %}
    </div>

    <h1>Calendrier des événements</h1>

    <div id="calendar" data-formatted-events='{{ formattedEvents|raw }}'></div>
{#     
{{ dump(formattedEvents)}} #}



{% endblock %}
