{% extends 'base.html.twig' %}

{% block title %}List Events!{% endblock %}
{% block meta %}list of events {% endblock %}

{% block body %}

<div class="banner">
    <div>
        <h1 class="banner-title">OUR EVENTS</h1>
        <p class="banner-text">Text text<span class="underscore-static">_</span></p>
    </div>
</div>

<section class="content" id="events-index">

    <div id="container-event">
        <div id="picture-event">
            <figure>
                <div></div>
            </figure>
        </div>
        <div id="infos-event">
            <h2 class="text-n1">Event Name<span class="">_</span></h2>
            <p id="resume-event">Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet</p>
            <div id="details-event">
                <p><span>Date : </span> 02.03.2024</p>
                <p><span>Statut : </span> Open</p>
                <p><span>Capacity : </span> 3/10</p>

            </div>
            <div id="btn-event">
                <div class="button btn6">SEE MORE</div>
            </div>
        </div>
    </div>

</section>




    <div class="ongoing-events">

        
            {% for event in ongoingEvents %}
            <div>
                <p>
                    <span class="name">{{event.name}}</span> 
                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                        (event.status == 'CLOSED' ? 'closed' : 
                                        (event.status == 'PENDING' ? 'pending' : 
                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                    </span>
                
                </p>
                <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
                <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
        
                <p>{{event.description}}</p>
                
                {# <p>Capacity {{ reservationCounts[event.id] }} / {{event.nbRooms}}</p> #}
        
                <p>Capacity : {{event.nbReversationMade}}  /  {{event.nbRooms}} - Remaining : {{event.nbReversationRemaining}}</p>
    
                <a href="{{ path('show_event', { slug : event.slug  }) }}">See details <i class="fa-solid fa-plus"></i></a>
                <hr>
            </div>
            {% endfor %}
         

        
    </div>

    <div class="past-event-title">
        <h2>See past events </h2> 
        <div class="past-event-btn"><i class="ri-eye-close-fill"></i></div>
    </div>

    <div class="past-events" style="display:none">
        {% for event in pastEvents %}
        <div>
            <p>
                <span class="name">{{event.name}}</span> 
                <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                    (event.status == 'CLOSED' ? 'closed' : 
                                    (event.status == 'PENDING' ? 'pending' : 
                                    (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                    {{ event.status }}
                </span>
            
            </p>

           
            <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
            <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
    
            <p>{{event.description}}</p>

            <a href="{{ path('show_event', {slug : event.slug  }) }}">See details <i class="fa-solid fa-plus"></i></a>
            <hr>
        </div>
        {% endfor %}
    </div>

    {# <h1>Calendrier des événements</h1>

    <div id="calendar" data-formatted-events='{{ formattedEvents|raw }}'></div> #}
{#     
{{ dump(formattedEvents)}} #}



{% endblock %}
