{% extends 'base.html.twig' %}

{% block title %}Event participation{% endblock %}
{% block meta %}Event participation{% endblock %}

{% block body %}

<h1>Event participation</h1>


{{ form_start(formSendParticipation)}}
    {{ form_errors(formSendParticipation)}}

    {{ form_row(formSendParticipation.firstname)}}
    {{ form_row(formSendParticipation.lastname)}}
    {{ form_row(formSendParticipation.submit)}}

{{ form_end(formSendParticipation)}}


{% endblock %}
