{% extends 'base.html.twig' %}

{% block title %}Detail Event{% endblock %}
{% block metal %}Detail Event{% endblock %}

{% block body %}

<div class="banner">
    <div>
        <h1 class="banner-title">{{area.name}}</h1>
        <p class="banner-text">Text text<span class="underscore-static">_</span></p>
    </div>
</div>

<section class="content" id="events-show">
    <div id="header">
        <figure>
            <img></img>
        </figure>
    </div>

    <div id="details-event">
        <h2>LALALALALA</h2>
        <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Lorem Ipsn gravida nibh vel melit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Lorem Ipsn gravida nibh vel velit auct or aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit.</p>
    </div>

</section>



    <div class="ongoing-events">
        <div>
            <p>
                <span class="name">{{area.name}}</span> 
                <span class="status {{ area.status == 'OPEN' ? 'open' : 
                                    (area.status == 'CLOSED' ? 'closed' : 
                                    (area.status == 'PENDING' ? 'pending' : 
                                    (area.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                    {{ area.status }}
                </span>
            
            </p>
            <p>{{area.startDate|formatDate}} - {{area.endDate|formatDate}} </p>
            <p>{{area.startDate|date('H:i')}} - {{area.endDate|date('H:i')}}</p>
    
            <p>{{area.description}}</p>
    
            <p>Capacity : {{area.nbReversationMade}}  /  {{area.nbRooms}} - Remaining : {{area.nbReversationRemaining}}</p>

        </div>
   
    </div>


    {% if area.status != 'ARCHIVED' %}
        {% if area.status == 'PENDING' %}
            <p>Registration will open soon</p>
        {% else %}
            <p>Do you want to participate ?<br>
            {% if existingParticipation %}
                <p>You are already participating</p>
            {% elseif area.nbReversationRemaining == 0 and area.status == 'CLOSED' %}
                <p>No more space available for this exhibition</p>
            {% elseif area.status == 'OPEN' %}
                <a href="{{ path('new_event_participation', {'id': area.id }) }}">Click here!</a></p>
            {% endif %}
            
            </p>
        {% endif %}
    {% endif %}

        
        <script>

        </script>
        
{% endblock %}
