{% extends 'base.html.twig' %}

{% block title %}Detail Event{% endblock %}
{% block metal %}Detail Event{% endblock %}

{% block body %}

    <h1>Event:</h1>   
    <h2>Detail:</h2> <br>

    <div class="ongoing-events">
        <div>
            <p>
                <span class="name">{{area.name}}</span> 
                <span class="status {{ area.status == 'OPEN' ? 'open' : 
                                    (area.status == 'CLOSED' ? 'closed' : 
                                    (area.status == 'PENDING' ? 'pending' : 
                                    (area.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                    {{ area.status }}
                </span>
            
            </p>
            <p>{{area.startDate|formatDate}} - {{area.endDate|formatDate}} </p>
            <p>{{area.startDate|date('H:i')}} - {{area.endDate|date('H:i')}}</p>
    
            <p>{{area.description}}</p>
    
            <p>Capacity : {{area.nbReversationMade}}  /  {{area.nbRooms}} - Remaining : {{area.nbReversationRemaining}}</p>

        </div>
   
    </div>


    {% if area.status != 'ARCHIVED' %}
        {% if area.status == 'PENDING' %}
            <p>Registration will open soon</p>
        {% else %}
            <p>Do you want to participate ?<br>
            {% if existingParticipation %}
                <p>You are already participating</p>
            {% elseif area.nbReversationRemaining == 0 and area.status == 'CLOSED' %}
                <p>No more space available for this exhibition</p>
            {% elseif area.status == 'OPEN' %}
                <a href="{{ path('new_event_participation', {'id': area.id }) }}">Click here!</a></p>
            {% endif %}
            
            </p>
        {% endif %}
    {% endif %}

        
        
        
{% endblock %}
