
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<style>
    body {
        background-color: #151515;
    }
</style>


<div class="banner">
    <div class="content">
        <h1 class="banner-title">LOGIN</h1>
        <div class="subtitle">
            <p class="banner-text">Subtitle</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<section class="content login-user" id="register-user">
    <div id="register-container">
        <div id="separator">

        </div>
        <div class="left-register" id="l-login">
           
        </div>

        <div class="right-register" id="r-login">
            <div id="title-register">
                <h2>LOGIN<span class="underscore">_</span></h2>
                <p>Welcome back, happy to see you again ! </p>
            </div>

            <div id="form-register">
                <form method="post">
                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    {% endif %}
                    
                    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
                    <div></div>
                    <div>
                        <label for="inputEmail">E-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    
                    <div>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    
                    
                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                    >

                    <a href="{{ path('app_forgot_password_request') }}"><p id="new-password">Forgotten password?</p></a>
                    
                    <button class="btn btn6 " type="submit">
                        Log in
                    </button>
                </form>
                
     
            </div>

            <p id="create-account">New here ? <a href="{{ path('app_register') }}">Create an account ! </a></p>
        </div>
    </div>

</section>





<h3>test google auth</h3>


<a href="
https://accounts.google.com/o/oauth2/v2/auth?scope=email&access_type=online&redirect_uri=<?= urlencode('http://127.0.0.1:8000/connect') ?>&response_type=code&client_id=<?= GOOGLE_ID ?>">test google
</a>


{# <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=email&access_type=online&redirect_uri={{ url('connect') | url_encode }}&response_type=code&client_id={{ GOOGLE_ID }}">test google2</a> #}

<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=email&access_type=online&redirect_uri={{ 'http://127.0.0.1:8000/connect'|url_encode }}&response_type=code&client_id={{ GOOGLE_ID }}">test google3</a>

 {# client_id=client_id"> #}


<script src= "{{ asset('js/gsap.min.js') }}"></script>

<script>

    gsap.from("#register-user", {
        opacity: 0, 
        duration: 1.2, 
        ease: "easeInOut", 
        delay: 0.8
    });

    gsap.from("#l-login", {
        opacity: 0, 
        duration: 1.6, 
        ease: "easeInOut", 
        delay: 1.5
    });

    gsap.from("#r-login", {
        opacity: 0, 
        duration: 1.6, 
        ease: "easeInOut", 
        delay: 1.7
    });

    gsap.from("#separator", {
        x : 100,
        opacity: 0, 
        duration: 1.6, 
        ease: "easeInOut", 
        delay: 2
    });


    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('#form-register input');
        
        inputs.forEach(function(input) {
            if (!input.matches('#terms-register input')) {
                 input.addEventListener('focus', function() {
                     this.style.borderColor = '#f0bd2f'; 
                     this.previousElementSibling.style.color = '#f0bd2f'; 
                 });
         
                 //blur event is triggered when the input field loses focus
                 input.addEventListener('blur', function() {
                     this.style.borderColor = '#939393'; 
                     this.previousElementSibling.style.color = ''; 
                 });
             }
        });
    });
  </script>


{% endblock %}

       
  
   