
{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}

<h1>BUTTONS</h1>

<div class="component">
    <div class='btn2 btn-color btn-l-r'>button</div>
    <div class="space"></div>
    <div class='btn3'>button</div>
</div>

<h1>HOVER</h1>

<div class="component component-hover">
    <div id="hover1">
        <img  src="{{ asset('images/image.jpg') }}" alt="">
        <p id="text">Some text </p>
    </div>
    <div id="hover2">
        <img src="{{ asset('images/image.jpg') }}" alt="">
        <p id="text2">Some text <span>_</span> </p>
    </div>
    <div id="hover3">
        <img src="{{ asset('images/image.jpg') }}" alt="">
        <p id="text3">Some text <span>_</span> </p>
    </div>
    <div id="hover4">
        <img src="{{ asset('images/image.jpg') }}" alt="">
        <p id="text4">Some text <span>_</span> </p>
    </div>
    <div id="hover5">
        <img src="{{ asset('images/image.jpg') }}" alt="">
        <p id="text5">Some text <span>_</span> </p>
    </div>
</div>

<script>

</script>


{% endblock %}
