{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <style>
        body {
            background-color: #151515;
        }
    </style>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


        <div class="banner">
            <div>
                <h1>SIGN UP</h1>
                <p>Be a member<span class="underscore-static">_</span></p>
            </div>
        </div>

    
        <section class="content" id="register-user">
        
            <div id="register-container">
                <div id="separator">

                </div>
                <div id="left-register">
                   
                </div>
    
                <div id="right-register">
                    <div id="title-register">
                        <h2>SIGN UP<span class="underscore">_</span></h2>
                        <p>to become a fragment of Mosaic</p>
                    </div>
    
                    <div id="form-register">
                        {{ form_start(registrationForm) }}
                        {{ form_errors(registrationForm) }}
                        
                            
                            {{ form_row(registrationForm.email) }} 
                            {{ form_row(registrationForm.information) }}
                            {{ form_row(registrationForm.username) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}
                    
                        <div id="terms-register">
                            {{ form_label(registrationForm.agreeTerms) }}
                            <p>
                                <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a>
                                {{ form_errors(registrationForm.agreeTerms) }}
                                {{ form_widget(registrationForm.agreeTerms) }}
                            </div>
                            
                        </div>

                        
                    
                            <button type="submit" class="btn" id="btn-register">Register</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
    
       </section>
       
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('#form-register input');
        
        inputs.forEach(function(input) {
            if (!input.matches('#terms-register input')) {
                 input.addEventListener('focus', function() {
                     this.style.borderColor = '#f0bd2f'; 
                     this.previousElementSibling.style.color = '#f0bd2f'; 
                 });
         
                 //blur event is triggered when the input field loses focus
                 input.addEventListener('blur', function() {
                     this.style.borderColor = '#939393'; 
                     this.previousElementSibling.style.color = ''; 
                 });
             }
        });
    });
  </script>


    

    

   
{% endblock %}
