{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

       {# Personnalisez le rendu du champ "agreeTerms" #}
    <div>
        {{ form_label(registrationForm.agreeTerms) }}
        <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a>
        {{ form_errors(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.agreeTerms) }}
    </div>


        

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
