{% extends 'base.html.twig' %}

{% block title %}List Expositions{% endblock %}
{% block meta %}List Expositions{% endblock %}

{% block body %}

<h1>Expositions list (ongoing ones)</h1>

{# {{ dump(existingProposals) }} 
{{ dump(proposalCounts) }} #}

{% for expo in expos %}
    <p>name: {{expo.name}}</p>
    <p>description: {{expo.description}}</p>
    <p>dates: {{expo.startDate|formatDate}} - {{expo.endDate|formatDate}} </p>
    <p>Capacity: {{expo.nbRooms}}</p>
    <p>Number of Proposals: {{ proposalCounts[expo.id] }}</p> - {{expo.status}}

    {% if expo.status == 'OPEN' %}
        <p>Inscriptions open - click <a href="{{ path('show_exposition', {'id' : expo.id})}}">here</a></p>
    {% else %}
        <p>Inscriptions not open</p>
    {% endif %}
    
    <hr>
    <p>Want to showcase your work in this exposition?</p>
    
    {% if is_granted('ROLE_ARTIST') %}
        
        {% if existingProposals[expo.id] %}
            <p>You have an existing proposal for this exposition.</p>
        {% else %} 
        <p>Make a request : <a href="{{ path('new_exposition_proposal', {'id': expo.id }) }}">Make a request</a></p>
        {% endif %}
    
    {% else %}
        {# else they need to submit a form to get the artist status/role #}
        <p>You are not an artist, you can't make a request for an expostion.</p>
        <p>You can get the role by submitting a form: <a href="#">HERE</a></p>
    {% endif %}
    
    <hr>
    <hr>
    {% endfor %}


{% endblock %}
