{% extends 'base.html.twig' %}

{% block title %}Partipate to an exhibition{% endblock %}
{% block meta %}Partipate to an exhibition{% endblock %}

{% block body %}

<h1>Partipate to an exhibition</h1>

{{ form_start(formSendParticipation)}}
    {{ form_errors(formSendParticipation)}}

    {{ form_row(formSendParticipation.firstname)}}
    {{ form_row(formSendParticipation.lastname)}}
    {{ form_row(formSendParticipation.submit)}}

{{ form_end(formSendParticipation)}}

{% endblock %}
