{% extends 'base.html.twig' %}

{% block title %}Art Studios - MOSAIC{% endblock %}
{% block meta %}Explore our dedicated art studios on MOSAIC, each offering unique spaces for creative expression. Discover the perfect environment to nurture your artistic talents. Dive into our studio now!{% endblock %}

{% block body %}

<div class="banner">
        <div class="content">
            <h1 class="banner-title">{{area.name}}</h1>
            <div class="subtitle">
                <p class="banner-text">Subtitle</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>


<div class="breadcrumb breadcrumb-dark">
        <p><a href="{{ path('app_homepage') }}">Home </a> >  <a href="{{ path('app_exposition') }}">All Expositions</a> > {{area.name}}</p>
</div>

<section class="" id="event-show">
        <div id="header">
                <figure>
                        <img src="{{ asset('images/expo_img.jpg') }}" alt="">
                </figure>
                <div id="quote">
                        <span id="quote-style"><</span>
                        <p id="quote-text"> {{area.quote}}</p>
                        <span id="quote-style">></span>
                </div>
        </div>
        
        <div id="details-event">
                <div id="about-event">
                        <h3 class="text-n1">About the <span id="subtitle">{{area.name}}</span><span class="underscore">_</span></h2>
                        <p>{{area.detail}}</p>
                </div>

                <div id="info">
                        <p class="text-n2">Info<span id="info-underscore">_</span></p>
                        <div id="list-infos">
                                <div id="list-info">

                                        <div>
                                                <span>Date : </span>  <span></span> <p>{{area.startDate|formatDate}} <span> - </span> {{area.startDate|date('H:i')}}</p>
                                        </div>

                                        <div>
                                                <span style="visibility:hidden;">Date : </span>  <span></span> <p>{{area.endDate|formatDate}} <span> - </span> {{area.endDate|date('H:i')}}</p>
                                        </div>

                                        <div><span>Capacity :</span> <span></span> <p>{{area.nbReversationMade}}  / {{ area.nbRooms}}  </p> </div>
       
                                        <div><span>Status :</span> <span></span> 
                                                <div>
                                                        <span class="status {{ area.status == 'OPEN' ? 'open' : 
                                                        (area.status == 'CLOSED' ? 'closed' : 
                                                        (area.status == 'PENDING' ? 'pending' : 
                                                        (area.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                                                        {{ area.status }}
                                                        </span>
                                                </div> 
                                        </div>
                                        
                                        {% for artist in area.expositionProposals %}
                                                {% if loop.first %}
                                                        <a href="{{ path('show_artist', {slug: artist.user.slug, id: artist.user.id}) }}"><div><span style="visibility:visible;">Artists :</span> <span></span><p>{{ artist.user.artistInfos.artistName }}</p> </div></a>
                                                {% else %}
                                                        <a href="{{ path('show_artist', {slug: artist.user.slug, id: artist.user.id}) }}"><div><span style="visibility:hidden;">Artists :</span> <span></span><p>{{ artist.user.artistInfos.artistName }}</p> </div></a>
                                                {% endif %}
                                        {% endfor %}
                                </div>
                        </div>
                </div>


                {% if app.user %}
                {% if existingParticipation %}
                        <div id="expo-participate">
                                <div id="btn-event">
                                        <div class="button btn-off">PARTICIPATE</div>
                                </div>
                                <p>You are already participating in this exhibition.</p>
                        </div>
                        
                {% else %}  
                        {% if area.nbReversationRemaining == 0 and area.status == 'CLOSED' %}

                        <div id="expo-participate">
                                <div id="btn-event">
                                        <div class="button btn-off">PARTICIPATE</div>
                                </div>
                                <p>No more space available for this exhibition.</p>
                        </div>
                                
                {% elseif area.status == 'OPEN' %}
                        <div id="expo-participate">
                                <a href="{{ path('new_exposition_participation', {'id': area.id }) }}">
                                <div id="btn-event">
                                        <div id="btn-participate-expo" class="button btn6">PARTICIPATE</div>
                                </div>
                                </a>
                                
                        </div>
                        {% endif %}
                {% endif %}
                {% else %}
                        <p>you must register to be able to participate</p>
                {% endif %}

                
        </div>       
    </section>


    <script src= "{{ asset('js/pagesShow.js') }}"></script>


{% endblock %}
