{% extends 'base.html.twig' %}

{% block title %}{{area.name}} details{% endblock %}
{% block meta %}Explore MOSAIC's upcoming art exhibition. Discover talented artists, engage in conversations, and immerse yourself in creativity. Learn more about {{area.name}}!{% endblock %}

{% block body %}

<div class="banner">
        <div class="content">
            <h1 class="banner-title">{{area.name}}</h1>
            <div class="subtitle">
                <p class="banner-text">Be amazed</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>


<div class="breadcrumb breadcrumb-dark">
        <p><a href="{{ path('app_home') }}">Home </a> >  <a href="{{ path('app_exposition') }}">All Expositions</a> > {{area.name}}</p>
</div>

<section class="" id="event-show">
        <div id="header">
                {% for picture in area.pictures %}
                {% if picture.type != 'picture' %}
                        <figure>
                        <img src="{{ asset('images/activity/expo/' ~ area.id ~ '/banner/' ~ picture.path) }}" alt="{{ picture.altDescription }}"></a>
                        </figure>
                {% endif %}
                {% endfor %}
                        
                
                <div id="quote">
                        <span id="quote-style"><</span>
                        <p id="quote-text"> {{area.quote}}</p>
                        <span id="quote-style">></span>
                </div>
        </div>
        
        <div id="details-event">
                <div id="about-event">
                        <h3 class="text-n1">About the <span id="subtitle">{{area.name}}</span><span class="underscore">_</span></h2>
                        <p>{{area.detail}}</p>
                </div>

                <div id="info">
                        <p class="text-n2">Info<span id="info-underscore">_</span></p>
                        <div id="list-infos">
                                <div id="list-info">

                                        <div>
                                                <span>Date : </span>  <span></span> <p>{{area.startDate|formatDate}} <span> - </span> {{area.startDate|date('H:i')}}</p>
                                        </div>

                                        <div>
                                                <span style="visibility:hidden;">Date : </span>  <span></span> <p>{{area.endDate|formatDate}} <span> - </span> {{area.endDate|date('H:i')}}</p>
                                        </div>

                                        <div><span>Capacity :</span> <span></span> <p>{{area.nbReversationMade}}  / {{ area.nbRooms}}  </p> </div>
       
                                        <div><span>Status :</span> <span></span> 
                                                <div>
                                                        <span class="status {{ area.status == 'OPEN' ? 'open' : 
                                                        (area.status == 'CLOSED' ? 'closed' : 
                                                        (area.status == 'PENDING' ? 'pending' : 
                                                        (area.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                                                        {{ area.status }}
                                                        </span>
                                                </div> 
                                        </div>
                                        <div><span>Access :</span> <span></span> <p>{{area.access}}  </p> </div>
                                        
                                        {% for artist in area.expositionProposals %}
                                                {% if loop.first %}
                                                        <a href="{{ path('show_artist', {slug: artist.user.slug, id: artist.user.id}) }}"><div><span style="visibility:visible;">Artists :</span> <span></span><p>{{ artist.user.artistInfos.artistName }}</p> </div></a>
                                                {% else %}
                                                        <a href="{{ path('show_artist', {slug: artist.user.slug, id: artist.user.id}) }}"><div><span style="visibility:hidden;">Artists :</span> <span></span><p>{{ artist.user.artistInfos.artistName }}</p> </div></a>
                                                {% endif %}
                                        {% endfor %}
                                </div>
                        </div>
                </div>

                {% if app.user %}
                        {% if existingParticipation %}
                                <div id="expo-participate">
                                        <div id="btn-event">
                                                <div class="button btn-off">PARTICIPATE</div>
                                        </div>
                                        <p>You are already participating in this exhibition.</p>
                                </div>
                        {% endif %}
                {% endif %}

                {% if area.nbReversationRemaining == 0 and area.status == 'CLOSED' %}
                <div id="expo-participate">
                        <div id="btn-event">
                                <div class="button btn-off">PARTICIPATE</div>
                        </div>
                        <p>No more space available for this exhibition.</p>
                </div>
                {% elseif area.status == 'CLOSED' %}
                <div id="expo-participate">
                <div id="expo-participate">
                        <div id="btn-event">
                                <div class="button btn-off">PARTICIPATE</div>
                        </div>
                        <p>This exposition is closed.</p>
                </div>
                </div>
                {% elseif area.status == 'OPEN' %}
                {% if area.access == 'private' and not app.user %}
                        {# user is not login and the event is private #}
                        <div id="expo-participate">
                        <div id="btn-event">
                                <div class="button btn-off">PARTICIPATE</div>
                        </div>
                        <p>You must be logged in to participate in this exhibition.</p>
                        </div>
                {% else %}
                        <div id="expo-participate">
                        <div id="btn-event">
                                <a href="{{ path('new_exposition_participation', {'id': area.id }) }}"><div id="btn-participate-expo" class="button btn6">PARTICIPATE</div></a>
                        </div>
                        </div>
                {% endif %}
                {% endif %}

                
        </div>       
    </section>

        {% if app.request.attributes.get('_route') == 'show_archived_exposition' %}

        <section style="margin-top: 6rem;" id="gallery">
                <h3  id="text-gallery"class="text-n2">Memories from this expositions<span>_</span></h3>
                <div id="images">

                {% for image in area.pictures %}
                        {% if image.type == "picture" %}
                <div class="artist-container ">
                        <figure>
                        <div id="hover2">
                                <img src="{{asset('images/artists/' ~ area.slug ~'/works/mini/500x500-') ~ image.path }}" alt="{{image.altDescription}}">

                                <p id="text2"> {{image.title}}<span>_</span> </p>
                        </div>
                        </figure>
                </div>
                {% endif %}
                {% endfor %}

                </div>
        </section>
        {% endif %}


    



    <script src= "{{ asset('js/pagesShow.js') }}"></script>


{% endblock %}
