{% extends 'base.html.twig' %}

{% block title %}List Expositions{% endblock %}
{% block meta %}List Expositions{% endblock %}

{% block body %}

<div class="banner">
        <div>
            <h1 class="banner-title">{{area.name}}</h1>
            <p class="banner-text">Text text<span class="underscore-static">_</span></p>
        </div>
    </div>
    
    <section class="" id="event-show">
        <div id="header">
                <figure>
                        <img src="{{ asset('images/expo_img.jpg') }}" alt="">
                </figure>
                <div id="quote">
                        <span><</span>
                        <p> Velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed nibh vel a sit amet nibh </p>
                        <span>></span>
                    </div>
            </div>
        
        <div id="details-event">
                <div id="about-event">
                        <h3 class="text-n1">About the <span id="subtitle">{{area.name}}</span><span class="underscore">_</span></h2>
                        <p>{{area.detail}}</p>
                </div>

                <div id="info">
                        <p class="text-n2">Info<span id="info-underscore">_</span></p>
                        <div id="list-infos">
                                <div id="list-info">

                                        <div>
                                                <span>Date : </span>  <span></span> <p>{{area.startDate|formatDate}} <span> - </span> {{area.startDate|date('H:i')}}</p>
                                        </div>

                                        <div>
                                                <span style="visibility:hidden;">Date : </span>  <span></span> <p>{{area.endDate|formatDate}} <span> - </span> {{area.endDate|date('H:i')}}</p>
                                        </div>

                                        <div><span>Capacity :</span> <span></span> <p>{{area.nbReversationMade}}  / {{ area.nbRooms}}  </p> </div>
       
                                        <div><span>Status :</span> <span></span> 
                                                <div>
                                                        <span class="status {{ area.status == 'OPEN' ? 'open' : 
                                                        (area.status == 'CLOSED' ? 'closed' : 
                                                        (area.status == 'PENDING' ? 'pending' : 
                                                        (area.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                                                        {{ area.status }}
                                                        </span>
                                                </div> 
                                        </div>
                                        
                                        {% for artist in area.expositionProposals %}
                                                {% if loop.first %}
                                                        <a href="{{ path('show_artist', {slug: artist.user.slug, id: artist.user.id}) }}"><div><span style="visibility:visible;">Artists :</span> <span></span><p>{{ artist.user.artistInfos.artistName }}</p> </div></a>
                                                {% else %}
                                                        <a href="{{ path('show_artist', {slug: artist.user.slug, id: artist.user.id}) }}"><div><span style="visibility:hidden;">Artists :</span> <span></span><p>{{ artist.user.artistInfos.artistName }}</p> </div></a>
                                                {% endif %}
                                        {% endfor %}
                                </div>
                        </div>
                </div>

                {% if existingParticipation %}
                        <div id="expo-participate">
                                <div id="btn-event">
                                        <div class="button btn-off">PARTICIPATE</div>
                                </div>
                                <p>You are already participating in this exhibition.</p>
                        </div>
                        
                {% else %}  
                        {% if area.nbReversationRemaining == 0 and area.status == 'CLOSED' %}

                        <div id="expo-participate">
                                <div id="btn-event">
                                        <div class="button btn-off">PARTICIPATE</div>
                                </div>
                                <p>No more space available for this exhibition.</p>
                        </div>
                                
                {% elseif area.status == 'OPEN' %}
                        <div id="expo-participate">
                                {# <a href="{{ path('new_exposition_participation', {'id': area.id }) }}"></a> #}
                                <div id="btn-event">
                                        <div id="btn-participate-expo" class="button btn6">PARTICIPATE</div>
                                </div>
                        </div>
                        {% endif %}
                {% endif %}
        </div>       
    </section>

    <section id="participate-expo">
        <div id="form">
                {{ form_start(formSendParticipation)}}
                        {{ form_errors(formSendParticipation)}}

                        {{ form_row(formSendParticipation.firstname)}}
                        {{ form_row(formSendParticipation.lastname)}}
                        {{ form_row(formSendParticipation.submit)}}

                {{ form_end(formSendParticipation)}}
        </div>
        <div id="btn-participate">

        </div>
    </section>

    <script>
        // display the header with a delay 
        setTimeout(function() {
        $('#header').css('opacity','1');}, 400);

        // display #details-event on scroll
        document.addEventListener('DOMContentLoaded', function() {
                // Function to check if an element is visible in the viewport
                function isElementInViewport(el) {
                    const rect = el.getBoundingClientRect();
                     // Check if the element is within the viewport boundaries
                    return rect.top >= 0 && rect.left >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && rect.right <= (window.innerWidth || document.documentElement.clientWidth);
                }
            
                const detailsEvent = document.getElementById('details-event');

                 // Function to check and show 'details-event' when it becomes visible in the viewport
                function checkAndShowEvent() {
                        // Check if 'details-event' is within the viewport
                        if (isElementInViewport(detailsEvent)) {
                        // Set the opacity of 'details-event' to 1 to make it visible
                        detailsEvent.style.opacity = '1';
                        }
                }
               // Add event listener to detect scrolling
                window.addEventListener('scroll', checkAndShowEvent);

                // Wait for a delay of 1 second after page load to check if 'details-event' is in the viewport
                setTimeout(checkAndShowEvent, 1000);
        });
                    
    </script>

{% endblock %}
