{% extends 'base.html.twig' %}

{% block title %}List Expositions{% endblock %}
{% block meta %}List Expositions{% endblock %}

{% block body %}

<h1>Expositions detail</h1>

<h2>Infos</h2> <br>
<p>Name: {{area.name}}</p>
<p>Description: {{area.description}}</p>
<h2>Artists:</h2> <br>

<ul>
{% for artist in area.expositionProposals %}
        <li>{{ artist.user.artistInfos.artistName }}  | <a href="{{ path('show_artist', {'id': artist.id }) }}">See more</a> </li>  
        {% endfor %}
        </ul>

{# {{ dump(area.expositionProposals) }} #}
{# force l'initialisation de la collection #}
{# {{ area.expositionProposals|length }}  #}
{# {{ dump(area.expositionProposals) }} #}



<h3>Participate</h3> <br>
<p>Want to participate ? <br>



{% if existingParticipation %}
        <p>You are already participating in this exhibition</p>
{% else %}  
        {% if area.nbReversationRemaining == 0 and area.status == 'CLOSED' %}
                <p>No more space available for this exhibition</p>
        {% elseif area.status == 'OPEN' %}
                <a href="{{ path('new_exposition_participation', {'id': area.id }) }}">Participate</a></p>
        {% else %}
                <p>Invalid status for participation</p>
        {% endif %}
{% endif %}





{# {% for artist in area %}
    <p>Name: {{area.user.username}}</p>
{% endfor %} #}


{% endblock %}
