{% extends 'base.html.twig' %}

{% block title %}Workshops page{% endblock %}
{% block meta %}List of the workshops{% endblock %}


{% block body %}

<div class="banner">
    <div>
        <h1 class="banner-title">OUR WORKSHOPS</h1>
        <p class="banner-text">Text text<span class="underscore-static">_</span></p>
    </div>
</div>

<section class="content" id="events-index">
    {% for workshop in ongoingWorkshop %}

        <div class="container-event">
            <div id="picture-event">
                <figure>
                    <div></div>
                </figure>
            </div>
            <div id="infos-event">
                <h2 class="text-n1">{{workshop.name}}<span class="">_</span></h2>
                <p id="resume-event">{{workshop.description}}</p>
                <div id="details-event">
                    <p><span>Date : </span> {{workshop.startDate|formatDate}} <span>|</span> {{workshop.startDate|date('H:i')}} - {{workshop.endDate|date('H:i')}}</p> 
                    <p><span>Statut : </span>
                    
                        <span class="status {{ workshop.status == 'OPEN' ? 'open' : 
                        (workshop.status == 'CLOSED' ? 'closed' : 
                        (workshop.status == 'PENDING' ? 'pending' : 
                        (workshop.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ workshop.status }}
                        </span>

                    </p>
                    <p><span>Capacity : </span> {{workshop.nbRegistrationMade}}  /  {{workshop.nbRooms}}</p>

                </div>
                <div id="btn-event">
                    <div class="button btn6"><a href="{{ path('show_workshop', { slug : workshop.slug  }) }}">SEE MORE</a></div>
                    
                </div>
            </div>
        </div>
    {% endfor %}

</section>



{#     
        
        <div>
            <p>
                <span class="name">{{workshop.name}}</span> 
                <span class="status {{ workshop.status == 'OPEN' ? 'open' : 
                                    (workshop.status == 'CLOSED' ? 'closed' : 
                                    (workshop.status == 'PENDING' ? 'pending' : 
                                    (workshop.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                    {{ workshop.status }}
                </span>
            
            </p>

            <p>{{workshop.startDate|formatDate}} - {{workshop.endDate|formatDate}} </p>
            <p>{{workshop.startDate|date('H:i')}} - {{workshop.endDate|date('H:i')}}</p>
        
            <p>{{workshop.description}}</p>
    
            <p>Capacity: {{workshop.nbRegistrationMade}}  /  {{workshop.nbRooms}} - Remaining: {{workshop.nbRegistrationRemaining}}</p>
            
    
            <p><a href="{{ path('show_workshop', {slug: workshop.slug }) }}">See details <i class="fa-solid fa-plus"></i></a></p>
    
            <hr>
        </div> #}
 

    

    <div class="past-event-title">
        <h2>See past events </h2> 
        <div class="past-event-btn"><i class="ri-eye-close-fill"></i></div>
    </div>

    <div class="past-events" style="display:none">
        {% for event in pastWorkshop %}
        <div>
            <p>
                <span class="name">{{event.name}}</span> 
                <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                    (event.status == 'CLOSED' ? 'closed' : 
                                    (event.status == 'PENDING' ? 'pending' : 
                                    (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                    {{ event.status }}
                </span>
            
            </p>

           
            <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
            <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
    
            <p>{{event.description}}</p>

            <a href="{{ path('show_workshop', {slug : event.slug  }) }}">See details <i class="fa-solid fa-plus"></i></a>
            <hr>
        </div>
        {% endfor %}
    </div>

    <script src= "{{ asset('js/gsap.min.js') }}"></script>
    <script src= "{{ asset('js/pagesShow.js') }}"></script>

{% endblock %}
