{% extends 'base.html.twig' %}

{% block title %}Workshop page{% endblock %}
{% block meta %}workshop detail{% endblock %}


{% block body %}

    <h1>workshop detail:</h1>
    {# {{dump(workshop)}} #}

    <p>Name: {{workshop.name}}</p>
        {# <p>Dates: {{startDate}} - {{endDate}}</p> #}
    <p>Description: {{workshop.description}}</p>
    <p>Rooms: {{workshop.nbRooms}}</p>

    <p>Participate:</p>
    {# mettre condition en fonction de statut et statut type
        ouvrir formulaire pour rentrer nom et prénom, bien demander validation
    puis mettre à jour base de donnée
    envoyer pdf et /ou email avec pdf en pièce jointe
     #}


    {# {{ dump(existingRegistration)}} #}

    {% if existingRegistration %}
        <p>You are already participating in this workshop</p>
    {% else %}
        
        {% if workshop.nbRegistrationRemaining == 0 and workshop.status == 'CLOSED' %}
                <p>No more space available for this exhibition</p>
            {% elseif workshop.status == 'OPEN' %}
                <a href="{{ path('new_workshop_registration', {'id': workshop.id }) }}">Participate</a></p>
            {% else %}
        {% endif %}
    {% endif %}



{% endblock %}
