{% extends 'base.html.twig' %}

{% block title %}Workshop page{% endblock %}
{% block meta %}workshop detail{% endblock %}


{% block body %}

    <h1>workshop detail:</h1>
    {# {{dump(workshop)}} #}

    <p>Name: {{workshop.name}}</p>
        {# <p>Dates: {{startDate}} - {{endDate}}</p> #}
    <p>Description: {{workshop.description}}</p>
    <p>Rooms: {{workshop.nbRooms}}</p>

    <p>Participate:</p>

    {% if workshop.status != 'ARCHIVED' %}
    {% if workshop.status == 'PENDING' or workshop.status == 'CLOSED'  %}
        <p>Registration will open soon</p>
    {% else %}
        <p>Do you want to participate ?<br>
        {% if existingRegistration %}
            <p>You are already participating</p>
        {% elseif workshop.nbRegistrationRemaining == 0 and workshop.status == 'CLOSED' %}
            <p>No more space available for this exhibition</p>
        {% elseif workshop.status == 'OPEN' %}
            <a href="{{ path('new_workshop_registration', {'id': workshop.id }) }}">Click here!</a></p>
        {% endif %}
        
        </p>
    {% endif %}
    {% endif %}



{% endblock %}
