{% extends 'base.html.twig' %}

{% block title %}{{workshop.name}} details - MOSAIC{% endblock %}
{% block meta %}Discover our immersive workshop on MOSAIC. Multiple days of creative exploration with diverse modules. Join us and unleash your creativity. Reserve now!{% endblock %}


{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">{{workshop.name}}</h1>
        <div class="subtitle">
            <p class="banner-text">Be adventurous</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<div class="breadcrumb breadcrumb-dark">
    <p><a href="{{ path('app_home') }}">Home </a> >  <a href="{{ path('app_workshop') }}">All Workshops</a> > {{workshop.name}} </p>
</div>

<section class="" id="event-show">
    <div id="header">
            {% for picture in workshop.pictures %}
            <figure>
                <img src="{{ asset('images/activity/workshop/' ~ workshop.id ~ '/banner/' ~ picture.path) }}" alt="{{ picture.altDescription }}"></a>
            </figure>
            {% endfor %}
            <div id="quote">
                    <span id="quote-style"><</span>
                    <p id="quote-text"> {{workshop.quote}}</p>
                    <span id="quote-style">></span>
            </div>
    </div>
    
    <div id="details-event">
        <div id="about-event">
                <h3 class="text-n1">About the <span id="subtitle">{{workshop.name}}</span><span class="underscore">_</span></h2>
                <p>{{workshop.detail}}</p>
        </div>

        <div id="info">
            <p class="text-n2">Info<span id="info-underscore">_</span></p>
            <div id="list-infos">
                <div id="list-info-workshop">

                    <div >
                            <span>Date : </span>  <span></span> <p>{{workshop.startDate|formatDate}} - {{workshop.endDate|formatDate}}</p>
                    </div>

                    <div><span>Capacity :</span> <span></span> <p> {{workshop.nbRegistrationMade}} / {{ workshop.nbRooms}}  </p> </div>

                    <div><span>Modules :</span> <span></span>
                            <p> 
                            {% set counter = 0 %}
                            {% for programme in workshop.programmes %}
                            {% set counter = counter + 1 %}
                            {% endfor %}
                            {{ counter}}
                        </p> 
                    </div>
                    
                    <div><span>Duration :</span> <span></span> 
                        <p>  
                            
                        {% set totalDurationMinutes = 0 %}
            
                        {% for programme in workshop.programmes %}
                        
                            {% set lessonDurationMinutes = (programme.endDate.timestamp - programme.startDate.timestamp) / 60 %}
                            {% set totalDurationMinutes = totalDurationMinutes + lessonDurationMinutes %}
            
                        {% endfor %}
                        {% set totalHours = totalDurationMinutes // 60 %}
                        {% set remainingMinutes = totalDurationMinutes % 60 %}
                        
                        {% if totalHours > 0 %}
                            {% if remainingMinutes > 0 %}
                                {{ totalHours }}hrs {{ remainingMinutes }}min
                            {% else %}
                                {{ totalHours }}hrs
                            {% endif %}
                        {% else %}
                            {{ remainingMinutes }}min
                        {% endif %}
                        </p> 
                    </div>
                    
                    <div><span>Status :</span> <span></span> 
                            <div>
                                <span class="status {{ workshop.status == 'OPEN' ? 'open' : 
                                (workshop.status == 'CLOSED' ? 'closed' : 
                                (workshop.status == 'PENDING' ? 'pending' : 
                                (workshop.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                                {{ workshop.status }}
                                </span>
                            </div> 
                    </div>
                    
                </div>
            </div>
            
        </div>

 
        {% if app.user %}
        {% if user.subscriptions is not empty %}
        {% set hasActiveSubscription = false %}
        {% for subscription in user.subscriptions %}
            {% if subscription.isActive %}
                {% set hasActiveSubscription = true %}
            {% endif %}
        {% endfor %}
        
        {% if hasActiveSubscription %}
            {% if workshop.status != 'ARCHIVED' %}
                {% if workshop.status == 'PENDING' or workshop.status == 'CLOSED'  %}
                <div id="expo-participate">
                        <div id="btn-event">
                                <div class="button btn-off">PARTICIPATE</div>
                        </div>
                        <p>Registration will open soon</p>
                </div>
                    
                {% else %}
                    {% if existingRegistration %}
                    <div id="expo-participate">
                            <div id="btn-event">
                                    <div class="button btn-off">PARTICIPATE</div>
                            </div>
                            <p>You are already participating</p>
                    </div>
                        
                    {% elseif workshop.nbRegistrationRemaining == 0 and workshop.status == 'CLOSED' %}
                    <div id="expo-participate">
                            <div id="btn-event">
                                    <div class="button btn-off">PARTICIPATE</div>
                            </div>
                            <p>No more space available for this workshop</p>
                    </div>
                        
                    {% elseif workshop.status == 'OPEN' %}

                    <div id="expo-participate">

                        <a href="{{ path('new_workshop_registration', {'id': workshop.id }) }}">
                            <div id="btn-event">
                                <div class="button btn6">PARTICIPATE</div>
                            </div>
                        </a></p>
                        
                    </div>
                        
                    {% endif %}
                    </p>
                {% endif %}
            {% endif %}
        {% else %}
            {# Content for user without an active subscription #}
            <div id="expo-participate">
                <div id="btn-event">
                        <div class="button btn-off">PARTICIPATE</div>
                </div>
                <p>You must have a valid subscription to benefit from this service.<a href="{{ path('app_subscription') }}"> <span id="check-here">Check here !</span></a></p>
                
            </div>

            
        {% endif %}
    {% else %}
        {# Content for user without any subscriptions #}
        <div id="expo-participate">
            <div id="btn-event">
                    <div class="button btn-off">PARTICIPATE</div>
            </div>
            <p>You must have signed up for a subscription to benefit from this service. 
                {# <span id="link-subscription" ><a href="{{ path('app_subscription') }}">Check our subscription plans here <i class="ri-sparkling-2-line"></i> </a></span></p> #}

                <span id="link-subscription" ><a href="{{ path('app_subscription') }}">Check our subscription plans here <i class="ri-sparkling-2-line"></i> </a></span></p>
            
        </div>
        
    {% endif %}
        {% else %}
        <div id="btn-event">
            <div class="button btn-off">PARTICIPATE</div>
            <p>You must <a href="{{ path('app_subscription') }}">register to be able to participate</p></a>
        </div>
            
        {% endif %}




        
    </div>  
    
    <div id="modules-workshop" >
        <p class="text-n2">Modules<span id="info-underscore">_</span></p>
        <div id="modules-list">
            {# initialize the counter to 1 #}
            {% set counter = 1 %}
            {% for programme in workshop.programmes %}
            <div class="module-details">
                <div>
                    <p>0{{ counter }}.</p> 
                    <p> </p>
                    <p>{{ programme.lesson.name }} - </p>
                </div>
                {% set counter = counter + 1 %} {# Incrementing the module counter #}
                {# Calculating the duration of this lesson in minutes #}
                {% set lessonDurationMinutes = (programme.endDate.timestamp - programme.startDate.timestamp) / 60 %}
                {# Calculating hours and minutes for this lesson #}
                {% set lessonHours = lessonDurationMinutes // 60 %}
                {% set lessonRemainingMinutes = lessonDurationMinutes % 60 %}
                
                <p>{{programme.startDate|formatDate}}<span> | </span></p>  
                <p>{{programme.startDate|date('H:i')}} - {{programme.endDate|date('H:i')}} 
                    
                {% if lessonRemainingMinutes == 0 %}
                    {# If the remaining minutes are equal to 0, display only the number of hours #}
                    ({{ lessonHours }}hrs) 
                {% else %}
                    {# Otherwise, display the number of hours and remaining minutes #}
                    ({{ lessonHours }}hrs {{ lessonRemainingMinutes }}min)
                {% endif %}
                </p>
            </div>
            {% endfor %}
    
        </div>
        
        
    
    </div>

    
</section>




<script src= "{{ asset('js/gsap.min.js') }}"></script>
<script src= "{{ asset('js/pagesShow.js') }}"></script>


{% endblock %}


