{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}
{% block meta %}Discover our artist community{% endblock %}

{% block body %}
    <h1>Artists</h1>

    <h2>Search 2</h2>
    {# Formulaire de recherche par pseudo #}
    {{ form_start(formArtistSearch, {'method': 'POST'}) }}
    {{ form_row(formArtistSearch.username) }}
    {{ form_row(formArtistSearch.discipline) }}
    <button type="submit">Search</button>
    {{ form_end(formArtistSearch) }}
    
    
    {# Formulaire de recherche par activité #}
    {# {{ form_start(formDisciplineSearch, {'action': path('app_artist_search_discipline'), 'method': 'POST'}) }}
    {{ form_widget(formDisciplineSearch) }}
    <button type="submit">Search by Discipline</button>
    {{ form_end(formDisciplineSearch) }} #}

 

    <h2>Last Artists added:</h2>

 
    {% if searchResults %}
        <h2>Search results</h2>
    {% else %}
        <h2>All artists</h2>
    {% endif %}
   
    

    <div class="artists-container">
        {% for artist in artists %}    
        <div class="artist-container">
            <p>
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}">{{ artist.artistInfos.artistName }}</a>

            </p>
            <p>{{ artist.artistInfos.discipline }}</p>
            <p id="{{artist.id}}">
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}"><i class="ri-eye-close-fill"></i></a>
            </p>
        
            <div>
                <img src="" alt="picture of the artist">
            </div>
    
        </div>
        {% endfor %}
    </div>

    <div id="search-results"></div>

    <script>

    </script>
  
{% endblock %}


