{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}
{% block meta %}Discover our artist community{% endblock %}

{% block body %}
    <h1>Artists</h1>

    <h2>Search 2</h2>
    {{ form_start(formArtistSearch, {'method': 'POST'}) }}
    {{ form_errors(formArtistSearch)}}
    
    {{ form_row(formArtistSearch.username, {
        'attr': {'minlength': 3}
    }) }}
    

    {{ form_row(formArtistSearch.discipline, {
        'attr': {'minlength': 3} 
    }) }}

    <button type="submit">Search</button>
    {{ form_end(formArtistSearch) }}



    <form method="GET" action="{{ path('app_artist') }}">
        <label for="discipline">Choose a discipline:</label>
        <select id="discipline" name="discipline">
            {% for discipline in disciplines %}
                <option value="{{ discipline }}" >{{ discipline }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    
    
    <h2>Last Artists added:</h2>

 
    {% if searchResults %}
        <h2>Search results</h2>
    {% else %}
        <h2>All artists</h2>
    {% endif %}
   
    

    <div class="artists-container">
        {% for artist in artists %}    
        <div class="artist-container">
            <p>
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}">{{ artist.artistInfos.artistName }}</a>

            </p>
            <p>{{ artist.artistInfos.discipline }}</p>
            <p id="{{artist.id}}">
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}"><i class="ri-eye-close-fill"></i></a>
            </p>
        
            <div>
                <img src="" alt="picture of the artist">
            </div>
    
        </div>
        {% endfor %}
    </div>

    <div id="search-results"></div>

    <script>

    </script>
  
{% endblock %}


