{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}
{% block meta %}Discover our artist community{% endblock %}

{% block body %}

    <div class="banner">
        <div>
            <h1>DISCOVER THE ARTISTS</h1>
            <p>Be Inspired<span class="underscore-static">_</span></p>
        </div>
    </div>

    </div>

    <section class="content" id="artists-index">
        <div id="artists-container">
            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
             <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>

            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
             <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>

            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
            <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>
             <div class="artist-container">
                <figure>
                    <div id="hover2">
                        <img src="{{ asset('images/image.jpg') }}" alt="">
                        <p id="text2">Some text <span>_</span> </p>
                    </div>
                </figure>
            </div>

            
        </div>
    </section>

    {% if searchResults %}
    <h2>Search results</h2>
    {% else %}
    <h2>All artists</h2>
    {% endif %}


    <h2>Search 2</h2>
    {{ form_start(formArtistSearch, {'method': 'POST'}) }}
    {{ form_errors(formArtistSearch)}}
    
    {{ form_row(formArtistSearch.username, {
        'attr': {'minlength': 3}
    }) }}
    

    {{ form_row(formArtistSearch.discipline, {
        'attr': {'minlength': 3} 
    }) }}

    <button type="submit">Search</button>
    {{ form_end(formArtistSearch) }}



    <form method="GET" action="{{ path('app_artist') }}">
        <label for="discipline">Choose a discipline:</label>
        <select id="discipline" name="discipline">
            {% for discipline in disciplines %}
                <option value="{{ discipline }}" >{{ discipline }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>


    <div class="categories">
        <div class="category" data-category="all" onclick="showArtists('all')">Show All</div>
        <div class="category" data-category="Illustration" onclick="showArtists('Illustration')">Illustration</div>
        <div class="category" data-category="photography" onclick="showArtists('photography')">Photography</div>
        <div class="category" data-category="Design" onclick="showArtists('Design')">Design</div>
    </div>

    
    
    <h2>Last Artists added:</h2>

 

    <div id="artists-container2" class="artist-grid">
        {% for artist in artists %}    
        <div class="artist {{ artist.artistInfos.category }}">
             <div>
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}">{{ artist.artistInfos.artistName }}</a>
            </div>
            <p>{{ artist.artistInfos.discipline }}</p>
            <p>{{ artist.artistInfos.category }}</p>
            <p id="{{artist.id}}">
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}"><i class="ri-eye-close-fill"></i></a>
            </p>
            <picture>
            </picture>
        </div>
        {% endfor %}
    </div>


    

    <div id="search-results"></div>

    {# <div id="filter-category-artists">
        <p>Show all</p>
        <p>Illustration</p>
        <p>Craft</p>
        <p>Photography</p>
        <p>Design</p>
        <p>Textile</p>
        <p>Other</p>
    </div>
   #}
       {# Jquery #}
       <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
       <script src="{{ asset('js/main.js') }}"></script>
       <script src="{{ asset('js/gwl.js') }}"></script>

    <script>
        $(document).ready(function() {
            // Sélectionner les trois premières images et leur ajouter la classe "visible"
            $('.artist-container:lt(3)').addClass('visible');
        
            // Déclencher l'animation pour les images restantes en fonction du scroll
            $(window).scroll(function() {
                $('.artist-container:not(.visible)').each(function() {
                    if ($(this).offset().top < $(window).scrollTop() + $(window).height() - 100) {
                        $(this).addClass('visible');
                    }
                });
            });
        });

        function showArtists(category) {
            // If the category is "all", display all artists and return
            if (category === 'all') {
                $('.artist').css('display', 'block');
                return;
            }
 
        
            // Display artists corresponding to the selected category
            $('.artist').each(function() {
                if ($(this).hasClass(category)) {
                    $(this).css('display', 'block'); 
                } else {
                    $(this).css('display', 'none'); 
                }
            });
        
            // Check if any artists are displayed for the selected category
            var found = $('.artist.' + category + ':visible').length > 0;
        
            // If no artists are found, display "No result found"
            if (!found) {
                $('#artists-container2').html('<div>No result found</div>');
            }
        }
        
    </script>

    
  
{% endblock %}


