{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}
{% block meta %}Discover our artist community{% endblock %}

{% block body %}
    <h1>Artists</h1>

    <h2>Last Artists added:</h2>

    <h2>All artists:</h2>

    <div class="artists-container">
        {% for artist in artists %}    
        <div class="artist-container">
            <p>
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}">{{ artist.artistInfos.artistName }}</a>

            </p>
            <p>{{ artist.artistInfos.discipline }}</p>
            <p id="{{artist.id}}">
                <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}"><i class="ri-eye-close-fill"></i></a>
            </p>
        
            <div>
                <img src="" alt="picture of the artist">
            </div>
    
        </div>
        {% endfor %}
    </div>

  
{% endblock %}


