{% extends 'base.html.twig' %}

{% block title %}Explore Our Artist Community - MOSAIC{% endblock %}
{% block meta %}Dive into our vibrant artist community on MOSAIC. Discover talented artists from various disciplines and explore their captivating works. Use filters to search by name or artistic discipline, and embark on a journey of discovering new forms of art. Start exploring now!{% endblock %}


{% block body %}

    <div class="banner">
        <div class="content">
            <h1 class="banner-title">DISCOVER THE ARTISTS</h1>
            <div class="subtitle">
                <p class="banner-text">Be Inspired</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>
    
    {% if is_granted('ROLE_ARTIST') %}
        {# don't show the popup to become an artist #}
    {% else %}
        <div id="popup-role-artist">
            <p>Do you want to be a part of the artist communauty?</p>
            <div>
                <p><a href="{{ path('get_role_artist') }}">Learn more</a></p>
                <p id="close-popup-btn">Not now</p>
            </div>
            <div id="star">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
    {% endif %}

    <section class="content" id="artists-index">
        <div class="categories">
            <div id="all" class="category" data-category="all" onclick="showArtists('all')">Show All</div>
            <div class="category" data-category="Illustration" onclick="showArtists('Illustration')">Illustration</div>
            <div class="category" data-category="photography" onclick="showArtists('photography')">Photography</div>
            <div class="category" data-category="Design" onclick="showArtists('Design')">Design</div>
            <div class="category" data-category="Craft" onclick="showArtists('Craft')">Craft</div>
            <div class="category" data-category="Textile" onclick="showArtists('Textile')">Textile</div>
            <div class="category" data-category="Other" onclick="showArtists('Other')">Other</div>

            <div class="" id="more-filters-btn"> <span id="cross-filters"></span>filters</div>
            {# <div class="" id="more-filters-btn"> <span><i class="ri-add-fill"></i></span>filters</div> #}
        </div>
    
    {% if searchResults %}
    <h2></h2>
    {% else %}
    <h2></h2>
    {% endif %}

  

    {# FILTER / SEARCH #}
    <div id="more-filters" style="display:none;" >
        <div class="form-search-username-discipline">
            
            {{ form_start(formArtistSearch, {'method': 'POST'}) }}
                <p>SEARCH BY</p>
                {{ form_errors(formArtistSearch)}}
                {{ form_row(formArtistSearch.username, {
                    'attr': {'minlength': 3}
                }) }}
                {{ form_row(formArtistSearch.discipline, {
                    'attr': {'minlength': 3} 
                }) }}
                <button type="submit">Search</button>
            {{ form_end(formArtistSearch) }}
        </div>
        
        {# <div  class="form-select-discipline">
            <form method="GET" action="{{ path('app_artist') }}">
                <label for="discipline">Choose a discipline:</label>
                <select id="discipline" name="discipline">
                    {% for discipline in disciplines %}
                        <option value="{{ discipline }}" >{{ discipline }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter</button>
            </form>
        </div> #}
    </div>
    

    {# DISPLAY ARTIST #}
    <section id="artists-container" class="artist-grid">
        {% for artist in artists %}  
            {% if artist.isPublished == 1 %}
                <div class="artist {{ artist.artistInfos.category }} artist-container">

                    <figure>
                        <div id="hover2">
                            {% if artist.pictures is not empty %}
                                {% set hasSelectedPicture = false %}
                                {% for picture in artist.pictures %}
                                    {% if picture.type == 'work' and picture.IsSelected == 1 %}
                                            {% set hasSelectedPicture = true %}
                                            <a href="{{ path('show_artist', {slug: artist.slug}) }}">
                                                <img src="{{ asset('images/artists/' ~ artist.id ~ '/works/mini/500x500-' ~ picture.path) }}" alt="{{ picture.altDescription }}">
                                            </a>
                                    
                                    {% endif %}
                                {% endfor %}

                                {% if not hasSelectedPicture %}
                                    {# Si pas d'image sélectionnée, afficher la 1° image dispo #}
                                    {% set firstWorkPicture = artist.pictures|filter(picture => picture.type == 'work')|first %}
                                    {% if firstWorkPicture is defined %}
                                        <a href="{{ path('show_artist', {slug: artist.slug}) }}">
                                            <img src="{{ asset('images/artists/' ~ artist.id ~ '/works/mini/500x500-' ~ firstWorkPicture.path) }}" alt="{{ firstWorkPicture.altDescription }}">
                                        </a>
                                    {% else %}
                                        {# afficher image par défaut? #}
                                    {% endif %}
                                {% endif %}
                                {% else %}
                                    {# afficher image par défaut? #}
                            {% endif %}
                            <a href="{{ path('show_artist', {slug: artist.slug}) }}"><p id="text2">{{ artist }} <span>_</span> </p></a>
                        </div>
                    </figure>

                </div>
            {% endif %}
                
        {% endfor %}
    </section>

    <section id="search-results"></section>
    <div id="no-result-message" style="display: none;">No result found</div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/gwl.js') }}"></script>
    <script src= "{{ asset('js/gsap.min.js') }}"></script>

    <script>

        gsap.from('.categories', 1.2, {opacity: 0, delay: 0.4 });

        $(document).ready(function() {
            // Select the first three images and add the "visible" class to them
            $('.artist-container:lt(3)').addClass('visible');
            // Trigger animation for the remaining images based on scroll
            $(window).scroll(function() {
                $('.artist-container:not(.visible)').each(function() {
                    if ($(this).offset().top < $(window).scrollTop() + $(window).height() - 100) {
                        $(this).addClass('visible');
                    }
                });
            });

            // display popup after 4s
            gsap.to('#popup-role-artist', 0.4, {right: 0, opacity: 1, delay: 6});

            //close popup for artist role
            $('#close-popup-btn').click(function(){
                gsap.to('#popup-role-artist', 0.6, {right: "-15.5rem", opacity: 1});
                setTimeout(function() {
                    $('#star').css('opacity', '1'); 
                }, 700); //
            });

            $('#star').click(function(){

                gsap.to('#popup-role-artist', 0.6, {right: 0, opacity: 1});
            });

            /*$('#star').hover(function() {
                $(this).find('i').removeClass('fa-star').addClass('fa-star fa-spin');
            }, function() {
                $(this).find('i').removeClass('fa-star fa-spin').addClass('fa-star');
            });*/


        });

        function showArtists(category) {
            // hide the no result message
            $('#no-result-message').hide();
            // If the category is "all", display all artists and return
            if (category === 'all') {
                $('.artist').css('display', 'block');
                return;
            }
            // Display artists corresponding to the selected category
            $('.artist').each(function() {
                if ($(this).hasClass(category)) {
                    $(this).css('display', 'block'); 
                } else {
                    $(this).css('display', 'none'); 
                }
            });
            // Check if any artists are displayed for the selected category
            var found = $('.artist.' + category + ':visible').length > 0;
            // If no artists are found, display "No result found"
            if (!found) {
                $('#no-result-message').show().text('No result found');
            }
        }

        // show / hide more filters
        var isClicked = false;
        $('#more-filters-btn').click(function(){
            $("#more-filters").slideToggle();
           
            if (!isClicked) {
                $('#cross-filters ').css('transform', 'rotate(45deg)', 'scale(1.5)');
                
            } else {
                $('#cross-filters ').css('transform', 'rotate(0deg)');
            }
            isClicked = !isClicked;
        });
    </script>

{% endblock %}


