{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}
{% block meta %}Discover our artist community{% endblock %}

{% block body %}

    <div class="banner">
        <div>
            <h1 class="banner-title">DISCOVER THE ARTISTS</h1>
            <p class="banner-text">Be Inspired<span class="underscore-static">_</span></p>
        </div>
    </div>

    

    <section class="content" id="artists-index">

        <div class="categories">
            <div id="all" class="category" data-category="all" onclick="showArtists('all')">Show All</div>
            <div class="category" data-category="Illustration" onclick="showArtists('Illustration')">Illustration</div>
            <div class="category" data-category="photography" onclick="showArtists('photography')">Photography</div>
            <div class="category" data-category="Design" onclick="showArtists('Design')">Design</div>
            <div class="category" data-category="Craft" onclick="showArtists('Craft')">Craft</div>
            <div class="category" data-category="Textile" onclick="showArtists('Textile')">Textile</div>
            <div class="category" data-category="Other" onclick="showArtists('Other')">Other</div>

            <div class="" id="more-filters-btn"> <span id="cross-filters"></span>filters</div>
        {# <div class="" id="more-filters-btn"> <span><i class="ri-add-fill"></i></span>filters</div> #}

        </div>
    

    {% if searchResults %}
    <h2></h2>
    {% else %}
    <h2></h2>
    {% endif %}


    {# FILTER / SEARCH #}

    <div id="more-filters" style="display:none;" >
        <div class="form-search-username-discipline">
            
            {{ form_start(formArtistSearch, {'method': 'POST'}) }}
                <p>SEARCH BY</p>
                {{ form_errors(formArtistSearch)}}
                {{ form_row(formArtistSearch.username, {
                    'attr': {'minlength': 3}
                }) }}
                {{ form_row(formArtistSearch.discipline, {
                    'attr': {'minlength': 3} 
                }) }}
                <button type="submit">Search</button>
            {{ form_end(formArtistSearch) }}
        </div>
        
        {# <div  class="form-select-discipline">
            <form method="GET" action="{{ path('app_artist') }}">
                <label for="discipline">Choose a discipline:</label>
                <select id="discipline" name="discipline">
                    {% for discipline in disciplines %}
                        <option value="{{ discipline }}" >{{ discipline }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter</button>
            </form>
        </div> #}
    </div>
    

    {# DISPLAY ARTIST #}
    <section id="artists-container" class="artist-grid">
        {% for artist in artists %}  
            {% if artist.isPublished == 1 %}
                <div class="artist {{ artist.artistInfos.category }} artist-container">

                    <figure>
                        <div id="hover2">
                            <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}"><img src="{{ asset('images/image.jpg') }}" alt=""></a>

                            <a href="{{ path('show_artist', {slug: artist.slug, id: artist.id}) }}"><p id="text2">{{artist}} <span>_</span> </p></a>

                        {# <p id="text2">{{artist.artistInfos.discipline}}</p> #}
                            
                        </div>
                
                    </figure>

                </div>
            {% endif %}
                
            {% endfor %}
    </section>

    <section id="search-results"></section>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/gwl.js') }}"></script>

    <script src= "{{ asset('js/gsap.min.js') }}"></script>

    <script>

        gsap.from('.categories', 1.2, {opacity: 0, delay: 0.4 });

        $(document).ready(function() {
            // Select the first three images and add the "visible" class to them
            $('.artist-container:lt(3)').addClass('visible');
        
             // Trigger animation for the remaining images based on scroll
            $(window).scroll(function() {
                $('.artist-container:not(.visible)').each(function() {
                    if ($(this).offset().top < $(window).scrollTop() + $(window).height() - 100) {
                        $(this).addClass('visible');
                    }
                });
            });
        });

        function showArtists(category) {
            // If the category is "all", display all artists and return
            if (category === 'all') {
                $('.artist').css('display', 'block');
                return;
            }
        
            // Display artists corresponding to the selected category
            $('.artist').each(function() {
                if ($(this).hasClass(category)) {
                    $(this).css('display', 'block'); 
                } else {
                    $(this).css('display', 'none'); 
                }
            });
        
            // Check if any artists are displayed for the selected category
            var found = $('.artist.' + category + ':visible').length > 0;

        
            // If no artists are found, display "No result found"
            if (!found) {
                $('#artists-container2').html('<div>No result found</div>');
            }

            
        }

        // show / hide more filters

        var isClicked = false;

        $('#more-filters-btn').click(function(){
            $("#more-filters").slideToggle();
           
            if (!isClicked) {
                $('#cross-filters ').css('transform', 'rotate(45deg)', 'scale(1.5)');
                
            } else {
                $('#cross-filters ').css('transform', 'rotate(0deg)');
            }
    
            isClicked = !isClicked;
        });





    </script>

{% endblock %}


