

{% extends 'base.html.twig' %}

{% block title %}Manage my Artist page{% endblock %}

{% block body %}
{# {{ dump(bannerExists)}} #}
<div>
    {% if bannerExists %}
        <div style="width: 1200px; height: 400px; background-color: grey;">
            <img style="width:100%; height: 100%; object-fit:cover;" src="{{ asset('images/artists/' ~ artist.id ~ '/banner/' ~ bannerExists ~ '') }}" alt="Banner">
        </div>
    {% else %}
    <div style="width: 500px; height: 100px; background-color: grey;">
            <!-- Div sans image -->
        </div>
    {% endif %}
</div>


{# <p>Banner/s</p>
{{ form_start(formAddBanner) }}
{{ form_errors(formAddBanner) }}
{{ form_row(formAddBanner.picture) }}
{{ form_row(formAddBanner.altDescription) }}
{{ form_row(formAddBanner.title) }}
<button type="submit">Add</button>
{{ form_end(formAddBanner) }} #}

<h1>Pseudo : {{ artist.artistInfos.artistName }}</h1>
<p> Mail : {{ artist.artistInfos.emailPro }}</p>
<p> Discipline : {{ artist.artistInfos.discipline }}</p>
<p> category : {{ artist.artistInfos.category }}</p>
<p> Banner : </p>

{% if artist.artistInfos.quote is defined %}
    <p>Quote : {{ artist.artistInfos.quote }}</p>
{% else %}
    <p>Quote : </p>
{% endif %}

{% if artist.artistInfos.quote is defined %}
    <p>Quote : {{ artist.artistInfos.bio }}</p>
{% else %}
    <p>Biography : </p>
{% endif %}


<p>  </p>
<p> Shop :  ?? </p>
<p> Social medias </p>
<p> Pictures </p>

{{ form_start(formEditArtist) }}
{{ form_row(formEditArtist.emailPro, {'value': artist.artistInfos.emailPro}) }}
{{ form_row(formEditArtist.discipline, {'value': artist.artistInfos.discipline}) }}
{{ form_row(formEditArtist.artistName, {'value': artist.artistInfos.artistName}) }}
{{ form_row(formEditArtist.instagram, {'value': instagram}) }}
{{ form_row(formEditArtist.behance, {'value': behance}) }}

{% if facebook %}
    {{ form_row(formEditArtist.facebook, {'value': facebook}) }}
{% else %}
    {{ form_row(formEditArtist.facebook, {'value': "add your fb link"}) }}
{% endif %}



{# {% for contact in artist.contacts %}
    {{ form_row(formEditArtist.contacts, {'value': contact.url}) }}
{% endfor %} #}



<button type="submit">Sauvegarder</button>
{{ form_end(formEditArtist) }}

{# Permettre edit avec input et ajax / select and slide pour image / bouton pour published et unpusblsih, et bouton pour aperçu profil #}

<h3>Gallery</h3>

{% if canUploadImage %}
    {{ form_start(formAddPictureGallery) }}
    {{ form_errors(formAddPictureGallery) }}

    {% for picture in picturesGallery  %}
    <div>
        <img src="{{asset('images/artists/' ~ artist.id ~'/works/mini/300x300-') ~ picture.path }}" alt="{{picture.altDescription}}" width="50">

        {# <a href="" data-delete data-token="{{csrf_token('delete' ~ picture.id )}}">delete</a> #}

        <a href=" {{ path('delete_picture', {'id': picture.id }) }}">delete</a>

    </div>
    {% endfor %}


    {{ form_row(formAddPictureGallery.picture) }}
    {{ form_row(formAddPictureGallery.altDescription) }}
    {{ form_row(formAddPictureGallery.title) }}
    <button type="submit">ajouter</button>
    {{ form_end(formAddPictureGallery) }}

{% else %}

    {% for picture in picturesGallery  %}
    <div>
        <img src="{{asset('images/artists/' ~ artist.id ~'/works/mini/300x300-') ~ picture.path }}" alt="{{picture.altDescription}}" width="50">

        {# <a href="" data-delete data-token="{{csrf_token('delete' ~ picture.id )}}">delete</a> #}

        <a href=" {{ path('delete_picture', {'id': picture.id }) }}">delete</a>

    </div>
    {% endfor %}
    <p>Maximum image limit reached. Please delete some before adding more.</p>
{% endif %}

    
{{ form_start(formPublishPageArtist) }}
    {% if artist.isPublished == 1 %}
    <button type="submit">Unpublish</button>
    {% else %}
    <button type="submit">Publish</button>
    {% endif %}
{{ form_end(formPublishPageArtist) }}





{% endblock %}

