

{% extends 'base.html.twig' %}

{% block title %}Manage my page{% endblock %}

{% block body %}

    {# si pas encore de page mettre : en créer une
    sinon éditer #}

    <div class=" cross cross-full">
        <div></div>
    </div>

    <div class="cross cross-line">
        <div></div>
    </div>

    <div class="arrow arrow-left">
    </div>

    <div class="arrow arrow-right">
    </div>

    {# <div class="cross2 ">
        <div>
            <div></div>
        </div>
    </div> #}

    <h1>My artist page (manage)</h1>

    {# <p>artist name: {{ user.artistName }}</p>
    <p>Discipline: {{user.artistDiscipline}}</p> #}

    <p>EmailPro(json): {{ user.artistInfos.emailPro }}</p>
    <p>Artist Name(json): {{ user.artistInfos.artistName }}</p>
    <p>Discipline(json): {{ user.artistInfos.discipline }}</p>

    

    {# {{ dump(user)}} #}

    {# {% if user.pictures|length > 0 %}
        <img src="{{ asset('images/artists/' ~ user.id ~'/mini/300x300-' ~ user.pictures[0].url) }}" alt="{{user.pictures[0].altDescription}}">
    {% endif %} #}

    <h2>Realisations:</h2>
    <div>
        <div class="carousel">
            {# double hyphen indicates that's a modifier #}
            <button class="button button--left is-hidden">
                <div class="arrow arrow-left"></div>
            </button>

            <div class="track-container">
                <ul class="track">

                    {% for picture in user.pictures %}
                        
                        <div class="slide{% if loop.first %} current-slide{% endif %}">
                            <img class="image" src="{{ asset('images/artists/' ~ user.id ~'/mini/300x300-' ~ picture.url) }}" alt="{{picture.altDescription}}" width="150">
                        </div>
                    {% endfor %}

                </ul>
            </div>
            <button class="button button--right">
                <div class="arrow arrow-right"></div>
            </button>

            <div class="nav">
                {% for picture in user.pictures %}
                    <button class="indicator{% if loop.first %} current-slide{% endif %}"></button>

                    {# <div class="cross cross-line{% if loop.first %}cross cross-full{% endif %}">
                        <div></div>
                    </div> #}

                {% endfor %}
            </div>
        </div>
    </div>
    
    
    
    <div>
        {% for picture in user.pictures %}
            <img class="image" src="{{ asset('images/artists/' ~ user.id ~'/mini/300x300-' ~ picture.url) }}" alt="{{picture.altDescription}}" width="150">
        {% endfor %}
    </div>

    <p><a href=" {{ path('edit_artist', {'id': app.user.id }) }}">Edit info</a></p>

    
{% endblock %}
