{% extends 'base.html.twig' %}

{% block title %}Artist profile - MOSAIC{% endblock %}
{% block meta %}Take control of your artist profile on MOSAIC. Update your bio, showcase your creations, and connect with your audience. Customize your page to reflect your unique artistic journey. Manage your artist profile now!{% endblock %}

{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">YOUR ARTIST PAGE</h1>
        <div class="subtitle">
            <p class="banner-text">Subtitle</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<section class="content" id="artist_profile">

    <div id="artist-infos">

        {# GENERAL INFOS ____________________________________________#}
        {# _________________________________________________________ #}
        <h2 class="text-n2">General informations<span>_</span></h2>
        <div class="sections-artist">
            <p> <span>Artist name : </span>{{ artist.artistInfos.artistName }}</p>
            <p> <span>Contact : </span>{{ artist.artistInfos.emailPro }}</p>
            <p> <span>Discipline :</span> {{ artist.artistInfos.discipline }}</p>
            <p> <span>Category :</span> {{ artist.artistInfos.category }}</p>

            <p><i class="fa-solid fa-pen-to-square"></i> Edit</p>
    
            <div class="forms-artist" id="form-01" style="display: none;">
                {{ form_start(formEditArtist) }}
                {{ form_row(formEditArtist.artistName,{'value': artist.artistInfos.artistName}) }}
                {{ form_row(formEditArtist.emailPro, {'value': artist.artistInfos.emailPro}) }}
                {{ form_row(formEditArtist.discipline, {'value': artist.artistInfos.discipline}) }}
                {{ form_row(formEditArtist.category, {'value': artist.artistInfos.category}) }}
            </div>
        </div>

        {# ARTIST INFOS _____________________________________________#}
        {# _________________________________________________________ #}
        <h2 class="text-n2">Artist informations<span>_</span></h2>
        <div class="sections-artist">

            {% if artist.artistInfos.bio is defined %}
                <p><span>Biography :</span></p>  
                <div class="text">
                    <p>{{ artist.artistInfos.bio }}</p>
                </div>
            {% else %}
                <p><span>Biography :</span></p>
            {% endif %}
    
            {# QUOTE #}
            {% if artist.artistInfos.quote is defined %}
                <p><span>Quote :</span></p>
                <div class="text">
                    <p>{{ artist.artistInfos.quote }}</p>
                </div>    

            {% else %}
                <p><span>Quote : </span></p>
            {% endif %}
    
            {# WEBSITE #}
            {% if artist.artistInfos.website is defined %}
                <p><span>Website :</span>  {{ artist.artistInfos.website }}</p>
            {% else %}
                <p><span>Website :</span> </p>
            {% endif %}

            <p><i class="fa-solid fa-pen-to-square"></i> Edit</p>

            <div class="forms-artist" id="form-02" style="display: none;">

                {% if artist.artistInfos.bio is defined %}
                    {{ form_row(formEditArtist.bio, {'value': artist.artistInfos.bio}) }}
                {% else %}
                    {{ form_row(formEditArtist.bio, {'value': "add your biography"}) }}
                {% endif %}
        
                {% if artist.artistInfos.quote is defined%}
                    {{ form_row(formEditArtist.quote, {'value': artist.artistInfos.quote }) }}
                {% else %}
                    {{ form_row(formEditArtist.quote, {'value': "add an inspirationale quote"}) }}
                {% endif %}
        
                {% if artist.artistInfos.website is defined%}
                    {{ form_row(formEditArtist.website, {'value': artist.artistInfos.website }) }}
                {% else %}
                    {{ form_row(formEditArtist.website, {'value': "add your website link"}) }}
                {% endif %}

            </div>
        </div>

        {# ADDRESS _________________________________________________#}
        {# _________________________________________________________ #}
        <h2 class="text-n2">Shop / address<span>_</span></h2>
        <div class="sections-artist">

            {% if artist.artistInfos.shop is defined %}
                <p><span>Shop or Gallery (name) :</span> {{ artist.artistInfos.shop }}</p>
            {% else %}
                <p><span>Shop or Gallery (name) :</span></p>
            {% endif %}
        
                
            {% if artist.artistInfos.address.country is defined %}
                <p><span>Country :</span> {{ artist.artistInfos.address.country }}</p>
            {% else %}
                <p><span>Country :</span></p>
            {% endif %}
    
            {% if artist.artistInfos.address.city is defined %}
                <p><span>City :</span> {{ artist.artistInfos.address.city }}</p>
            {% else %}
                <p><span>City :</span></p>
            {% endif %}
    
            {% if artist.artistInfos.address.street is defined %}
                <p><span>Street :</span> {{ artist.artistInfos.address.street }}</p>
            {% else %}
                <p><span>Street :</span></p>
            {% endif %}
    
            {% if artist.artistInfos.address.postalCode is defined %}
                <p><span>Postal code :</span> {{ artist.artistInfos.address.postalCode }}</p>
            {% else %}
                <p><span>Postal code :</span></p>
            {% endif %}

            <p><i class="fa-solid fa-pen-to-square"></i> Edit</p>

            <div class="forms-artist" id="form-03" style="display: none;">

                {% if artist.artistInfos.shop is defined%}
                    {{ form_row(formEditArtist.shop, {'value': artist.artistInfos.shop }) }}
                {% else %}
                    {{ form_row(formEditArtist.shop, {'value': "add your shop or gallery name"}) }}
                {% endif %}
        
                {% if artist.artistInfos.address.country is defined %}
                    {{ form_row(formEditArtist.country, {'value': artist.artistInfos.address.country}) }}
                {% else %}
                    {{ form_row(formEditArtist.country, {'value': "add your country"}) }}
                {% endif %}
        
                {% if artist.artistInfos.address.street is defined %}
                    {{ form_row(formEditArtist.street, {'value': artist.artistInfos.address.street}) }}
                {% else %}
                    {{ form_row(formEditArtist.street, {'value': "add your street"}) }}
                {% endif %}
        
                {% if artist.artistInfos.address.city is defined %}
                    {{ form_row(formEditArtist.city, {'value': artist.artistInfos.address.city}) }}
                {% else %}
                    {{ form_row(formEditArtist.city, {'value': "add your city"}) }}
                {% endif %}
        
                {% if artist.artistInfos.address.postalCode is defined %}
                    {{ form_row(formEditArtist.postalCode, {'value': artist.artistInfos.address.postalCode}) }}
                {% else %}
                    {{ form_row(formEditArtist.postalCode, {'value': "add your postal code"}) }}
                {% endif %}

            </div>
        </div>

        {# SOCIALS __________________________________________________#}
        {# _________________________________________________________ #}
        <h2 class="text-n2">Socials medias<span>_</span></h2>
        <div class="sections-artist">


            {% if artist.contacts is not empty %}
                {% for contact in artist.contacts %}
                
                    <p><span>{{ contact.name }} :</span> <a href="{{ contact.url }}">{{ contact.url }}</a></p>
                {% else %}
                    <p><span>{{ contact.name }} :</span></p>
                
                    {% endfor %}
                {% else %}
                <p>No contact information available</p>
            {% endif %}

            <p><i class="fa-solid fa-pen-to-square"></i> Edit</p>

            <div class="forms-artist" id="form-03" style="display: none;">
                {% if twitter %}
                    {{ form_row(formEditArtist.twitter, {'value': twitter}) }}
                {% else %}
                    {{ form_row(formEditArtist.twitter, {'value': "add your Twitter"}) }}
                {% endif %}
        
                {% if dribbble %}
                    {{ form_row(formEditArtist.dribbble, {'value': dribbble}) }}
                {% else %}
                    {{ form_row(formEditArtist.dribbble, {'value': "add your Dribbble "}) }}
                {% endif %}
        
                {% if instagram %}
                    {{ form_row(formEditArtist.instagram, {'value': instagram}) }}
                {% else %}
                    {{ form_row(formEditArtist.instagram, {'value': "add your Instagram"}) }}
                {% endif %}
        
                {% if behance %}
                    {{ form_row(formEditArtist.behance, {'value': behance}) }}
                {% else %}
                    {{ form_row(formEditArtist.behance, {'value': "add your Behance"}) }}
                {% endif %}

            </div>
        </div>

        <button id="btn-save-infos" class="btn btn6 btn-artist-profil" type="submit">save</button>
            {{ form_end(formEditArtist) }}


        {# BANNER __________________________________________________#}
        {# _________________________________________________________ #}
        <h2 class="text-n2">Banner<span>_</span></h2>
        <div class="sections-artist">
    
            <div>
                {% if bannerExists %}
                    <div style="width: 600px; height: 200px; background-color: grey;">
                        <img style="width:100%; height: 100%; object-fit:cover;" src="{{ asset('images/artists/' ~ artist.id ~ '/banner/' ~ bannerExists ~ '') }}" alt="Banner">
                    </div>
                {% else %}
                <div style="width: 500px; height: 100px; background-color: grey;">
                        <!-- Div sans image -->
                    </div>
                {% endif %}
            </div>
            
            <p style="margin-top: 0.6rem;"><i class="fa-solid fa-pen-to-square"></i> Edit</p>

            <div class="forms-artist" id="form-04" style="display: none;">
                {{ form_start(formAddBanner) }}
                {{ form_errors(formAddBanner) }}
                {{ form_row(formAddBanner.picture) }}
                {{ form_row(formAddBanner.title) }}
                {{ form_row(formAddBanner.altDescription) }}
                
                <button id="btn-save-banner" class="btn btn6 btn-artist-profil" type="submit">Add</button>
                {{ form_end(formAddBanner) }} 
            </div>
        </div>

        {# GALLERY __________________________________________________#}
        {# _________________________________________________________ #}
        <h2 class="text-n2">Gallery<span>_</span></h2>
            
            <div class="sections-artist ">
                <p>Maximum pictures allowed : {{maxImagesAllowed}}</p>
                <div id="gallery-artist">
                    {% for picture in picturesGallery  %}
                    <div id="gallery-img">
                        {% if picture.IsSelected == 1  %}
                            <div id="selectedImage">
                                <img src="{{asset('images/artists/' ~ artist.id ~'/works/mini/500x500-') ~ picture.path }}" alt="{{picture.altDescription}}" width="150">

                                    <div class="actions">
                                        <a href=" {{ path('delete_picture', {'id': picture.id }) }}"><i class="fa-solid fa-xmark"></i></a>
                                        <a href="{{ path('select_picture', {'id': picture.id }) }}"><div id="selectedImg"><i class="fa-solid fa-check"></i></div></a>
                                    </div>
                            </div>
                        {% else %}
                            <div id="notSelectedImage">
                                <img src="{{asset('images/artists/' ~ artist.id ~'/works/mini/500x500-') ~ picture.path }}" alt="{{picture.altDescription}}" width="150">

                                <div class="actions">
                                    <a href=" {{ path('delete_picture', {'id': picture.id }) }}"><i class="fa-solid fa-xmark"></i></a>
                                    <a href="{{ path('select_picture', {'id': picture.id }) }}"><div id="NotSelectedImg"> </div></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                
                    <p style="margin-top: 0.6rem;"><i class="fa-solid fa-pen-to-square"></i> Add</p>
                    <div class="forms-artist" id="form-04" style="display: none;">
            
                        {% if canUploadImage %}
                            {{ form_start(formAddPictureGallery) }}
                            {{ form_errors(formAddPictureGallery) }}
                            {{ form_row(formAddPictureGallery.picture) }}
                            {{ form_row(formAddPictureGallery.title) }}
                            {{ form_row(formAddPictureGallery.altDescription) }}
                            <button class="btn btn6 btn-artist-profil" type="submit">ADD</button>
                            {{ form_end(formAddPictureGallery) }}
                        
                        {% else %}
                            <p>Maximum image limit reached. Please delete some before adding more.</p>
                        {% endif %}
                        
                    </div>
            </div>

            <div id="publish">

                {% if  artist.isPublished == -1 %}
                    <div>
                        <button class="btn btn-off btn-artist-profil" style="color:white;" type="submit">Publish</button>
                       <p>You can not publish your page. It has been moderated by an administrator, its content did not meet our terms of use. <br> To learn more please <a href="{{ path('app_contact')}}">contact us</a>.</p> 
                    </div>
                    
                {% else %}
                    {{ form_start(formPublishPageArtist) }}
                    {% if artist.isPublished == 1 %}
                        <button class="btn btn6 btn-artist-profil" type="submit">Unpublish</button>
                    {% else %}
                        <button class="btn btn6 btn-artist-profil" type="submit">Publish</button>
                    {% endif %}
                {{ form_end(formPublishPageArtist) }}
                {% endif %}
                
            </div>
            
    </div>

</section>    

<script>


    $(document).ready(function() {
        $('.fa-pen-to-square').click(function() {
            $(this).closest('p').next('.forms-artist').slideToggle();
        });
    });


</script>

{% endblock %}


