{% extends 'base.html.twig' %}

{% block title %}Manage my page{% endblock %}

{% block body %}

    {# si pas encore de page mettre : en créer une
    sinon éditer #}

    <h1>My artist page (manage)</h1>

    <p>artist name: {{ user.artistName }}</p>
    <p>Discipline: {{user.artistDiscipline}}</p>

    {# {{ dump(user)}} #}

    {% if user.pictures|length > 0 %}
        <img src="{{ asset('images/artists/products/mini/300x300-' ~ user.pictures[0].url) }}" alt="">
    {% endif %}

    {# 
    {% for picture in user.pictures %}
        <img src="{{asset('images/artists/products/mini/300x300-') ~ picture.url }}" alt="">
    {% endfor %} #}


    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    <p><a href=" {{ path('edit_artist', {'id': app.user.id }) }}">Edit info</a></p>

    
{% endblock %}
