{% extends 'base.html.twig' %}

{% block title %}Join the communauty{% endblock %}

{% block body %}

    <h1>Artist form</h1>

    {% if 'ROLE_ARTIST' in userRoles %}
        <p>edit your infos</p>
    {% else %}
        <p>(to get the ROLE ARTIST + have an artist page)</p>
    {% endif %}

    {{ form_start(formAddArtist) }}
        {{ form_errors(formAddArtist) }}
        <div>{{ form_row(formAddArtist.artistName) }}</div>
        <div>{{ form_row(formAddArtist.artistDiscipline) }}</div>
        
        
        {# on affiche les images si on est en édition#}
        {% if app.request.attributes.get('_route') == 'edit_artist' %}
        <h2>Images </h2>

            {% for picture in user.pictures %}
                <div>
                    <img src="{{asset('images/artists/products/mini/300x300-') ~ picture.url }}" alt="images" width="50">

                    {# <a href="" data-delete data-token="{{csrf_token('delete' ~ picture.id )}}">delete</a> #}

                    <a href=" {{ path('delete_picture', {'id': picture.id }) }}">delete</a>

                </div>
            {% endfor %}


        {% endif %}
        
        
        <div>{{ form_row(formAddArtist.pictures) }}</div>

        <div>{{ form_row(formAddArtist.Submit) }}</div>
    {{ form_end(formAddArtist) }}


  

{% endblock %}
