{% extends 'base.html.twig' %}

{% block title %}Join the communauty{% endblock %}

{% block body %}

    <h1>Artist form</h1>

    {% if 'ROLE_ARTIST' in userRoles %}
        <p>edit your infos</p>
    {% else %}
        <p>(to get the ROLE ARTIST + have an artist page)</p>
    {% endif %}

    {{ form_start(formAddArtist) }}
        {{ form_errors(formAddArtist) }}
        <div>{{ form_row(formAddArtist.artistName) }}</div>
        <div>{{ form_row(formAddArtist.artistDiscipline) }}</div>
        <div>{{ form_row(formAddArtist.pictures) }}</div>
        <div>{{ form_row(formAddArtist.Submit) }}</div>
    {{ form_end(formAddArtist) }}

{% endblock %}
