{% extends 'base.html.twig' %}

{% block title %}Join the communauty{% endblock %}
{% block meta %}{% endblock %}

{% block body %}

    <style>
        body {
            background-color: #151515;
        }
    </style>

    <div class="banner">
        <div class="content">
            <h1 class="banner-title">BECOME AN ARTIST</h1>
            <div class="subtitle">
                <p class="banner-text">Subtitle</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>

    <section class="content register-user" id="role-artist">
        <div id="register-container">
            <div id="separator"></div>
            
            <div class="left-register" id="l-role-artist">
                <img src="{{ asset('images/visuals/roleArtist01.webp') }}" alt="">
            </div>

            <div class="right-register" id="r-role-artist">
                <div id="title-register">
                    <h2>Get the Artist status<span class="underscore">_</span></h2>
                    <p>Become a part of the communauty.</p>
                </div>
                
                <div id="artist-role-infos">
                    <p>Why ask for artist status ? <span><i class="ri-arrow-down-s-line"></i></span></p>
                </div>
                

                <p id="artist-role-text" style="display:none;">By obtaining artist status, you will be able to become part of our community and have your artist page added to our artist catalog. You will then be able to edit it as you wish and publish it to make it visible to all visitors. Artist status will also allow you to submit proposals to exhibit your work at our exhibitions.</p>

                <div id="form-register">
                    {% if app.user %}

                    {# {% if is_granted('ROLE_ARTIST') %} #}
                            {# <p>you are already an artist</p> #}
                        {# {% else %} #}
                                {{ form_start(formStatusArtist) }}
                                    {{ form_errors(formStatusArtist) }}
                                    {{ form_row(formStatusArtist.artistName) }}
                                    {{ form_row(formStatusArtist.emailPro) }}
                                    {{ form_row(formStatusArtist.discipline) }}
                                    {{ form_row(formStatusArtist.category, { 'attr' : { 'class': 'custom-select' } })}}
                                    {{ form_row(formStatusArtist.submit, { 'attr' : { 'class': 'btn btn6' } })}}
                                {{ form_end(formStatusArtist) }}
                        {# {% endif %} #}
                    
                {% else %}
                <div>
                    <p>You need to log in to become an Artist <a href="{{ path('app_login') }}">Log in.</a> </p>
                    <p>You don't have an account?  <a href="{{ path('app_register') }}">Register</a> </p>

                </div>

                {% endif %}
                    
                </div>
                
            </div>
        </div>

    </section>


    <script>
        //  change icon (arrow) on hover
        $("#artist-role-infos").hover(
            function() {
                $(this).find("i").removeClass("ri-arrow-down-s-line").addClass("ri-arrow-down-double-line");
            },
            function() {
                $(this).find("i").removeClass("ri-arrow-down-double-line").addClass("ri-arrow-down-s-line");
            }
        );

        // show / hide text explication
        $("#artist-role-infos").click(function() {
            $("#artist-role-text").slideToggle();

        });
    </script>


{% endblock %}
