{% extends 'base.html.twig' %}


{% block title %} Discover {{ artist.artistInfos.artistName }} - MOSAIC{% endblock %} 

{% block meta %}Explore the artistic journey of {{ artist.artistInfos.artistName}} on MOSAIC. Discover their unique vision, biography, and stunning artwork gallery. Immerse yourself in their creativity and be inspired.{% endblock %}

{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">
                {{ artist.artistInfos.artistName }}
        </h1>
        <div class="subtitle">
            <p class="banner-text">
                {{ artist.artistInfos.discipline }}
            </p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<div class="breadcrumb breadcrumb-dark">
    <p><a href="{{ path('app_homepage') }}">Home </a> >  <a href="{{ path('app_artist') }}">All Artists</a> > 
        {{ artist.artistInfos.artistName }}</p>

     
</div>


<section class="" id="artist-show">
    <header id="header">
        <figure>
                {% set bannerImage = null %}
                {% for image in artist.pictures %}
                    {% if image.type == "banner" %}
                        {% set bannerImage = image %}
                    {% endif %}
                {% endfor %}
                {% if bannerImage %}
                    <img src="{{ asset('images/artists/' ~ artist.id ~ '/banner/' ~ bannerImage.path) }}" alt="{{ bannerImage.altDescription }}">
                {% else %}
                    
                {% endif %}
        </figure>

        <div id="quote">
                    {% if artist.artistInfos.quote is defined %}
                        <span id="quote-style"> &lt; </span>
                        <p id="quote-text">
                        {{ artist.artistInfos.quote }}</p>
                        <span id="quote-style">></span>
                        
                    {% else %}
                        <span id="quote-style"></span>
                        <p></p>
                        <span id="quote-style"></span>
                    {% endif %}
            </p>
        </div>
    </header>

    <section id="artist-detail">
        <div id="about">
            <h3 class="text-n1"> <span id="about-text">About the </span class="underscore">artist<span>_</span></h3>
            <p>
                
                    {% if artist.artistInfos.bio is defined %}
                    {{ artist.artistInfos.bio }}
                    {% else %}
                    {% endif %}
                
            </p>

            <div id="admin-moderation">
                {% if is_granted('ROLE_ADMIN') %}
                    {% if app.user.id == artist.id %}
                    {# an admin can't moderate their own artist page #}
                    {% else %}
                        {{ form_start(formPublishPageArtist) }}
                            {% if artist.isPublished == 1 %}
                                <button class="btn btn-red btn-artist-profil" type="submit">Moderate</button>
                            {% elseif artist.isPublished == -1 %}
                                <button class="btn btn-blue btn-artist-profil" type="submit">Publish</button>
                            {% endif %}
                        {{ form_end(formPublishPageArtist) }}
                    {% endif %}
                {% endif %}
            </div>


        </div>

        <div id="info">
            <p class="text-n2">Info<span>_</span></p>
            <div id="list-infos">
                <div id="list-info">
                    
                        <p><span>Category :</span> 
                            {% if artist.artistInfos.category is defined %}
                            {{ artist.artistInfos.category }}
                            {% else %}
                            {% endif %}
                        </p>
                        <p><span>Website :</span> 
                            {% if artist.artistInfos.website is defined %}
                            <a href="http://{{ artist.artistInfos.website }}">{{ artist.artistInfos.website }}</a>
                            {% else %}
                            {% endif %}
                        </p>
                        <p><span>Shop :</span> 
                            {% if artist.artistInfos.shop is defined %}
                            {{ artist.artistInfos.shop }}
                            {% else %}
                            {% endif %}
                        </p>
                        <p><span>Contact :</span> 
                            {% if artist.artistInfos.emailPro is defined %}
                            {{ artist.artistInfos.emailPro }}
                            {% else %}
                            {% endif %}
                        </p>
                    
                </div>
                <div id="socials">

                        {% if  artist.contacts|length > 0 %}
                            {% for contact in artist.contacts %}
                            <a href="{{ contact.url }}">{{ contact.icon|raw }}</a>
                            {% endfor %}
                        {% endif %}

                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <h3  id="text-gallery"class="text-n2">Dive into their art<span>_</span></h3>
        <div id="images">
            {% set hasWorkImage = false %}
            {% for image in artist.pictures %}
                {% if image.type == "work" %}

            <div class="artist-container ">
                <figure>
                    <div id="hover2">
                        <img src="{{asset('images/artists/' ~ artist.id ~'/works/mini/500x500-') ~ image.path }}" alt="{{image.altDescription}}">
                        {% set hasWorkImage = true %}
                        <p id="text2"> {{image.title}}<span>_</span> </p>
                    </div>
                </figure>
            </div>
            {% endif %}
                 
            {% endfor %}
            {% if not hasWorkImage %}
                <p>Their gallery is empty for the moment. :( </p>
            {% endif %}

        </div>
    </section>



</section>

 <script src= "{{ asset('js/pagesShow.js') }}"></script>

{% endblock %}
