{% extends 'base.html.twig' %}


{% block title %}
    Discover {% for artistData in artist %} {{ artistData.artistInfos.artistName }} {% endfor %} - MOSAIC
{% endblock %} 

{% block meta %}
    Explore the artistic journey of {% for artistData in artist %}{{ artistData.artistInfos.artistName }}{% endfor %} on MOSAIC. Discover their unique vision, biography, and stunning artwork gallery. Immerse yourself in their creativity and be inspired. 
{% endblock %}
{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">
            {% for artistData in artist %}
                {{ artistData.artistInfos.artistName }}
            {% endfor %}
        </h1>
        <div class="subtitle">
            <p class="banner-text">
            {% for artistData in artist %}
                {{ artistData.artistInfos.discipline }}
            {% endfor %}
            </p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<div class="breadcrumb breadcrumb-dark">
    <p><a href="{{ path('app_homepage') }}">Home </a> >  <a href="{{ path('app_artist') }}">All Artists</a> > 
        {% for artistData in artist %}
            {{ artistData.artistInfos.artistName }}
        {% endfor %} </p>
</div>


<section class="" id="artist-show">
    <header id="header">
        <figure>
            {% for user in artist %}
                {% set bannerImage = null %}
                {% for image in user.pictures %}
                    {% if image.type == "banner" %}
                        {% set bannerImage = image %}
                    {% endif %}
                {% endfor %}
                {% if bannerImage %}
                    <img src="{{ asset('images/artists/' ~ user.id ~ '/banner/' ~ bannerImage.path) }}" alt="{{ bannerImage.altDescription }}">
                {% else %}
                    
                {% endif %}
            {% endfor %}
        </figure>


        
        {% for artistData in artist %}
            {% if artistData.artistInfos.quote is defined %}
                <div id="quote">
                    <span id="quote-style"><</span>
                    <p id="quote-text">
                    {{ artistData.artistInfos.quote }}</p>
                    <span id="quote-style">></span>
                </div>
            {% else %}
            <div style="visibility:hidden" id="quote">
                <span></span>
                <p></p>
                <span></span>
            </div>
            {% endif %}
        {% endfor %}
    
    </header>

    <section id="artist-detail">
        <div id="about">
            <h3 class="text-n1"> <span id="about-text">About the </span class="underscore">artist<span>_</span></h3>
            <p>
                {% for artistData in artist %}
                    {% if artistData.artistInfos.bio is defined %}
                    {{ artistData.artistInfos.bio }}
                    {% else %}
                    {% endif %}
                {% endfor %}
            </p>
        </div>

        <div id="info">
            <p class="text-n2">Info<span>_</span></p>
            <div id="list-infos">
                <div id="list-info">
                    {% for artistData in artist %}
                        <p><span>Category :</span> 
                            {% if artistData.artistInfos.category is defined %}
                            {{ artistData.artistInfos.category }}
                            {% else %}
                            {% endif %}
                        </p>
                        <p><span>Website :</span> 
                            {% if artistData.artistInfos.website is defined %}
                            <a href="http://{{ artistData.artistInfos.website }}">{{ artistData.artistInfos.website }}</a>
                            {% else %}
                            {% endif %}
                        </p>
                        <p><span>Shop :</span> 
                            {% if artistData.artistInfos.shop is defined %}
                            {{ artistData.artistInfos.shop }}
                            {% else %}
                            {% endif %}
                        </p>
                        <p><span>Contact :</span> 
                            {% if artistData.artistInfos.emailPro is defined %}
                            {{ artistData.artistInfos.emailPro }}
                            {% else %}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
                <div id="socials">
                    {% for user in artist %}
                        {% if  user.contacts|length > 0 %}
                            {% for contact in user.contacts %}
                            <a href="{{ contact.url }}">{{ contact.icon|raw }}</a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <h3  id="text-gallery"class="text-n2">Dive into their art<span>_</span></h3>
        <div id="images">
            {% for user in artist %}
            {% set hasWorkImage = false %}
            {% for image in user.pictures %}
                {% if image.type == "work" %}

            <div class="artist-container ">
                <figure>
                    <div id="hover2">
                        <img src="{{asset('images/artists/' ~ user.id ~'/works/mini/500x500-') ~ image.path }}" alt="{{image.altDescription}}">
                        {% set hasWorkImage = true %}
                        <p id="text2"> {{image.title}}<span>_</span> </p>
                    </div>
                </figure>
            </div>
            {% endif %}
                 
            {% endfor %}
            {% if not hasWorkImage %}
                <p>Their gallery is empty for the moment. :( </p>
            {% endif %}
            {% endfor %}
        </div>
    </section>

</section>

 <script src= "{{ asset('js/pagesShow.js') }}"></script>

{% endblock %}
