{% extends 'base.html.twig' %}

{% block title %}
    {% for artistData in artist %}
        {{ artistData.artistInfos.artistName }}
    {% endfor %}'s Artist Page{% endblock %}
{% block meta %}Learn more about 
    {% for artistData in artist %}
        {{ artistData.artistInfos.artistName }}
    {% endfor %}
{% endblock %}

{% block body %}

    {% for artistData in artist %}
        <h1>{{ artistData.artistInfos.artistName }}</h1>
        {# {{ dump(artist)}} #}
        <h2>{{ artistData.artistInfos.discipline }}</h2>
    {% endfor %}


    <h2>Realisations: </h2>
    {% for artistData in artist %}
    {# {{ artistData|length }} 
    {{ dump(artistData) }} #}
    <div class="artist-works">
        {% for picture in artistData.pictures %}
            <div class="picture">
                <img class="image" src="{{ asset('images/artists/' ~ artistData.id ~'/works/mini/300x300-' ~ picture.path) }}" alt="{{picture.altDescription}}" width="150">
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    
    {% for artistData in artist %}
        <h3>Contact:</h3>
        <p>{{ artistData.artistInfos.emailPro }}</p>
        
        {# Test avec condition en fonction des données #}
        {# {% if artistData.artistInfos.discipline is not null %}
            <p>test: {{ artistData.artistInfos.discipline }}</p>
        {% endif %} #}

    {% endfor %}

 
   
{% endblock %}
