{% extends 'base.html.twig' %}

{% block title %}Art Studios - MOSAIC{% endblock %}
{% block meta %}Explore our art studios on MOSAIC, each offering unique spaces for creative expression. Discover the perfect environment to enhance your artistic talents!{% endblock %}

{% block body %}
<script src="{{ asset('js/planning.js') }}"></script>
<div class="banner">
    <div class="content">
        <h1 class="banner-title">OUR SPACES</h1>
        <div class="subtitle">
            <p class="banner-text">Be creative</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<div class="breadcrumb breadcrumb-dark">
    <p><a href="{{ path('app_home') }}">Home </a> > All Studios </p>
</div>

{# class="content" #}
<section  id="studios-index">

    <div id="studio-links">
        {% for studio in studios %}
         <p><a href="#{{studio.slug}}">{{studio.name}}</a></p>
        {% endfor %}
        <p>PLANNING</p>

    </div>

    <div id="planning-container" style="display: bloxk;">
        {% if app.user %}
            {% if user.subscriptions is not empty %}
                {% set hasActiveSubscription = false %}
                {% for subscription in user.subscriptions %}
                    {% if subscription.isActive %}
                        {% set hasActiveSubscription = true %}
                    {% endif %}
                {% endfor %}
    
                {% if hasActiveSubscription %}
                    <div id="planning2" data-formatted-timeslots='{{ formattedTimeslots|raw }}'></div>
                {% else %}
                    <p>You must have a valid subscription to benefit from this service.    
                        <a href="{{path('app_subscription')}}">check here</a></p>
                {% endif %}
            {% else %}
                <p>You must have signed up for a subscription to benefit from this service.
                    <a href="{{path('app_subscription')}}">check here</a></p>
                </p>
            {% endif %}
        {% endif %}
    </div>
    
    <div id="studios-container">
        {% for studio in studios %}
        <div class="studio {% if loop.index is even %}even{% else %}odd{% endif %}">
            {% if loop.index is even %}
                <div id="{{studio.slug}}" class="studio-container">
                    <div class="studio-content">
    
                        <figure>
                            <img src="{{ asset('images/studios/woodStudio.jpg') }}" alt="">
                        </figure>
    
                        <div></div>
            
                        <div class="info-studio">
                            <div class="subtitle">
                                <p>{{studio.title}}</p>
                                <div class="separator"></div>
                            </div>
                            
                            <h2 class="text-n1">{{studio}}<span class="underscore">_</span></h2>
                            <p class="text-studio">{{studio.description}} </p>
                            <div class="button btn6"><a class="event-link" href="{{ path('show_studio', {slug : studio.slug }) }}">SEE MORE</a></div>
            
                        </div>
                    </div>
                </div>

            {% else %}
                <div id="{{studio.slug}}" class="studio-container">
                    <div class="studio-content">
    
                        <div class="info-studio">
                            <div class="subtitle">
                                <p>{{studio.title}}</p>
                                <div class="separator"></div>
                            </div>
                            
                            <h2 class="text-n1">{{studio}}<span class="underscore">_</span></h2>
                            <p class="text-studio">{{studio.description}} </p>
                            <div class="button btn6"><a class="event-link" href="{{ path('show_studio', {slug : studio.slug }) }}">SEE MORE</a></div>
                            
                        </div>
    
                        <div></div>
            
                        <figure>
                            <img src="{{ asset('images/studios/woodStudio.jpg') }}" alt="">
                        </figure>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</section>

    <script src= "{{ asset('js/gsap.min.js') }}"></script>


    <script>

        $(document).ready(function() {
            $('#studio-links p:contains("PLANNING")').click(function() {
                $('#planning-container').slideToggle();
            });
        });
        
    document.addEventListener("DOMContentLoaded", function() {

        gsap.from('#studio-links', { opacity: 0, duration: 1.2, delay: 0.6 });
        gsap.from('.studio-container', {opacity: 0, duration: 0.6, delay: 0.6 });

        gsap.from('.info-studio', { opacity: 0, duration: 1.2, delay: 0.6, ease: 'power4.out' });
        gsap.from('figure', {opacity: 0, duration: 1.2, delay: 0.6, ease: 'power4.out' });


        // array of colors associated with their respective classes
        const colorClasses = {
            '#eeaf42': 'color01',
            '#151515': 'color02',
            '#207E93': 'color03'
        }; 
        
        // array of colors to be applied
        const colors = ['#eeaf42', '#151515', '#207E93','#151515']; 
        const eventItems = document.querySelectorAll('.studio-container');
        const eventLinks = document.querySelectorAll('.event-link');
        
        // Loop through each element in 'eventItems'
        eventItems.forEach((item, index) => {
            // Get the color for the current index in the 'colors' array
            const color = colors[index % colors.length];
            // Set the background color of the current element to the chosen color
            item.style.backgroundColor = color;
        
            // Get the corresponding class for the color from the 'colorClasses' object
            const colorClass = colorClasses[color];

            // If a class is found for the color, add it to the current element
            
            item.classList.add(colorClass);
            
        });

            eventLinks.forEach((link, index) => {
            link.addEventListener('click', function(event) {
                // Get the index of the clicked event
                const indexClicked = Array.from(eventLinks).indexOf(this);
                // Get the color associated with the index
                //const color = sessionStorage.getItem('eventColor-' + indexClicked);
                const color = colors[indexClicked];
                    // Store the color for use in the details page
                sessionStorage.setItem('selectedEventColor', color);
            });
        
        });
    });
        
    </script>

{% endblock %}

