{% extends 'base.html.twig' %}

{% block title %}rent a studio{% endblock %}
{% block meta %}rent a studio{% endblock %}

{% block body %}

    <h1>rent a studio</h1>


    {# {{ from_start(formAddRegistration)}}
        {{ from_errors(formAddRegistration)}}

        {{ form_row(formAddRegistration.firstname)}}
        {{ form_row(formAddRegistration.lastname)}}


    {{ from_end(formAddRegistration)}} #}



{% endblock %}
