{% extends 'base.html.twig' %}

{% block title %}rent a studio{% endblock %}
{% block meta %}rent a studio{% endblock %}

{% block body %}

    <h1>rent a studio</h1>


    {{ form_start(formAddRegistration)}}
        {{ form_errors(formAddRegistration)}}

        {{ form_row(formAddRegistration.firstname)}}
        {{ form_row(formAddRegistration.lastname)}}


    {{ form_end(formAddRegistration)}}



{% endblock %}
