{% extends 'base.html.twig' %}

{% block title %}Create a timeslot {% endblock %}
{% block meta %}Create a new timeslot{% endblock %}
{% block body %}

<section class="dashboard" id="supervisor-planning">

    <div id="menu-left">
        <div id="logo-name">
            <figure>
               <img src="{{ asset('images/logo150.png')}}" alt="Mosaic logo"> 
            </figure>      
            <p class="text-n1">MOSAIC</p>
        </div>

        <div class="separator-line"></div>

        <div id="list-menu">
            <a href="{{path('studio_dashboard')}}"><div class="is-active"><i class="ri-dashboard-fill "></i><p>dashboard</p></div></a>
            {# <a href=""><div><i class="ri-team-fill "></i><p>Community</p></div></a> #}
        </div>

        <div id="bottom">

        </div>
    </div>

    <div id="content">

        <div id="top-title">
            <p class="text-n1">Create a new timeslot<span>_</span></p>
            <div class="separator-line"></div>
        </div>

        <div class="container-all new-timeslot">
              
            <div class="container-all dashboard-events">
                <div id="timeslot-form">
                    {{ form_start(formAddTimeslot) }}
                    {{ form_row(formAddTimeslot.TimeSlotAvailability) }}
                    
                    <div class="btn btn6">
                        {{ form_row(formAddTimeslot.Create) }}
                    </div>
                    {{ form_end(formAddTimeslot) }}
                </div>
            </div>
        </div>
</section>

{# <p>{{ user}}</p>
{% for timeslotAvalaible in timeslotAvalaibles %}
{{timeslotAvalaible}}
{% endfor %} #}




    
    


<script>
    $(document).ready(function(){
        // Écouteur d'événements pour le clic sur le bouton "VOIR DISPO"
        $("#voirDispo").click(function(event){
            event.preventDefault(); // Empêche le comportement par défaut du formulaire
    
            // Récupérer les valeurs sélectionnées de la date et du studio
            var selectedDate = $("#date").val();
            var selectedStudio = $("#studio").val();

            // Vérifier si les champs date et studio sont remplis
            if ($("#date").val() && $("#studio").val()) {
                // Récupérer les valeurs sélectionnées de la date et du studio
                var selectedDate = $("#date").val();
                var selectedStudio = $("#studio").val();

                $("#timeslot-form").toggle();

                // Afficher les valeurs dans la div résultat
                $("#result").text("Date sélectionnée : " + selectedDate + ", Studio sélectionné : " + selectedStudio);
            } else {
                alert("Veuillez sélectionner une date et un studio.");
            }
        });
    });
</script>
{% endblock %}
