{% extends 'base.html.twig' %}

{% block title %} {{studio.name}} details - MOSAIC{% endblock %}
{% block meta %}Discover the details of our dedicated artistic studio on MOSAIC. Explore the space dedicated to a specific artistic domain and check the availability in the calendar. Reserve your time slot and unleash your creativity in our inspiring studio environment. Dive into artistry now! {% endblock %}

{% block body %}


    <div class="banner">
        <div class="content">
            <h1 class="banner-title">{{ studio.name}}</h1>
            <div class="subtitle">
                <p class="banner-text">Subtitle</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>

    <div class="breadcrumb breadcrumb-dark">
        <p><a href="{{ path('app_homepage') }}">Home </a> >  <a href="{{ path('app_studio') }}">All Studios</a> > {{studio.name}} </p>
    </div>

    
    <section class="" id="studio-show">
        <header id="background-studio">
            <figure>
                <img src="{{ asset('images/studios/woodStudio.jpg') }}" alt=""
            </figure>
        </header>

        <div id="details-studio">
            <div id="about-studio">
                <h3 class="text-n1"><span id="subtitle" > About the </span>{{ studio.name}}<span>_</span></h3>
                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Lorem Ipsn gravida nibh vel melit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Lorem Ipsn gravida nibh vel velit auct or aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit.</p>
            </div>

            <div id="info">
                <p class="text-n2">Info<span>_</span></p>
                <div id="list-infos">
                    <div id="list-info">
                            <div><span>Capacity :</span> <span></span> <p>{{ studio.nbRooms}}  </p> </div>
                            <div><span>Equipment :</span> <span></span><p>Laser cut</p> </div>
                            

                            <div><span style="visibility:hidden;">Equipment :</span> <span></span><p>3D printer</p> </div>

                            <div><span style="visibility:hidden;">Equipment :</span> <span></span><p>Laser printer</p> </div>
                    </div>
                </div>
                
            </div>

            <div id="btn-studio">
                <div class="button btn6">SEE PLANNING</div>
                <div class="button btn6">PARTICIPATE</div>
            </div>
        </div>
        
    </section>

  


    {# <p>test:  {{ studio.nbRegistrationMade}}</p> #}

    {# {{dump(studioTimeslots)}} #}

   
    {# {% if  app.user %}
        {% for subscription in user.subscriptions %} 
        {{ dump(subscription)}}
        {% if subscription.isActive == true %}
            <p> <a href="{{ path('new_registration', {'id': timeslot.id}) }}">Booking </a></p>
        {% endif %}
        {% endfor %}
    {% else %}
        <p>you must have signed up for a subscription to benefit from this service</p>
        <p>Check here !</p>
        <a href="{{ path('app_payment')}}">test</a>
{% endif %}
 #}




    <p>Open time slots for this Art Studio:</p>

 



    {# {{ dump(studio)}} #}

    {% if studio.timeslots|length > 0 %}
        <ul>
    
            {% for timeslot in studio.timeslots %}
            <li>
                {{timeslot.startDate|formatDate}}  - {{timeslot.startDate|date('H:i')}} - {{timeslot.endDate|date('H:i')}}| {{timeslot.user}} </p>
                <p>Registration/s:  {{ timeslotRegistrations[timeslot.id] }}  /   {{timeslot.studio.nbRooms}} </p>
            </li>

            {% if timeslotRegistrations[timeslot.id] ==  timeslot.studio.nbRooms %}
                <p>This time slot is fully booked.</p>
            {% else %}
                
                <p>Make a reservation for this time slot:</p>

                {% if app.user %}
                {% if user.subscriptions is not empty %}
                    {% set hasActiveSubscription = false %}
                    {% for subscription in user.subscriptions %}
                        {% if subscription.isActive %}
                            {% set hasActiveSubscription = true %}
                        {% endif %}
                    {% endfor %}
            
                    {% if hasActiveSubscription %}
                        <p>You have a valid subscription and are allowed to book.</p>
                        <p><a href="{{ path('new_registration', {'id': timeslot.id}) }}">Booking</a></p>
                    {% else %}
                        <p>You must have a valid subscription to benefit from this service.</p>
                        <p> <a href="{{ path('app_subscription') }}">Check here!</a></p>
                    {% endif %}
                {% else %}
                    <p>You must have signed up for a subscription to benefit from this service.</p>
                    <p> <a href="{{ path('app_subscription') }}">Check here!</a></p>
                   
                {% endif %}
            {% endif %}
            
                
            {% endif %}

                
            {% endfor %}
        </ul>
    {% else %}
            <p>Pas de créneau horaire dispo pour ce studio.</p>
    {% endif %}


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Retrieve the color from sessionStorage
        const selectedEventColor = sessionStorage.getItem('selectedEventColor');
    
    if (selectedEventColor !== null) {
        const backgroundStudio= document.getElementById('background-studio');
        backgroundStudio.style.background = selectedEventColor;
    }
    });
</script>


{% endblock %}
