{% extends 'base.html.twig' %}

{% block title %}show art studio {% endblock %}
{% block meta %}show art studio {% endblock %}

{% block body %}

    <h1>{{ studio.name}}</h1>
    <p>Capacity:  {{ studio.nbRooms}}</p>

    {# <p>test:  {{ studio.nbRegistrationMade}}</p> #}

    {# {{dump(studioTimeslots)}} #}


    <p>Open time slots for this Art Studio:</p>

    {# {{ dump(studio)}} #}

    {% if studio.timeslots|length > 0 %}
        <ul>
    
            {% for timeslot in studio.timeslots %}
            <li>
                {{timeslot.startDate|formatDate}}  - {{timeslot.startDate|date('H:i')}} - {{timeslot.endDate|date('H:i')}}| {{timeslot.user}} </p>
                <p>Registration/s:  {{ timeslotRegistrations[timeslot.id] }}  /   {{timeslot.studio.nbRooms}} </p>
            </li>

            {% if timeslotRegistrations[timeslot.id] ==  timeslot.studio.nbRooms %}
                <p>This time slot is fully booked.</p>
            {% else %}
                
                <p>Make a reservation for this time slot:</p>
                <a href="{{ path('new_registration', {'id': timeslot.id}) }}">Booking </a>
                
            {% endif %}

                
            {% endfor %}
        </ul>
    {% else %}
            <p>Pas de créneau horaire dispo pour ce studio.</p>
    {% endif %}



    


{% endblock %}
