{% extends 'base.html.twig' %}

{% block title %} {{studio.name}} details - MOSAIC{% endblock %}
{% block meta %}Discover the details of our artistic studio on MOSAIC. Reserve your time slot and unleash your creativity in our inspiring studio environment. {% endblock %}

{% block body %}


    <div class="banner">
        <div class="content">
            <h1 class="banner-title">{{ studio.name}}</h1>
            <div class="subtitle">
                <p class="banner-text">Be creative</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>

    <div class="breadcrumb breadcrumb-dark">
        <p><a href="{{ path('app_home') }}">Home </a> >  <a href="{{ path('app_studio') }}">All Studios</a> > {{studio.name}} </p>
    </div>

    
    <section class="" id="studio-show">
        <header id="background-studio">

            {% for picture in studio.pictures %}
            {% if picture.type == 'banner' %}
                <figure>
                <img src="{{ asset('images/activity/studio/' ~ studio.id ~ '/' ~ picture.path) }}" alt="{{ picture.altDescription }}"></a>
            </figure>
            {% endif %}
            
             {% endfor %}

        </header>

        <div id="details-studio">
            <div id="about-studio">
                <h3 class="text-n1"><span id="subtitle" > About the </span>{{ studio.name}}<span>_</span></h3>
                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Lorem Ipsn gravida nibh vel melit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Lorem Ipsn gravida nibh vel velit auct or aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Aene sollic consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate. Duis sed nibh vel a sit amet nibh vulputate. Lorem Ipsn vel velit auctor aliquet. Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit.</p>
            </div>

            <div id="info">
                <p class="text-n2">Info<span>_</span></p>
                <div id="list-infos">
                    <div id="list-info">
                            <div><span>Capacity :</span> <span></span> <p>{{ studio.nbRooms}}  </p> </div>
                            <div><span>Equipment :</span> <span></span><p>Laser cut</p> </div>
                            

                            <div><span style="visibility:hidden;">Equipment :</span> <span></span><p>3D printer</p> </div>

                            <div><span style="visibility:hidden;">Equipment :</span> <span></span><p>Laser printer</p> </div>
                    </div>
                </div>
                
            </div>

            {% if app.user %}
            {% if user.subscriptions is not empty %}
                {% set hasActiveSubscription = false %}
                {% for subscription in user.subscriptions %}
                    {% if subscription.isActive == 1 %}
                        {% set hasActiveSubscription = true %}
                    {% endif %}
                {% endfor %}
        
                {% if hasActiveSubscription %}
                    <div class="expo-participate">
                        <div class="btn-studio">
                            <div id="participate-btn" class="button btn6">SEE TIMESLOTS</div>
                        </div>
                    </div>
                {% else %}
                    <div class="expo-participate">
                        <div class="btn-event">
                            <div  id="participate-btn" class="button btn-off">SEE TIMESLOTS</div>
                        </div>
                        <p>You must have a valid subscription to benefit from this service.</p>
                        <p><a href="{{ path('app_subscription') }}">Check here!</a></p>
                    </div>
                {% endif %}
        
                {% else %}
                    <div class="expo-participate">
                        <div class="btn-event">
                            <div class="button btn-off">SEE TIMESLOTS</div>
                        </div>
                        <p>You must have a subscription to benefit from this service.</p>
                        <p><a href="{{ path('app_subscription') }}">Check here!</a></p>
                    </div>
                {% endif %}
        
            {% else %}
                <div class="expo-participate">
                    <div class="btn-event">
                        <div class="button btn-off">SEE TIMESLOTS</div>
                    </div>
                    <p>You must have an account and signed up for a subscription to benefit from this service.</p>
                    <p><a href="{{ path('app_subscription') }}">Check here!</a></p>
                </div>
            {% endif %}

        </div>    
        
        <div id="timeslots-list" style="display:none;">
            <div>
                {% if studio.timeslots|length > 0 %}
                    {% set sortedTimeslots = studio.timeslots|sort((a, b) => b.date.timestamp - a.date.timestamp) %}
                        {% for timeslot in sortedTimeslots %}
                        <p>0{{ loop.index }}. {{timeslot.startDate|formatDate}}  - {{timeslot.startDate|date('H:i')}} - {{timeslot.endDate|date('H:i')}}| {{timeslot.user}} </p>
                            {% if timeslot.workshopRegistrations is not empty %}
                                <p>Capacity:  {{ timeslot.workshopRegistrations.count }}  /   {{timeslot.studio.nbRooms}} </p>
                            {% else %}
                                <p>Capacity:  0  /   {{timeslot.studio.nbRooms}} </p>
                            {% endif %}
                            

                            {% if timeslot.workshopRegistrations.count() ==  timeslot.studio.nbRooms %}
                                <p>This time slot is fully booked.</p>
                            {% else %}
                            
                            <p><a href="{{ path('new_registration', {'id': timeslot.id}) }}"><button class="btn btn6">BOOK</button></a></p>
                                    
                            {% endif %}
                        {% endfor %}
                    {% else %}
                            <p>No timeslot available for this studio.</p>
                    {% endif %}
            </div>
        </div>

    </section>    



   


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Retrieve the color from sessionStorage
        const selectedEventColor = sessionStorage.getItem('selectedEventColor');
    
    if (selectedEventColor !== null) {
        const backgroundStudio= document.getElementById('background-studio');
        backgroundStudio.style.background = selectedEventColor;
    }

    //  adjust background
   var backgroundStudio = document.getElementById("background-studio");
   var styles = window.getComputedStyle(backgroundStudio);
   var backgroundColor = styles.backgroundColor;
   var rgb = backgroundColor.match(/\d+/g);
   if (rgb.includes("23")) {
       backgroundStudio.style.background = "../images/visuals/studio02.webp";    
   } else if (rgb.includes("30")) {
        backgroundStudio.style.background = "../images/visuals/studio01.webp"; 
   } else {
        backgroundStudio.style.background = "../images/visuals/studio03.webp"; 
   }

    });

    $(document).ready(function() {
        if ($('#participate-btn').length > 0) {
            $('#participate-btn').click(function() {
                $('#timeslots-list').slideToggle();
            });
        }
    });




</script>


{% endblock %}
