{% extends 'base.html.twig' %}

{% block title %}General planning {% endblock %}
{% block meta %}General planning {% endblock %}

{% block body %}

    <h1>General planning: </h1>

    <div class="ongoing-events">
       
        {% for studio in studios %}
            <div>
                <p>{{studio.name}}</p>
            
            <p>Capacity: {{studio.nbRooms}}</p>
            
            {% for timeslot in studio.timeslots %}
                <p>{{timeslot.startDate|formatDate}} - {{timeslot.endDate|formatDate}} - Supervisor: {{timeslot.user}} </p>
                <ul>
                    {% for registration in timeslot.workshopRegistrations %}
                    
                        <li>{{registration.firstname}} - {{registration.lastname}} - {{registration.registrationDate|formatDate}} 
                            {# <a href="#"><i class="ri-close-circle-fill delete-btn" data-target="{{ registration.id}}"></i></a>
                            <div class="delete-container" id="{{registration.id}}" style="display:none">
                                <p>Are you sure you want to delete this participation? This cannot be undone.</p>
                                <div>
                                    <p><a href="{{ path('delete_registration_studio', {'id': registration.id }) }}"><i class="ri-check-line"></i> Confirm</a></p>
                                    <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                                </div>
                            </div> #}
                        </li>
                    {% endfor %}
                </ul>
                
            {% endfor %}
            <hr>
            </div>
        {% endfor %}
    </div>


    {# {{ dump(timeslots) }} #}

    {% if app.user and is_granted('ROLE_SUPERVISOR') %}
        <h2>See my planning</h2>
        <a href="{{ path('show_planning', {'id': app.user.id }) }}">SEE</a>

        <h2>Add a timeSlot</h2>
        <a href="{{ path('new_timeslot', {'id': app.user.id }) }}">ADD</a>
    {% endif %}

    

{% endblock %}
