<!DOCTYPE html>
<html>
    <head>
        {# Tarte au citron #}
        {# <script src="/tarteaucitron/tarteaucitron.js"></script> #}
        {# <script src="{{ asset('tarteaucitron/tarteaucitron.js') }}"></script> #}

        {# indique ce que l'on fait des données collectées, cb de temps on les conserve et lister la totalité des cookies qui potentiellement vont être écrits par le site si l'user les accepte#}
        {# <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

          "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
          "showDetailsOnClick": true, /* Click to expand the description */
          "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */ 
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
          "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
    
          //"customCloserId": "" /* Optional a11y: Custom element ID used to open the panel */
        });
        </script> #}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# <meta name="description" content={% block meta %}"Description!"{% endblock %}"> #}

        <link rel="icon" href="{{ asset('images/visuals/favicon.png') }}" type="image/png" >

         
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}

        {# Remix Icon #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.css" integrity="sha512-GL7EM8Lf8kU23I3kTio2kRWt8YRDVIQcSZjRVtVRfk05kB/QvkyafuTC94Ev0X6qk7Z0r5s06c1lsP1p/ezDYw==" crossorigin="anonymous" referrerpolicy="no-referrer">

        {# Font awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Google font: #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        {# Google icon: #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    


        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/general.css')}}">
            <link rel="stylesheet" href="{{asset('css/component.css')}}">
            <link rel="stylesheet" href="{{asset('css/settings.css')}}">
            <link rel="stylesheet" href="{{asset('css/layout.css')}}">
            <link rel="stylesheet" href="{{asset('css/homePage.css')}}">
            <link rel="stylesheet" href="{{asset('css/user.css')}}">
            <link rel="stylesheet" href="{{asset('css/artistPages.css')}}">
            <link rel="stylesheet" href="{{asset('css/studios.css')}}">
            <link rel="stylesheet" href="{{asset('css/events.css')}}">
            <link rel="stylesheet" href="{{asset('css/formPages.css')}}">
            <link rel="stylesheet" href="{{asset('css/indexPages.css')}}">
        {% endblock %}

        {% block javascripts %}
        
        <script src= "{{ asset('js/gsap.min.js') }}"></script>
        <script src= "{{ asset('js/main.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        
        {% endblock %}
    </head>
    <body>

        {#   ---------------------------------- */
        //   █████  ███████ ██ ██████  ███████ 
        //  ██   ██ ██      ██ ██   ██ ██      
        //  ███████ ███████ ██ ██   ██ █████   
        //  ██   ██      ██ ██ ██   ██ ██      
        //  ██   ██ ███████ ██ ██████  ███████
        /*  ---------------------------------- */#}
        <aside id="aboutUs">
            <div>
                <h3>MOSAIC<span class="underscore">_</span></h3>
                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit. Duis sed nibh vel a sit amet nibh vulpuelit. Duis sed odio sit amet nibh vulputate. Lorem Ipsn gravida nibh nibh vel velit auctor aliquet. Aene sollic consequat ipsutis sem nibh id elit.</p>
                <div class='button btn4'>LEARN MORE</div>
                <div class="socials">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </aside>

        {#   ---------------------------------- */
        //  ███    ██  █████  ██    ██ ██████   █████  ██████  
        //  ████   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
        //  ██ ██  ██ ███████ ██    ██ ██████  ███████ ██████  
        //  ██  ██ ██ ██   ██  ██  ██  ██   ██ ██   ██ ██   ██ 
        //  ██   ████ ██   ██   ████   ██████  ██   ██ ██   ██
        /*  ---------------------------------- */#}

        <nav>
            <div class="name-app">
                <p class="{% if app.request.attributes.get('_route') == 'app_homepage' %}active{% endif %}">
                    <a href="{{ path('app_homepage') }}">MOSAIC</a>
                </p>
            </div>

            {# <div class="home">

                <p class="{% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}">
                    <a href="{{ path('app_home') }}"><i class="ri-home-heart-fill"></i></a>
                </p>
                
            </div> #}

            <div class="nav-links">

                <p><a href="{{ path('app_artist') }}">ARTISTS</a></p>
                <p><a href="{{ path('app_event') }}">EVENTS</a></p>
                <p><a href="{{ path('app_workshop') }}">WORKSHOPS</a></p>
                <p><a href="{{ path('app_exposition') }}">EXPOSITIONS</a></p>
                <p><a href="{{ path('app_studio') }}">ART STUDIOS</a></p>
                <p><a href="{{ path('app_calendar') }}">CALENDAR</a></p>

                {# <p class="{% if app.request.attributes.get('_route') == 'app_calendar' %}active{% endif %}">
                    <a href="{{ path('app_calendar') }}">CALENDAR</a>
                </p> #}

            </div>

            <div class="nav-menu">
                <a href="#">
                    <div></div>
                    <div></div>
                    <div></div>
                </a>
            </div>

        </nav>



        {#   ---------------------------------- */
        //   ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
        //  ██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
        //  ██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
        //  ██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
        //   ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
        /*  ---------------------------------- */#}

        <div class="roles" style="display:none;">
        
            <a href="{{ path('app_langindPage') }}">landing page</a>
      

            {% if is_granted('ROLE_ARTIST') %}
            <a href="{{ path('manage_profil', {slug: app.user.slug }) }}">NEW PAGE</a>
            {% endif %}


            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_dashboard')}}"><i class="ri-dashboard-fill"></i></a>
            {% endif %}
            
            
            {% if is_granted('ROLE_SUPERVISOR') and is_granted('ROLE_ADMIN')  %}
            <a href="{{ path('studio_dashboard')}}"><i  class="ri-table-fill"></i></a>
            {% endif %}
            
            
            {% if is_granted('ROLE_ARTIST') %}
            {# If the user has the "ROLE_ARTIST" role, redirect to artist page management #}
            <a href="{{ path('manage_profil', {slug: app.user.slug }) }}"><i class="fa-solid fa-palette"></i></a>
            {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
            {# If a user is logged in but does not have the "ROLE_ARTIST" role, redirect to create a new artist #}
            <a href="{{ path('new_artist', {slug: app.user.slug }) }}">Join us (for artists)</a>
            {% else %}
            {# else, add something eventually or not #}
            {% endif %}


            {% if app.user %}
                <a href="{{ path('show_user', {slug: app.user.slug }) }}"><i class="fa-solid fa-circle-user"></i></a>
                <a href="{{ path('app_subscription')}}"><i class="ri-bard-fill"></i></a>
            {% else %}
                <a href=" {{ path('app_register') }}">register</a>
                <a href="{{ path('app_login') }}">login</a>
            {% endif %}
        </div>
  

            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %} 

            {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
            {% endfor %} 
        
        <div class="main">
            {% block body %}
            {% endblock %}
        </div>

        <div id="back-top-btn"></div>
      

        {#   ---------------------------------- */
        //  ███████  ██████   ██████  ████████ ███████ ██████  
        //  ██      ██    ██ ██    ██    ██    ██      ██   ██ 
        //  █████   ██    ██ ██    ██    ██    █████   ██████  
        //  ██      ██    ██ ██    ██    ██    ██      ██   ██ 
        //  ██       ██████   ██████     ██    ███████ ██   ██
        /*  ---------------------------------- */#}

        <div id="top-footer">

        </div>
        <footer >
            <div id="footer-separator"></div>
            <div id="footer-content">
                <div>
                    <p id="name-nav">MOSAIC</p>
                </div>
    
                <div id="footer-links">
                    <a href="#">HOME</a>
                    <a href="#">ABOUT</a>
                    <a href="#">CONTACT</a>
                </div>
    
                <div id="footer-links-conditions">
                    <a href="#">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                </div>
    
                <div id="footer-rights">
                    <p> <small style="font-size: 1.2rem;">©</small>  <span id="footer-date"></span> <span id="name-rights">MOSAIC</span>. All Rights Reserved.</p>
                </div>
    
                <div class="socials" id="footer-socials">
                    <a href="#"><i class="fa-brands fa-facebook "></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div> 
            </div>

            <div id="image">
                <img src="{{ asset('images/motif-footer01.png') }}" alt="">
            </div>
            
        </footer>

    </body>

    {#/*  ---------------------------------- */
    //  ███████  ██████ ██████  ██ ██████  ████████ 
    //  ██      ██      ██   ██ ██ ██   ██    ██    
    //  ███████ ██      ██████  ██ ██████     ██    
    //       ██ ██      ██   ██ ██ ██         ██    
    //  ███████  ██████ ██   ██ ██ ██         ██    
    /*  ---------------------------------- */#}

    {# Jquery #}
     <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/gwl.js') }}"></script>

    {# FullCalendar #}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script src="{{ asset('js/calendar.js') }}"></script>
    <script src="https://unpkg.com/scrollama"></script>

    {# Gsap #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    



    <script>


        $(document).ready(function() {
            var currentUrl = window.location.href;
            $('nav p a').each(function() {
                var href = $(this).attr('href');
                if (currentUrl.includes(href)) {
                    $(this).addClass("highlight");
                }
            });
        });


        // footer animation
        /*gsap.from('#top-footer', {
        duration: 1.2,
        opacity: 0,
        ease: "power4.out",
        delay: 1.1
        }); */
        setTimeout(function() {
            gsap.to(".name-app", {
                keyframes: [
                    { backgroundPosition: "100% 0%", ease: "none", duration: 0 }, 
                    { backgroundPosition: "0% 0%", ease: "none", duration: 0.5 }, 
                    { backgroundPosition: "100% 0%", ease: "none", duration: 1 } 
                ],
                repeat: -1, // infinite repeat
                repeatDelay: 8 // seconds between repetition
            });
        }, 2000);


        gsap.from(".breadcrumb", {
            opacity: 0, 
            duration: 1.2, 
            ease: "easeInOut", 
            delay: 1.2
        });

        // animation background footer on scroll
        document.addEventListener("DOMContentLoaded", function() {
            gsap.set("#top-footer", {opacity: 0}); 
            gsap.set("#image", {opacity: 0}); 
            const footerAnimation = gsap.timeline({
            scrollTrigger: {
                trigger: "#top-footer",
                start: "top 60%",
                end: "bottom 40%",
                //markers: true
            }
            });
    
            footerAnimation.to("#top-footer", {
            opacity: 1,
            ease: "power4.out",
            delay: 0.3,
            onComplete: function() {
                gsap.to("#image", {
                opacity: 1,
                ease: "power4.out",
                delay: 0.1,
                });
            }
            });
        });
            
        // aside modale
        $(document).ready(function() {
            var isClicked = false;
        
            $('.nav-menu a').click(function() {
                if (!isClicked) {
                    // 1° fois que l'élément est cliqué
                    $('.nav-menu a div').css('background-color', '#E49E4B');
                    $('.nav-menu a div:nth-child(1)').css('transform', 'translateY(0.55rem) rotate(-45deg)');
                    $('.nav-menu a div:nth-child(2)').css('transform', 'rotate(45deg)');
                    $('.nav-menu a div:nth-child(3)').css('transform', 'translateY(-0.5rem) rotate(-45deg)');
                    $('aside').css('right', '0');
                } else {
                    // Deuxième fois que l'élément est cliqué (réinitialiser)
                    $('.nav-menu a div').css('background-color', '');
                    $('.nav-menu a div').css('transform', '');
                    $('aside').css('right', '-28rem');
                }
        
                // Inverser l'état de la variable isClicked
                isClicked = !isClicked;
            });

            // date (footer)
            var currentYear = new Date().getFullYear();
            $('#footer-date').text(currentYear);

            // switch pattern footer depending on the body color
            var bodyBgColor = $('body').css('background-color');

            if (bodyBgColor.includes("21")) { 
                $('#top-footer').css('background-image', "url('../images/motif-footer03.png')");
            } else if (bodyBgColor.includes("249")) { 
                $('#top-footer').css('background-image', "url('../images/motif-footer02.png')");
            }
            
        
        });

        // back to top button
        var btn = $('#back-top-btn');
        $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
        });

        btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
        });
                

        // animation text banner 
         // Ajouter la classe "visible" au titre du header pour déclencher l'animation
        $('.banner-title').addClass('visible');
        $('.banner-text').addClass('visible');

        gsap.from(".banner", {
            opacity: 0,
            duration: 2,
            ease: "easeInOut", 
            delay: 0.6
        });

        // underscrore blink
        setTimeout(function() {
            $('.underscore-blink').addClass('visible');
            
            // active the class animate
            setTimeout(function() {
                $('.underscore-blink').addClass('animate');
            }, 300);
        }, 1800);

        
        
    </script>
    
    

</html>
