{% extends 'base.html.twig' %}

{% block title %}List all users{% endblock %}
{% block meta %}List all users{% endblock %}

{% block body %}

   <h1>Users</h1>

   {# rajouter barre de recherche pour trier les user des artistes #}

   <ul>
       {% for user in users %}
       <li>
            <p>  Username : <a href="{{ path('detail_user_admin', {slug : user.slug}) }}">{{user}}</a></p>
            <p>Email: {{user.Email}}</p>
            <p>Registration date: {{user.registrationDate|formatDate}}</p>
            {% if user.getSimpleRoles|length > 0 %}
            <!-- Afficher la ligne de rôle uniquement si l'utilisateur est autre qu'un simple user -->
            <p>Role: {{ user.getSimpleRoles|join(', ')}}</p>
            {% endif %}

            {% if 'artist' in user.getSimpleRoles %}
                <p class="artist-icon"><i class="fas fa-paint-brush"></i> Artist</p>
            {% endif %}

            {% if 'admin' in user.getSimpleRoles %}
                <p class="artist-icon"><i class="fa-solid fa-gear"></i> Admin</p>
            {% endif %}

            {% if 'supervisor' in user.getSimpleRoles %}
                <p class="artist-icon"><i class="fa-solid fa-user-tie"></i> Supervisor</p>
            {% endif %}

            <hr>
           
       </li>
       {% endfor %}

   </ul>

{% endblock %}
