{% extends 'base.html.twig' %}

{% block title %}List all users{% endblock %}
{% block meta %}List all users{% endblock %}

{% block body %}



   <h2>search</h2>
   {{ form_start(formUserSearch, {'method': 'POST'}) }}
   {{ form_row(formUserSearch.username) }}
   <button type="submit">Search</button>
   {{ form_end(formUserSearch) }}
   {# filter by Role
   by inscription date #}

   {% if searchResults %}
        <h2>Search results</h2>
    {% else %}
        <h2>All users</h2>
    {% endif %}


   <ul>
       {% for user in users %}
       <li>
            <p>  Username : <a href="{{ path('detail_user_admin', {slug : user.slug}) }}">{{user}}</a></p>
            <p>Email: {{user.Email}}</p>
            <p>Registration date: {{user.registrationDate|formatDate}}</p>
            {% if user.getSimpleRoles|length > 0 %}
            <!-- Afficher la ligne de rôle uniquement si l'utilisateur est autre qu'un simple user -->
            <p>Role: {{ user.getSimpleRoles|join(', ')}}</p>
            {% endif %}

            {% if 'artist' in user.getSimpleRoles %}
                <p class="artist-icon"><i class="fas fa-paint-brush"></i> Artist</p>
            {% endif %}

            {% if 'admin' in user.getSimpleRoles %}
                <p class="artist-icon"><i class="fa-solid fa-gear"></i> Admin</p>
            {% endif %}

            {% if 'supervisor' in user.getSimpleRoles %}
                <p class="artist-icon"><i class="fa-solid fa-user-tie"></i> Supervisor</p>
            {% endif %}

            <hr>
           
       </li>
       {% endfor %}

   </ul>

   <div id="search-results"></div>

{% endblock %}
