{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard - MOSAIC{% endblock %}
{% block meta %}Manage events with ease on the admin dashboard of [Nom de votre site]. Access an overview of all organized events, view details, and efficiently edit or remove them as needed.{% endblock %}

{% block body %}

{# <div class="banner">
    <div class="content">
        <h1 class="banner-title">Dashboard</h1>
        <div class="subtitle">
            <p class="banner-text">Subtitle</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div> #}


<section class="dashboard" id="dashboard-main">

    <div id="menu-left">
        <div id="logo-name">
            <figure>
               <img src="{{ asset('images/logo150.png')}}" alt="Mosaic logo"> 
            </figure>      
            <p class="text-n1">MOSAIC</p>
        </div>

        <div class="separator-line"></div>

        <div id="list-menu">
            <div class="is-active"><i class="ri-dashboard-fill "></i><p>dashboard</p></div>
            <a href="{{ path('list_users') }}"><div><i class="ri-team-fill "></i><p>Community</p></div></a>
            <a href="{{ path('list_events') }}"><div><i class="ri-artboard-2-fill"></i><p>events</p> </div></a>
            <a href="{{ path('list_expos') }}"><div><i class="ri-artboard-fill"></i></i><p>expositions</p> </div></a>
            <a href="{{ path('list_workshops') }}"><div><i class="ri-palette-fill"></i><p>workshops</p> </div></a>
            <div><i class="ri-home-heart-fill"></i><p>studios</p></div>
            {# <div><i class="ri-calendar-fill"></i><p>calendar</p></div>
            <div><i class="ri-calendar-schedule-fill"></i><p>planning</p></div> #}
        </div>

        <div id="bottom">

        </div>
    </div>

    <div id="content">

        <div id="top-title">
            <p class="text-n1">dashboard<span>_</span></p>
            <div class="separator-line"></div>
        </div>


        <div id="container-all">
    
           
       
             {# STUDIOS #}
             <div id="studios">
                <div>
                    <h2 class="text-n2" id="event">Studios<span>_</span></h2>
                    {# <p><a class="btn btn6" href="{{ path('new_event') }}"><i class="fa-solid fa-plus"></i> New Event</a></p> #}
                </div>
                <p class="text-n3"><i class="fa-solid fa-circle-chevron-down"></i></span></p>
                                
                <div class="ongoing">
                    {% for studio in studios %}
                    <div class="element">
                        <p>
                            <a href="{{ path('show_studio_admin', {slug : studio.slug}) }}"><span class="name">✦{{studio.name}}</span></a>
                        </p>
                        <p><a href="{{ path('edit_studio', {slug : studio.slug}) }}">EDIT</a></p>
                        <p>Capacity: {{studio.nbRooms}} </p>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
    
            </div>
    
        </div>
    </div>

    
</section>

    <script>
        $(document).ready(function() {
            $('.fa-circle-chevron-down').click(function() {
                $(this).closest('p').next('.ongoing').slideToggle();
            });

            $('.fa-circle-chevron-down').click(function() {
                $(this).closest('p').next('.past-ones').slideToggle();
            });
        });
    </script>
    

{% endblock %}
