{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <h1>Dashboard</h1>
    <p><a href="#event">EVENTS</a> | <a href="#expo">EXPOSITIONS</a> |<a href="#workshop">WORKSHOP </a> | <a href="#studio">STUDIO</a></p>

    <div class="dahsboard-container-events">
        <div>
            <h2 id="event">Event</h2>
            <p><a class="btn" href="{{ path('new_event') }}">Create</a></p>
        </div>
        
        <div class="ongoing">
            <h3>Current and future Events  <span> <i class="ri-arrow-down-s-line"></i></span></h3>

            {% for event in ongoingEvents %}
            <div class="element">
                <p>
                     
                    <a href="{{ path('show_event_admin', {'id': event.id}) }}"><span class="name">✦{{event.name}}</span></a>
                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                        (event.status == 'CLOSED' ? 'closed' : 
                                        (event.status == 'PENDING' ? 'pending' : 
                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                    </span>
                
                </p>

                <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
                <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
                
                <p>Capacity: {{event.nbReversationMade}}  /  {{event.nbRooms}} - Remaining: {{event.nbReversationRemaining}}</p>
                <div> 
                    <a href="{{ path('show_event_admin', {'id': event.id}) }}"><i class="ri-eye-close-fill"></i></a>
                    <a href="{{ path('edit_event', {'id': event.id}) }}"><i class="ri-file-edit-fill"></i></a> 
                    <a href=""><i class="ri-close-circle-fill delete-btn" data-target="{{ event.id}}"></i></a>
                </div>
                <hr>

                <div class="delete-container" id="{{event.id}}" style="display:none">
                    <p>Are you sure you want to delete this entry? This cannot be undone.</p>
                    <div>
                        <p><a href="{{ path('delete_event', {'id': event.id}) }}"><i class="ri-check-line"></i> Confirm</a></p>
                        <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>

        <div class="past-events">
            <h3>Past Events  <span> <i id="arrow-past-event" class="ri-arrow-down-s-line"></i></span></h3>
            {% for event in pastEvents %}
            <div class="element past-events-container" style="display:none">
                <p>
                     
                    <a href="{{ path('show_event_admin', {'id': event.id}) }}"><span class="name">✦{{event.name}}</span></a>
                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                        (event.status == 'CLOSED' ? 'closed' : 
                                        (event.status == 'PENDING' ? 'pending' : 
                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                    </span>
                
                </p>

                <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
                <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
                
                <p>Capacity: {{event.nbReversationMade}}  /  {{event.nbRooms}} - Remaining: {{event.nbReversationRemaining}}</p>
                <div> 
                    <a href="{{ path('show_event_admin', {'id': event.id}) }}"><i class="ri-eye-close-fill"></i></a>
                    <a href="{{ path('edit_event', {'id': event.id}) }}"><i class="ri-file-edit-fill"></i></a> 
                    <a href=""><i class="ri-close-circle-fill delete-btn" data-target="{{ event.id}}"></i></a>
                </div>
                <hr>

                <div class="delete-container" id="{{event.id}}" style="display:none">
                    <p>Are you sure you want to delete this entry? This cannot be undone.</p>
                    <div>
                        <p><a href="{{ path('delete_event', {'id': event.id}) }}"><i class="ri-check-line"></i> Confirm</a></p>
                        <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>

        
   
    </div>

    <div class="dashboard-container-expos">
        <div>
            <h2 id="expo">Expositions</h2>
            <p><a class="btn" href="{{ path('new_expo') }}">Create</a></p>
        </div>

        <div class="ongoing">
            <h3>Current and future Events  <span> <i class="ri-arrow-down-s-line"></i></span></h3>

            {% for expo in ongoingExpos %}
            <div class="element">
                <p>
                     
                    <a href="{{ path('show_expo_admin', {'id': expo.id}) }}"><span class="name">✦{{expo.name}}</span></a>
                    <span class="status {{ expo.status == 'OPEN' ? 'open' : 
                                        (expo.status == 'CLOSED' ? 'closed' : 
                                        (expo.status == 'PENDING' ? 'pending' : 
                                        (expo.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ expo.status }}
                    </span>
                
                </p>

                <p>{{expo.startDate|formatDate}} - {{expo.endDate|formatDate}} </p>
                <p>{{expo.startDate|date('H:i')}} - {{expo.endDate|date('H:i')}}</p>

                <p>Proposals: {{ expo.getNbExpositionProposals}}</p>
                
                <p>Capacity: {{expo.nbReversationMade}}  /  {{expo.nbRooms}} - Remaining: {{expo.nbReversationRemaining}}</p>
                <div> 
                    <a href="{{ path('show_expo_admin', {'id': expo.id}) }}"><i class="ri-eye-close-fill"></i></a>
                    <a href="{{ path('edit_expo', {'id': expo.id}) }}"><i class="ri-file-edit-fill"></i></a> 
                    <a href=""><i class="ri-close-circle-fill delete-btn" data-target="{{ expo.id}}"></i></a>
                </div>
                <hr>

                <div class="delete-container" id="{{expo.id}}" style="display:none">
                    <p>Are you sure you want to delete this entry? This cannot be undone.</p>
                    <div>
                        <p><a href="{{ path('delete_expo', {'id': expo.id}) }}"><i class="ri-check-line"></i> Confirm</a></p>
                        <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                    </div>
                </div>

            </div>
            {% endfor %}

            <div class="past-expos">
                <h3>Past Expositions  <span> <i id="arrow-past-expo" class="ri-arrow-down-s-line"></i></span></h3>
                {% for expo in pastExpos %}
                <div class="element past-expos-container" style="display:none">
                    <p>
                         
                        <a href="{{ path('show_expo_admin', {'id': expo.id}) }}"><span class="name">✦{{expo.name}}</span></a>
                        <span class="status {{ expo.status == 'OPEN' ? 'open' : 
                                            (expo.status == 'CLOSED' ? 'closed' : 
                                            (expo.status == 'PENDING' ? 'pending' : 
                                            (expo.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                            {{ expo.status }}
                        </span>
                    
                    </p>
    
                    <p>{{expo.startDate|formatDate}} - {{expo.endDate|formatDate}} </p>
                    <p>{{expo.startDate|date('H:i')}} - {{expo.endDate|date('H:i')}}</p>
                    
                    <p>Capacity: {{expo.nbReversationMade}}  /  {{expo.nbRooms}} - Remaining: {{expo.nbReversationRemaining}}</p>
                    <div> 
                        <a href="{{ path('show_expo_admin', {'id': expo.id}) }}"><i class="ri-eye-close-fill"></i></a>
                        <a href="{{ path('edit_expo', {'id': expo.id}) }}"><i class="ri-file-edit-fill"></i></a> 
                        <a href=""><i class="ri-close-circle-fill delete-btn" data-target="{{ expo.id}}"></i></a>
                    </div>
                    <hr>
    
                    <div class="delete-container" id="{{expo.id}}" style="display:none">
                        <p>Are you sure you want to delete this entry? This cannot be undone.</p>
                        <div>
                            <p><a href="{{ path('delete_expo', {'id': expo.id}) }}"><i class="ri-check-line"></i> Confirm</a></p>
                            <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                        </div>
                    </div>
    
                </div>
                {% endfor %}
    
            </div>

        </div>
    </div>

    <div class="dashboard-container-workshop">
        <div>
            <h2 id="workshop">Workshop</h2>
            <p><a class="btn" href="{{ path('new_workshop') }}">Create</a></p>
        </div>

        <div class="ongoing">
            <h3>Current and future Workshops  <span> <i class="ri-arrow-down-s-line"></i></span></h3>

            {% for event in ongoingWorkshop %}
            <div class="element">
                <p>
                     
                    <a href="{{ path('show_workshop_admin', {'id': event.id}) }}"><span class="name">✦{{event.name}}</span></a>
                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                        (event.status == 'CLOSED' ? 'closed' : 
                                        (event.status == 'PENDING' ? 'pending' : 
                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                    </span>
                
                </p>

                <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
                <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
                
                <p>Capacity: {{event.nbRegistrationMade}}  /  {{event.nbRooms}} - Remaining: {{event.nbRegistrationRemaining}}</p>
                <div> 
                    <a href="{{ path('show_workshop_admin', {'id': event.id}) }}"><i class="ri-eye-close-fill"></i></a>
                    <a href="{{ path('edit_workshop', {'id': event.id}) }}"><i class="ri-file-edit-fill"></i></a> 
                    <a href=""><i class="ri-close-circle-fill delete-btn" data-target="{{ event.id}}"></i></a>
                </div>
                <hr>

                <div class="delete-container" id="{{event.id}}" style="display:none">
                    <p>Are you sure you want to delete this entry? This cannot be undone.</p>
                    <div>
                        <p><a href="{{ path('delete_workshop', {'id': event.id}) }}"><i class="ri-check-line"></i> Confirm</a></p>
                        <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="past-events">
            <h3>Past Workshops  <span> <i id="arrow-past-workshop" class="ri-arrow-down-s-line"></i></span></h3>
            {% for event in pastWorkshop %}
            <div class="element past-workshops-container" style="display:none">
                <p>
                     
                    <a href="{{ path('show_workshop_admin', {'id': event.id}) }}"><span class="name">✦{{event.name}}</span></a>
                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                        (event.status == 'CLOSED' ? 'closed' : 
                                        (event.status == 'PENDING' ? 'pending' : 
                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                        {{ event.status }}
                    </span>
                
                </p>

                <p>{{event.startDate|formatDate}} - {{event.endDate|formatDate}} </p>
                <p>{{event.startDate|date('H:i')}} - {{event.endDate|date('H:i')}}</p>
                
                <p>Capacity: {{event.nbRegistrationMade}}  /  {{event.nbRooms}} - Remaining: {{event.nbRegistrationRemaining}}</p>
                <div> 
                    <a href="{{ path('show_workshop_admin', {'id': event.id}) }}"><i class="ri-eye-close-fill"></i></a>
                    <a href="{{ path('edit_workshop', {'id': event.id}) }}"><i class="ri-file-edit-fill"></i></a> 
                    <a href=""><i class="ri-close-circle-fill delete-btn" data-target="{{ event.id}}"></i></a>
                </div>
                <hr>

                <div class="delete-container" id="{{event.id}}" style="display:none">
                    <p>Are you sure you want to delete this entry? This cannot be undone.</p>
                    <div>
                        <p><a href="{{ path('delete_workshop', {'id': event.id}) }}"><i class="ri-check-line"></i> Confirm</a></p>
                        <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>



    </div>
   
    <div class="dashboard-container-studio">
        <div>
            <h2 id="studio">Art Studios</h2>
        </div>

        <div class="ongoing">
 
            {% for studio in studios %}
            <div class="element">
                <p>
                    <a href="{{ path('show_studio_admin', {'id': studio.id}) }}"><span class="name">✦{{studio.name}}</span></a>
                </p>
                <p>Capacity: {{studio.nbRooms}} </p>
            </div>
            <hr>
            {% endfor %}
        </div>

    </div>
    

{% endblock %}
