{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard - MOSAIC{% endblock %}
{% block meta %}Manage events with ease on the admin dashboard of [Nom de votre site]. Access an overview of all organized events, view details, and efficiently edit or remove them as needed.{% endblock %}

{% block body %}

<section class="dashboard" id="dashboard-main">

    <div id="menu-left">
        <div id="logo-name">
            <figure>
               <img src="{{ asset('images/logo150.png')}}" alt="Mosaic logo"> 
            </figure>      
            <p class="text-n1">MOSAIC</p>
        </div>

        <div class="separator-line"></div>

        <div id="list-menu">
            <div class="is-active"><i class="ri-dashboard-fill "></i><p>dashboard</p></div>
            <a href="{{ path('list_users') }}"><div><i class="ri-team-fill "></i><p>Community</p></div></a>
            <a href="{{ path('list_events') }}"><div><i class="ri-artboard-2-fill"></i><p>events</p> </div></a>
            <a href="{{ path('list_expos') }}"><div><i class="ri-artboard-fill"></i></i><p>expositions</p> </div></a>
            <a href="{{ path('list_workshops') }}"><div><i class="ri-palette-fill"></i><p>workshops</p> </div></a>
            <a href="{{ path('list_studios') }}"><div><i class="ri-home-heart-fill"></i><p>studios</p> </div></a>
            
            {# <div><i class="ri-calendar-fill"></i><p>calendar</p></div>
            <div><i class="ri-calendar-schedule-fill"></i><p>planning</p></div> #}
        </div>

        <div id="bottom">

        </div>
    </div>

    <div id="content">

        <div id="top-title">
            <p class="text-n1">dashboard<span>_</span></p>
            <div class="separator-line"></div>
        </div>

           <h2>Ongoing Activities<span>_</span></h2>
            
            <div class="container-all dashboard-events">
                <div class="container" id="supervisor-users">
                    <h3>Events</h3>
                    {% if currentEvents is not empty %}
                        <div class="table-user head" >
                            <p>Name</p>
                            <p>Date</p>
                            <p>Capacity</p>
                            <p>Status</p>
                            <p>Actions</p>
                        </div>
        
                        <div class="table-user body">
                            {% for event in currentEvents %}                 
                                <p class="even">{{event.name}}</p>
                                <p class="odd">{{event.startDate|formatDate}} - {{event.startDate|date('H:i')}}</p>
                                <p class="even">{{event.nbReversationMade}}  /  {{event.nbRooms}}</p>
                                {# <p class="odd">{{event.status}} - {{event.access}}</p> #}
    
                                <p class="odd">
                                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                                        (event.status == 'CLOSED' ? 'closed' : 
                                                        (event.status == 'PENDING' ? 'pending' : 
                                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                                        {{ event.status }} 
                                    </span>
                                    {{ event.access }}
                                </p>
    
                                <div class="actions even">
                                    <p><a href="{{ path('show_expo_admin', {slug : event.slug}) }}"><i class="fa-solid fa-magnifying-glass"></i></a></p>
                                    <p><a href="{{ path('edit_event', {'id' : event.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></p>
                                    <p><a href="{{ path('delete_event', {slug: event.slug }) }}"><i class="fa-solid fa-circle-xmark"></i></a></p>
                                </div>
                                                    
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>nothing</p>
                    {% endif %}
                </div>
        
                
                <div class="container" id="supervisor-users">
                    <h3>Events</h3>
                    {% if currentExpos is not empty %}
                        <div class="table-user head" >
                            <p>Name</p>
                            <p>Date</p>
                            <p>Capacity</p>
                            <p>Status</p>
                            <p>Actions</p>
                        </div>
        
                        <div class="table-user body">
                            {% for event in currentExpos %}                 
                                <p class="even">{{event.name}}</p>
                                <p class="odd">{{event.startDate|formatDate}} - {{event.startDate|date('H:i')}}</p>
                                <p class="even">{{event.nbReversationMade}}  /  {{event.nbRooms}}</p>
                                {# <p class="odd">{{event.status}} - {{event.access}}</p> #}
    
                                <p class="odd">
                                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                                        (event.status == 'CLOSED' ? 'closed' : 
                                                        (event.status == 'PENDING' ? 'pending' : 
                                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                                        {{ event.status }} 
                                    </span>
                                    {{ event.access }}
                                </p>
    
                                <div class="actions even">
                                    <p><a href="{{ path('show_expo_admin', {slug : event.slug}) }}"><i class="fa-solid fa-magnifying-glass"></i></a></p>
                                    <p><a href="{{ path('edit_event', {'id' : event.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></p>
                                    <p><a href="{{ path('delete_event', {slug: event.slug }) }}"><i class="fa-solid fa-circle-xmark"></i></a></p>
                                </div>
                                                    
                            {% endfor %}
                        </div>
                    {% else %}
                    <p>There is no expositions at this moment.</p>
                    {% endif %}
                </div>

                <div class="container" id="supervisor-users">
                    <h3>Workshops</h3>
                    {% if currentWorkshops is not empty %}
                        <div class="table-user head" >
                            <p>Name</p>
                            <p>Date</p>
                            <p>Capacity</p>
                            <p>Status</p>
                            <p>Actions</p>
                        </div>
        
                        <div class="table-user body">
                            {% for event in currentWorkshops %}                 
                                <p class="even">{{event.name}}</p>
                                <p class="odd">{{event.startDate|formatDate}} - {{event.startDate|date('H:i')}}
                                                {{event.endDate|formatDate}} - {{event.endDate|date('H:i')}}
                                </p>
                                <p class="even">{{event.nbReversationMade}}  /  {{event.nbRooms}}</p>
                                {# <p class="odd">{{event.status}} - {{event.access}}</p> #}
    
                                <p class="odd">
                                    <span class="status {{ event.status == 'OPEN' ? 'open' : 
                                                        (event.status == 'CLOSED' ? 'closed' : 
                                                        (event.status == 'PENDING' ? 'pending' : 
                                                        (event.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                                        {{ event.status }} 
                                    </span>
                                    {{ event.access }}
                                </p>
    
                                <div class="actions even">
                                    <p><a href="{{ path('show_expo_admin', {slug : event.slug}) }}"><i class="fa-solid fa-magnifying-glass"></i></a></p>
                                    <p><a href="{{ path('edit_event', {'id' : event.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></p>
                                    <p><a href="{{ path('delete_event', {slug: event.slug }) }}"><i class="fa-solid fa-circle-xmark"></i></a></p>
                                </div>
                                                    
                            {% endfor %}
                        </div>
                    {% else %}
                    <p>There is no workshops at this moment.</p>
                    {% endif %}
                </div>

            </div>

            <h2>Community<span>_</span></h2>

            <div class="container-all  community-stats">
                <div>
                    <p>Numbers of users : {{ usersCount }}</p>
                    {# <p>Numbers of users connected : </p> #}
                    <p>Numbers of users connected during this week : {{usersLoggedThisWeek}}</p>
                    <br>
                    <p>Numbers of artists : {{artistsCount}}</p>
                    <p>Numbers of artist pages : {{ artistspageCount }} </p>
                    <p>Numbers of supervisors : {{supervisorsCount}}</p>
                </div>


            </div>


        </div>
    </div>

    
</section>

    <script>
        $(document).ready(function() {
            $('.fa-circle-chevron-down').click(function() {
                $(this).closest('p').next('.ongoing').slideToggle();
            });

            $('.fa-circle-chevron-down').click(function() {
                $(this).closest('p').next('.past-ones').slideToggle();
            });
        });
    </script>
    

{% endblock %}
