{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <h1>Dashboard</h1>

    <h2>Event:</h2>

    <p>List:</p>

        {% for event in events %}
            <p>✦{{event.name}}|| {{event.nbRooms}} </p> 
            {{event.startDate|formatDate}}  -  {{event.endDate|formatDate}} 
            <p>Capacity: {{event.nbReversationMade}}  /  {{event.nbRooms}}</p>
            <p>Remaining: {{event.nbReversationRemaining}}</p>
            <p>status: {{ event.status}}</p>
            <p><a href="{{ path('show_event_admin', {'id': event.id}) }}">SEE MORE:</a></p>
            <p>Actions :  <br>
                <a href="{{ path('edit_event', {'id': event.id}) }}">edit</a> 
                <a href="{{ path('delete_event', {'id': event.id}) }}">Delete</a>
            <br>/ delete / open / lock / unlock / Archive / </p>
            <p>add picture</p>
            <hr>
        {% endfor %}


    <p><a href="{{ path('new_event') }}">add an event:</a></p>
    
    <hr><br>
    <h2>Expo</h2>

    {% for expo in expositions %}
        <p>✦{{expo.name}}|| {{expo.nbRooms}} </p> 
        {{expo.startDate|formatDate}}  -  {{expo.endDate|formatDate}} 
        <p><a href="{{ path('show_expo_admin', {'id': expo.id}) }}">SEE MORE:</a></p>
        <p>Actions :  <br>
            <a href="{{ path('edit_expo', {'id': expo.id}) }}">edit</a> 
            <a href="{{ path('delete_expo', {'id': expo.id}) }}">Delete</a>
        <br>/ delete / open / lock / unlock / Archive / </p>
        <p>add picture</p>
        <hr>
    {% endfor %}

    <p><a href="{{ path('new_expo') }}">add an expo:</a></p>


    <hr><br>
    <h2>Workshop</h2>

    {% for workshop in workshops %}
        <p>✦{{workshop.name}}|| {{workshop.nbRooms}}  || {{workshop.status}}</p> 
        {{workshop.startDate|formatDate}}  -  {{workshop.endDate|formatDate}} 
        <p><a href="{{ path('show_workshop_admin', {'id': workshop.id}) }}">SEE MORE:</a></p>
        <p>Actions : <br>
            <a href="{{ path('edit_workshop', {'id': workshop.id}) }}">edit</a>
            <a href="{{ path('delete_workshop', {'id': workshop.id}) }}">Delete</a>
        <br>/ delete / open / lock / unlock / Archive / </p>
        <p>add picture</p>
        <hr>
    {% endfor %}

    <p><a href="{{ path('new_workshop') }}">add a workshop:</a></p>

    <hr><br>
    <h2>Studios</h2>

{% endblock %}
