{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Edit Studio
    {% else %}
        Add Studio
    {% endif %}
{% endblock %}

{% block meta %}add/edit studio{% endblock %}

{% block body %}

    <div class="banner">
        <div class="content">
            <p class="banner-title">Title</p>
            <div class="subtitle">
                <p class="banner-text">Subtitle</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>

    <div class="breadcrumb breadcrumb-dark">
        <p><a href="{{ path('app_dashboard') }}">Go back to the Dashboard </a> <p>
    </div>
   
    <section class="content dashboard create-event" id="dashboard-create-expo">
        {% if edit %}
            <h1 class="text-n1">Edit a Studio<span>_</span></h1>
        {% else %}
            <h1 class="text-n1">Create a Studio<span>_</span></h1>
        {% endif %}


        
        <div class="admin-form">
                
            {{ form_start(formAddStudio) }}
        
                {{ form_row(formAddStudio.name) }}

                <div class="description">
                    {{ form_row(formAddStudio.description) }}
                </div>
                <div class="detail">
                    {{ form_row(formAddStudio.detail) }}
                </div>

                {{ form_row(formAddStudio.nbRooms) }}
                {{ form_row(formAddStudio.title) }}

                Equipement list:
                <ul>
                    {% if studio.equipment is defined %}
                {% for equipmentItem in studio.equipment %}
                    <li>{{ equipmentItem }}</li>
                {% endfor %}
            {% endif %}
                </ul>
                

                <p>Enter equipment separated by a comma</p>

                {{ form_row(formAddStudio.equipment) }}

                <p class="text-n2">IMAGE PREVIEW</p>
                {% if edit %}
                <div class="event-images">
                    {% if previewExists %}
                        <div>
                            <img  src="{{ asset('images/activity/event/' ~ studio.id ~ '/banner/' ~ previewExists ~ '') }}" alt="Banner">
                        </div>
                    {% else %}
                        <div>
                            <!-- Div sans image -->
                        </div>
                    {% endif %}
                </div>
                {% endif %}
                {{ form_row(formAddStudio.titlePreview) }}
                {{ form_row(formAddStudio.altDescriptionPreview) }}
                {{ form_row(formAddStudio.preview) }}

                <p class="text-n2">IMAGE BANNER</p>

                    {% if edit %}
                    <div class="event-images">
                        {% if bannerExists %}
                            <div>
                                <img src="{{ asset('images/activity/event/' ~ studio.id ~ '/banner/' ~ bannerExists ~ '') }}" alt="Banner">
                            </div>
                        {% else %}
                            <div>
                                <!-- Div sans image -->
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    
                    
                    {{ form_row(formAddStudio.titleBanner) }}
                    {{ form_row(formAddStudio.altDescriptionBanner) }}
                    {{ form_row(formAddStudio.banner) }}
                
    
                <div>
                    {% if  edit %}
                        <button id="btn-save-banner" class="btn btn6 btn-edit-event " type="submit">Edit</button>
                    {% else %}
                        <button id="btn-save-banner" class="btn btn6  btn-edit-event" type="submit">Create</button>
                    {% endif %}

                </div>
                
                {# {{ form_row(formAddEvent.Create, { 'attr' : { 'class': 'btn btn6' } })}} #}
        
            {{ form_end(formAddStudio) }}

            

        </div>

        {% if edit %}
        <p class="text-n2">STUDIO GALLERY</p>
        {% endif %}

        <div class="sections-artist">
            <div id="gallery-artist">
                {% for picture in picturesGallery  %}
                    <div id="gallery-img">
                        <img src="{{asset('images/artists/' ~ studio.name ~'/works/mini/500x500-') ~ picture.path }}" alt="{{picture.altDescription}}" width="150">
                        <div class="actions">
                            <a href=" {{ path('delete_event_picture', {'id': picture.id }) }}"><i class="fa-solid fa-xmark"></i></a>
        
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="add-img-gallery-form">
            
            {% if edit %}

            <h2>Add images</h2>
            <p>Maximum pictures allowed : {{maxImagesAllowed}}</p>
            {% if canUploadImage %}
                {{ form_start(formAddPictureGallery) }}
                {{ form_errors(formAddPictureGallery) }}
                {{ form_row(formAddPictureGallery.picture) }}
                {{ form_row(formAddPictureGallery.title) }}
                {{ form_row(formAddPictureGallery.altDescription) }}
                <button class="btn btn6 btn-artist-profil" type="submit">Add</button>
                {{ form_end(formAddPictureGallery) }}

            {% else %}
                <p>Maximum image limit reached. Please delete some before adding more.</p>
            {% endif %}

            {% endif %}
        </div>
        

    </section>

{% endblock %}
