{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Edit Workshop
    {% else %}
        Add Workshop
    {% endif %}
{% endblock %}


{% block meta %}add/edit Workshop{% endblock %}

{% block body %}

   

    {% if edit %}
        <h1>Edit Workshop:</h1>
    {% else %}
        <h1>Add Workshop:</h1>
    {% endif %}

    {{ form_start(formAddWorkshop) }}
        {{ form_errors(formAddWorkshop) }}

        {{ form_row(formAddWorkshop.name) }}
        {{ form_row(formAddWorkshop.description) }}
        {{ form_row(formAddWorkshop.detail) }}
        {# {{ form_row(formAddWorkshop.status) }} #}
        {# {{ form_row(formAddWorkshop.type) }} #}
        {{ form_row(formAddWorkshop.startDate) }}
        {{ form_row(formAddWorkshop.endDate) }}
        {{ form_row(formAddWorkshop.nbRooms) }}
        {{ form_row(formAddWorkshop.picture) }}
        {{ form_row(formAddWorkshop.user) }}

        {# Constuire dynamiquement la liste des lessons existants à partir  de la collection de programme #}

        <h2>Programme du workshop: </h2>
        {# {{ form_row(formAddWorkshop.programmes) }} #}

        {{ form_row(formAddWorkshop.Create) }}

    {{ form_end(formAddWorkshop) }}


{% endblock %}


