{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block meta %}{% endblock %}

{% block body %}



<section id="dashboard-show">

    <div id="link-goBack" >
        <p><a href="{{ path('list_expos') }}">Go back to all Expositions</a> <p>
    </div>


    <h1 class="text-n1">{{area.name}}<span>_</span></h1>
    <div id="info">
        <p>Status : 
            <span class="status {{ area.status == 'OPEN' ? 'open' : 
                                (area.status == 'CLOSED' ? 'closed' : 
                                (area.status == 'PENDING' ? 'pending' : 
                                (area.status == 'ARCHIVED' ? 'archived' : 'status-default'))) }}">
                {{ area.status }}
            </span>
        </p>
        <p>Date :  {{area.startDate|formatDate}} - {{area.startDate|date('H:i')}} /  {{area.endDate|formatDate}} - {{area.endDate|date('H:i')}}  </p>
        <p>Capacity : {{area.nbReversationMade}}  /  {{area.nbRooms}} - Remaining : {{area.nbReversationRemaining}} </p>

        <div class="text">
            <p>Description : </p>
            <p>{{area.description}}</p>
        </div>
        <div class="text">
            <p>Detail : </p>
            <p>{{area.detail}}</p>
        </div>
        
        <p>Quote : {{area.quote}}</p>

        <div id="actions">
            <a href="{{ path('edit_expo', {slug : area.slug}) }}"><i class="fa-solid fa-pen-to-square"></i>edit</a>
            <a href="#"><i class="fa-regular fa-circle-xmark delete-trigger2"></i>delete</a>
        </div>
        
        <div class="delete-container2" style="display:none">
            <p>Are you sure you want to delete this entry? This cannot be undone.</p>
            <div>
                <p><a href="{{ path('delete_expo', {slug : area.slug}) }}"><i class="ri-check-line"></i> Confirm</a></p>
                <p class="close-confirmation-btn2"><i class="ri-close-fill "></i> Cancel</p>
            </div>
        </div>
    </div>

    <div id="participants">
        <h2 class="text-n2" >Participants list<span>_</span></h2>
        <ul>
            {% for participant in area.areaParticipations %}
                <li>
                    <p>
                        {{ participant.firstname}} - {{ participant.lastname}} -  {{ participant.inscriptionDate|formatDate}} 
                        <a href="#"><i class="ri-close-circle-fill delete-btn" data-target="{{ participant.id}}"></i></a>
                    </p>
                    
                    <div class="delete-container" id="{{participant.id}}" style="display:none">
                        <p>Are you sure you want to delete this participation? This cannot be undone.</p>
                        <div>
                            <p><a href="{{ path('delete_participation', {'id': participant.id }) }}"><i class="ri-check-line"></i> Confirm</a></p>
                            <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="participants">
        <h2 class="text-n2" >Artists list<span>_</span></h2>
    </div>
    {% if area.expositionProposals is not empty%}
        <ul>
            {% for proposal in area.expositionProposals %}
                <li>
                    <p>
                        <a href="{{ path('show_artist', {slug: proposal.user.slug}) }}"> {{ proposal.user.artistInfos.artistName }} </a>
                       - {{ proposal.user.artistInfos.discipline }} - {{ proposal.user.artistInfos.emailPro}}
                        <a href="#"><i class="ri-close-circle-fill delete-btn" data-target="{{ proposal.id}}"></i></a>
                    </p>
                    
                    <div class="delete-container" id="{{proposal.id}}" style="display:none">
                        <p>Are you sure you want to delete this artist proposal? This cannot be undone.</p>
                        <div>
                            <p><a href="{{ path('delete_proposal', {'id': proposal.id }) }}"><i class="ri-check-line"></i> Confirm</a></p>
                            <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas de participants </p>
    {% endif %}

    

</section>


    <script>
        $(document).ready(function() {
    
            $('.delete-trigger2').click(function() {
                event.preventDefault();
                $('.delete-container2').slideToggle();
            });
        
            $('.close-confirmation-btn2').click(function() {
                $('.delete-container2').slideToggle();
            });
        });
    </script>

    
{% endblock %}
