{% extends 'base.html.twig' %}

{% block title %}detail expo{% endblock %}
{% block meta %}detail expo{% endblock %}

{% block body %}

    <h1>detail expo(admin)</h1>

    <p>{{area.name}}</p>
    {# {{ dump(area) }} #}

    <p>Artists list:</p>

    <ul>
        {% for proposal in area.expositionProposals %}
            <li>{{ proposal.user.artistInfos.artistName }} - {{ proposal.user.artistInfos.discipline }} - {{ proposal.user.artistInfos.emailPro}}</li>
         

            <a href="#"><i class="ri-close-circle-fill delete-btn" data-target="{{ proposal.id}}"></i></a>
            <div class="delete-container" id="{{proposal.id}}" style="display:none">
                <p>Are you sure you want to delete this participation? This cannot be undone.</p>
                <div>
                    <p><a href="{{ path('delete_proposal', {'id': proposal.id }) }}"><i class="ri-check-line"></i> Confirm</a></p>
                    <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                </div>
            </div>


        {% endfor %}

    </ul>

    
    <p>Participants list:</p>
    <ul>

        {% for participant in area.areaParticipations %}
            <li>
                <p>{{ participant.firstname}} - {{ participant.lastname}} -  {{ participant.inscriptionDate|formatDate}} </p>

                <a href="#"><i class="ri-close-circle-fill delete-btn" data-target="{{ participant.id}}"></i></a>
                <div class="delete-container" id="{{participant.id}}" style="display:none">
                    <p>Are you sure you want to delete this participation? This cannot be undone.</p>
                    <div>
                        <p><a href="{{ path('delete_expo_participation', {'id': participant.id }) }}"><i class="ri-check-line"></i> Confirm</a></p>
                        <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    

    
{% endblock %}
