{% extends 'base.html.twig' %}

{% block title %} - MOSAIC{% endblock %}
{% block meta %}{% endblock %}

{% block body %}


   {# event en cours / à venir / passé #}
   {# Rajouter hyperliens 
    ajouter confirmation pour suppression user
    check slug + redirection archived#}

    <section class="dashboard" id="dashboard-user">

        <div id="menu-left">
            <div id="logo-name">
                <figure>
                <img src="{{ asset('images/logo150.png')}}" alt="logo of the website"> 
                </figure>      
                <p class="text-n1">MOSAIC</p>
            </div>
    
            <div class="separator-line"></div>
    
            <div id="list-menu">
                <a href="{{ path('app_dashboard') }}"><div><i class="ri-dashboard-fill"></i><p>dashboard</p></div></a>
                <a href="{{ path('list_users') }}"><div class="is-active"><i class="ri-team-fill "></i><p>Community</p></div></a>
                <a href="{{ path('list_events') }}"><div><i class="ri-artboard-2-fill"></i><p>events</p> </div></a>
                <a href="{{ path('list_expos') }}"><div><i class="ri-artboard-fill"></i></i><p>expositions</p> </div></a>
                <a href="{{ path('list_workshops') }}"><div><i class="ri-palette-fill"></i><p>workshops</p> </div></a>
                <a href="{{ path('list_studios') }}"><div><i class="ri-home-heart-fill"></i><p>studios</p> </div></a>
            </div>
    
            <div id="bottom"></div>
    
        </div>
    
        <div id="content">
    
            <div id="top-title">
                <p class="text-n1">Community<span>_</span></p>
                <div class="separator-line"></div>
            </div>
    
            <div class="container-all dashboard-user">

                <p><a href="{{ path('list_users') }}"> <i class="ri-arrow-left-double-fill"></i> Go back to all users</a></p>
                <p class="text-n1">{{user}}</p>

                {% if is_granted('ROLE_ADMIN') %}
                <p class="btn-confirmation"><a href="#"> <i class="fa-solid fa-circle-xmark"></i> Delete user</a></p>
                

                <div id="delete-confirmation" style="display: none;">
                    <p>Are you sure to want to delete this user? This action cannot be undone.</p>
                    <div id="actions">
                        <div>
                                <i class="fa-solid fa-circle-check"></i>
                                <p>
                                <a href=" {{ path('delete_user_admin', {'id': user.id }) }}">confirm</a></p>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-xmark btn-confirmation"></i>
                            <p>cancel</p>
                        </div>
                        
                    </div>
                </div>
                {% endif %}

                <h2 class="text-n2">Informations:</h2>

                <div id="info-user">
                    <div id="infos">
                        <p>Email : {{ user.email}}</p>
                        <p>Registration date : {{ user.registrationDate|formatDate}}</p>
                        <p>Member since : {{ user.durationSinceRegistration}} </p>
                        <p>Last login date : {{ user.lastLoginDate|formatDate}} </p>
        
                        {% if user.getSimpleRoles|length > 0 %}
                        <p>Role : {{ user.getSimpleRoles|join(', ') }} </p>
                        {% else %}
                            <p>Role: no role</p>
                        {% endif %}

                        {# page artist + modération #}
                        <div id="moderate">
                            {% if "ROLE_ARTIST" in user.roles  %}
                                <p>Artist page : 
                                {% if user.isPublished == 0 %}
                                    Not published</p>
                                {% elseif user.isPublished == 1  %}
                                    <a href="{{ path('show_artist', {slug: user.slug}) }}">Published</a></p>
                                {% elseif user.isPublished == -1  %}
                                    Moderated</p>
                                {% endif %}
                            {% endif %}
    
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ form_start(formPublishPageArtist) }}
                                    {% if user.isPublished == 1 %}
                                        <button class="btn btn-red btn-artist-profil" type="submit">Moderate</button>
                                    {% elseif user.isPublished == -1 %}
                                        <button class="btn btn-blue btn-artist-profil" type="submit">Publish</button>
                                    {% endif %}
                                {{ form_end(formPublishPageArtist) }}
                            {% endif %}

                        </div>
                    </div>

                    <div id="avatar">
                            <picture>
                                {% if user.avatar %}
                                <img src="{{ asset('images/avatars/' ~ user.avatar) }}" alt="user's avatar">
                                {% else %}
                                    <img src="{{ asset('images/visuals/defaultPicture.png') }}" alt="default image for avatar">
                                {% endif %}
                            </picture>
                    </div>
                </div>
    
                
                <h2 class="text-n2" style="margin-bottom: 2rem;">Activity :</h2>  
                
                <div class="container-activity">
                    <h3>Events :</h3>

                    <div class="table table-head">
                        <p>Name  </p>
                        <p>Inscription date </p>
                        <p>Event date </p>
                        <p>Status </p>
                    </div>

                    <div class=" table-body">

                        {% for participation in user.areaParticipations %}
                            {% if participation.area.type == 'EVENT' %}
                                <div class="lines">
                                    {% if participation.area.status == 'ARCHIVED' %}
                                        <p><a href="{{ path('show_archived_event', {slug : participation.area.slug })}}">{{ participation.area.name}} </a></p>
                                    {% else %}
                                        <p><a href="{{ path('show_event', {slug : participation.area.slug })}}">{{ participation.area.name}} </a></p>
                                    {% endif %}
                                    <p>{{ participation.inscriptionDate|formatDate}}</p>
                                    <p>{{ participation.area.startDate|formatDate}} {{ participation.area.endDate|formatDate}}</p>
                                    <p>{{ participation.area.status}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
    
                </div>

                <div class="container-activity">
                    <h3>Expositions :</h3>

                    <div class="table table-head">
                        <p>Name </p>
                        <p>Inscription date </p>
                        <p>Exposition date </p>
                        <p>Status </p>
                    </div>

                    <div class=" table-body">

                        {% for participation in user.areaParticipations %}
                            {% if participation.area.type == 'EXPO' %}
                                <div class="lines">
                                    {% if participation.area.status == 'ARCHIVED' %}
                                        <p><a href="{{ path('show_archived_event', {slug : participation.area.slug })}}">{{ participation.area.name}} </a></p>
                                    {% else %}
                                        <p><a href="{{ path('show_event', {slug : participation.area.slug })}}">{{ participation.area.name}} </a></p>
                                    {% endif %}
                                    <p>{{ participation.inscriptionDate|formatDate}}</p>
                                    <p>{{ participation.area.startDate|formatDate}} {{ participation.area.endDate|formatDate}}</p>
                                    <p>{{ participation.area.status}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
    
                </div>
              
                <div class="container-activity">
                    <h3>Workshops :</h3>

                    <div class="table table-head">
                        <p>Name </p>
                        <p>Inscription date </p>
                        <p>Workshop date </p>
                        <p>Status </p>
                    </div>

                    <div class=" table-body">

                        {% for participation in user.workshopRegistrations %}
                                <div class="lines">
                                    {% if participation.workshop != null %}
                                        {% if participation.workshop.status == 'ARCHIVED' %}
                                            <p><a href="{{ path('show_workshop', {slug : participation.workshop.slug })}}">{{ participation.workshop.name}} </a></p>
                                        {% else %}
                                            <p><a href="{{ path('show_workshop', {slug : participation.workshop.slug })}}">{{ participation.workshop.name}} </a></p>
                                        {% endif %}
                                        <p>{{ participation.registrationDate|formatDate}}</p>
                                        <p>{{ participation.workshop.startDate|formatDate}} {{ participation.workshop.endDate|formatDate}}</p>
                                        <p>{{ participation.workshop.status}}</p>
                                    {% endif %}
                                    
                                </div>
                        {% endfor %}
                    </div>
    
                </div>
                
                <div class="container-activity">
                    <h3>Studios :</h3>

                    <div class="table table-head">
                        <p>Name </p>
                        <p>Inscription date </p>
                        <p>Timeslot </p>
                        <p>Date </p>
                    </div>

                    <div class=" table-body">

                        {% for participation in user.workshopRegistrations %}
                                <div class="lines">
                                    {% if participation.timeslot != null %}
                                            <p><a href="{{ path('show_studio', {slug : participation.timeslot.studio.slug })}}">{{participation.timeslot.studio.name}} </a></p>
                                        <p>{{ participation.registrationDate|formatDate}}</p>
                                        <p>{{participation.timeslot.startDate|date('H:i')}} - {{participation.timeslot.endDate|date('H:i')}}</p>
                                        <p>{{participation.timeslot.startDate|formatDate}}</p>
                                    {% endif %}
                                    
                                </div>
                        {% endfor %}
                    </div>
    
                </div>
                
                
                <p class="text-n2">Subscriptions :</p>
                
                {% if  user.subscriptions is not empty %}
                
                    <p>Active : </p>
                        {% for subscription in user.subscriptions %}
                            {% if subscription.isActive == 1 %}
                                <div id="active">
                                    <p><span>Description :</span> {{ subscription.infosSubscription.name }} - {{ subscription.infosSubscription.price }} € - {{ subscription.infosSubscription.duration }} days</p>
                
                                    {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.infosSubscription.duration ~ ' days') %}
                
                                    <p><span>Payment date :</span> {{ subscription.paymentDate|formatDate }} | <span>End date :</span> {{ endDate|formatDate }}</p>
                
                                    <p><span>Remaining days :</span> {{ subscription.daysRemaining.remaining }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}    
                        
                        <p style="margin-top: 1.2rem;" >History : </p>
                        {% for subscription in user.subscriptions|sort((a, b) => b.paymentDate <=> a.paymentDate) %}
                            {% if subscription.isActive == 0 %}
                            <div id="inactive">
                
                                <p><span>Description :</span> {{ subscription.infosSubscription.name }} - {{ subscription.infosSubscription.price }} € - {{ subscription.infosSubscription.duration }} days</p>
                
                
                                {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.infosSubscription.duration ~ ' days') %}
                
                                <p><span>Payment date :</span> {{ subscription.paymentDate|formatDate }} | <span>End date :</span> {{ endDate|formatDate }}</p>
                                
                                <div></div>
                                
                            </div>
                            {% endif %}
                        {% endfor %}
            
                {% endif %}

            </div>
                
    
        </div>
        
            
    </section>

<script>
    $(document).ready(function() {
        $('.btn-confirmation').click(function(){
            $("#delete-confirmation").slideToggle();
        });
    })
</script>

{% endblock %}
