{% extends 'base.html.twig' %}

{% block title %}detail event{% endblock %}
{% block meta %}detail event{% endblock %}

{% block body %}

    <h1>detail event(admin)</h1>

    <p>{{area.name}}</p>
    {# {{ dump(area) }} #}

    <p>Participants list:</p>

    <ul>

        {% for participant in area.areaParticipations %}
            <li>
                <p>{{ participant.firstname}} - {{ participant.lastname}} -  {{ participant.inscriptionDate|formatDate}} </p>
                
                <a href="#"><i class="ri-close-circle-fill delete-btn" data-target="{{ participant.id}}"></i></a>
                <div class="delete-container" id="{{participant.id}}" style="display:none">
                    <p>Are you sure you want to delete this participation? This cannot be undone.</p>
                    <div>
                        <p><a href="{{ path('delete_participation', {'id': participant.id }) }}"><i class="ri-check-line"></i> Confirm</a></p>
                        <p class="close-confirmation-btn"><i class="ri-close-fill "></i> Cancel</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    

    
{% endblock %}
