<html>
   
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Subscription history{% endblock %}</title>
    
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    
        {# Google fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap" rel="stylesheet">
    
        {# Font awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        {# Remix Icon #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
       
        {% block stylesheets %}
           
        {% endblock %}
    
        {% block javascripts %}
        {% endblock %}


    </head>

   <div id="pdf-content">
        <h1>SUBSCRIPTION HISTORY</h1>
        <h2>Active subscription</h2>

        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Payment Date</th>
                    <th>Duration</th>
                    <th>End Date</th>
                    <th>Remaining days</th>
                </tr>
            </thead>
            <tbody>

                {% for subscription in user.subscriptions %}
                {% if subscription.isActive == 1 %}
                    <tr>
                        <td>{{ subscription.infosUser.firstname }} {{ subscription.infosUser.lastname }}</td>
                        <td>{{ subscription.infosUser.address }}</td>
                        <td>{{ subscription.infosSubscription.name }}</td>
                        <td>{{ subscription.infosSubscription.price }} €</td>
                        <td>{{ subscription.paymentDate|formatDate }}</td> 
                        <td>{{ subscription.infosSubscription.duration }} days</td>
                        {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.infosSubscription.duration ~ ' days') %}
                        <td>{{ endDate|formatDate }}</td>
                        <td>{{ subscription.daysRemaining.remaining }}</td>
                    </tr>

                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h2>Previous subscriptions</h2>

        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Payment Date</th>
                    <th>Duration</th>
                    <th>End Date</th>
                    <th>Remaining days</th>
                </tr>
            </thead>
            <tbody>

                {% for subscription in user.subscriptions|sort((a, b) => b.paymentDate <=> a.paymentDate) %}
                    {% if subscription.isActive == 0 %}
                    <tr>
                        <td>{{ subscription.infosUser.firstname }} {{ subscription.infosUser.lastname }}</td>
                        <td>{{ subscription.infosUser.address }}</td>
                        <td>{{ subscription.infosSubscription.name }}</td>
                        <td>{{ subscription.infosSubscription.price }} €</td>
                        <td>{{ subscription.paymentDate|formatDate }}</td> 
                        <td>{{ subscription.infosSubscription.duration }} days</td>
                        {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.infosSubscription.duration ~ ' days') %}
                        <td>{{ endDate|formatDate }}</td>
                        <td>/ </td>
                    </tr>

                    {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="text-align: right;">Total:</td>
                    <td>{{ totalSubscriptions }} €</td>
                </tr>
            </tfoot>
        </table>
    </div>
</html>


