{% extends 'base.html.twig' %}

{% block title %}Subscription{% endblock %}
{% block meta %}Subscription{% endblock %}

{% block javascripts %}

	<script src="https://js.stripe.com/v3/"></script>

{% endblock %}

{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">subscription / payment</h1>
        <div class="subtitle">
            <p class="banner-text">Subtitle</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #151515;
    }
</style>

<div class="breadcrumb breadcrumb-light">
    <p><a href="{{ path('app_homepage') }}">Home </a> >  <a href="{{ path('app_subscription') }}">All Subscriptions</a> >{{subscriptionType}}
</div>


<section class="content participation-content" id="register-user">
    <div id="register-container">
        <div id="separator">

        </div>
        <div class="left-register" id="l-participation">
         
        </div>

        <div class="right-register" id="r-participation">
            <div id="detail-subscription-payment">
                <h2>Proceed to payment<span class="underscore">_</span></h2>
  
                <p>Subscription choosen:</p>
                <p>{{subscriptionType}}</p>
                <p>{{subscriptionType.price}} euros</p>
                <p>{{subscriptionType.duration}} days</p>
            </div>

            {# <p>Make the payment</p> #}
            <div id="form-register">

            {# changer nom id #}
            <div id="client-secret" data-client-secret="{{ clientSecret }}"></div>

            {{ form_start(formSubscriptionPayment, {'attr': {'id': 'subscription-form'}}) }}
                    {{ form_errors(formSubscriptionPayment)}}
                    {{ form_row(formSubscriptionPayment.firstname)}}
                    {{ form_row(formSubscriptionPayment.lastname)}}
                    {{ form_row(formSubscriptionPayment.address)}}
                    <div id="card-elements" class="stripe-card-elements"></div>
                    <div id="card-errors" role="alter"></div>

                    {{ form_row(formSubscriptionPayment.Subscribe, {'attr': {'class': 'card-button btn btn6'}}) }}
            {{ form_end(formSubscriptionPayment)}}

            </div>
        </div>
    </div>
</section>


<script>
  
    window.onload = () => {

        let stripe = Stripe('pk_test_51OOfxmFInhPlxmzGb5udco2DCaiaaH3PlKcFjVz4GK1xy7qYYFUkzDpkfoyBfhF8e70X3n6x5JpZL616aIrL5VvN0095RLpWkN')

        let elements = stripe.elements();
        let redirect = "/home/test_stripe"

        let cardHolderFirstNameDiv = document.getElementById("subscription_payment_firstname");
        let cardHolderLastNameDiv = document.getElementById("subscription_payment_lastname");


        let clientSecretDiv = document.getElementById("client-secret")
        let clientSecret = clientSecretDiv.dataset.clientSecret;
        console.log("client secret :", clientSecret);
        
        var subscriptionForm = document.getElementById('subscription-form');


        let card = elements.create("card")
        card.mount("#card-elements")

        card.addEventListener("change", (e) => {
            let displayError = document.getElementById('card-errors')
            if(e.error) {
                displayError.textContent = e.error.message
            } else {
                displayError.textContent = "";
            }
        })

        const cardButton = document.querySelector('.card-button');
        cardButton.addEventListener('click', (e) => {
            e.preventDefault(); 
 
            let cardHolderName = cardHolderFirstNameDiv.value + ' ' + cardHolderLastNameDiv.value; 
            console.log("client secret" , clientSecret)
            stripe.handleCardPayment(
                
                clientSecret, card,  {
                    payment_method_data: {
                        billing_details : { name: cardHolderName}
                        
                    }
                    
                }
            
            ).then((result) => {
                // vérifier si erreur ou pas
                if(result.error) {
                    document.getElementById("errors").innerText = result.error.message 
                 }else{
                    //redirection
                    subscriptionForm.submit();
                }
                
            })
        })

    }
</script>

<script src="https://js.stripe.com/v3/"></script>


{% endblock %}
