{% extends 'base.html.twig' %}

{% block title %}Subscription{% endblock %}
{% block meta %}Subscription{% endblock %}

{% block body %}

<style>
    body {
        background-color: #151515;
    }
</style>





<div class="banner">
    <div>
        <h1 class="banner-title">SUBSCRIPTIONS</h1>
        <p class="banner-text">Text text<span class="underscore-static">_</span></p>
    </div>
</div>



<section class="content" id="subscription-page">
    {% for subscription in subscriptions %}
        <div class="subscription-card" id="{{ subscription.id }}">
            <h2 class="text-n2">{{ subscription.name }}</h2>

            <div class="image">
            </div>

            <p class="">{{ subscription.price}} €</p>
            <p>per {{ subscription.dueDate}}</p>

            <div class="subscription-btn">
                <div class="btn btn6">SUBSCRIBE</div>
            </div>

        </div>
    {% endfor %}

    


</section>



<p>Choose your subscription</p>

{% if app.user %}
    {% if user.subscriptions is not empty %}
        {% set hasActiveSubscription = false %}
        {% for subscription in user.subscriptions %}
            {% if subscription.isActive == true %}
                {% set hasActiveSubscription = true %}
                {# The user has an active subscription #}
                <p>You already have an ongoing subscription.</p>
            {% endif %}
        {% endfor %}
        
        {% if not hasActiveSubscription %}
            {# The user doesn't have any active subscriptions  #}
            {% for subscription in subscriptions %}
                <p>{{ subscription.name }}</p>
                <p>{{ subscription.price }} EUR</p>
                <p>{{ subscription.duration }} days</p>

                <a href="{{ path('subscription_payment', {'id': subscription.id}) }}"><button>Subscribe!</button></a> 
            {% endfor %}
        {% endif %}
    {% else %}
        {# The user doesn't have any subscriptions  #}
        {% for subscription in subscriptions %}
            <p>{{ subscription.name }}</p>
            <p>{{ subscription.price }} EUR</p>
            <p>{{ subscription.duration }} days</p>

            <a href="{{ path('subscription_payment', {'id': subscription.id}) }}"><button>Subscribe!</button></a> 
        {% endfor %}
    {% endif %}
{% endif %}


  {# {% if user.subscriptions is not empty %} #}
  <script src= "{{ asset('js/gsap.min.js') }}"></script>
   
<script>
    const subscriptionCards = document.querySelectorAll('.subscription-card');

    function animateSubscriptionCards() {
        subscriptionCards.forEach((card, index) => {
            gsap.to(card, {
                opacity: 1, 
                y: 0, 
                duration: 1, 
                ease: "power2.out", 
                delay: index * 0.2, 
            });
    
            
            card.addEventListener('mouseenter', () => {
                gsap.to(card, {
                    scale: 1.05, 
                    duration: 0.3, 
                });
            });
    
            card.addEventListener('mouseleave', () => {
                gsap.to(card, {
                    scale: 1, 
                    duration: 0.3, 
                });
            });
        });
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        animateSubscriptionCards();
    });


</script>



{% endblock %}
