
{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}

    <h1>test</h1>
<h2>Change  password</h2>
{{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.oldPassword) }}
    {{ form_row(changePasswordForm.newPassword) }}
    {{ form_row(changePasswordForm.submit) }}
{{ form_end(changePasswordForm) }} 




{% endblock %}


