{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}

    
{{ form_start(formEditUser) }}

        
    <div>
        <div>{{ form_row(formEditUser.username) }}</div>
        <div> {{ form_row(formEditUser.email) }}</div>
    </div>


    {# {{ form_row(formEditUser.avatar) }} #}


    {{ form_row(formEditUser.Validate) }}

{{ form_end(formEditUser) }}




{% endblock %}
