{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="banner">
        <div>
            <h1 class="banner-title">YOUR PROFIL</h1>
            <p class="banner-text">Text text<span class="underscore-static">_</span></p>
        </div>
    </div>
    
    <section class="content" id="profil-user">

        <div id="content-profil-user">
            <div id="separator-profil"></div>
            <div id="top">
                <h2 class="text-n1">{{ user }}<span>_</span> </h2>
                <div id="avatar">
                    <div>
                        <picture>
                            {% if user.avatar %}
                            <img src="{{ asset('images/avatars/' ~ user.avatar) }}">
                            {% else %}
                                <img src="{{ asset('images/default_profile.jpg') }}">
                            {% endif %}
                        </picture>
                        
                    </div>
                    <div>
                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                    </div>

                </div>
                <div id="roles">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="middle">
                <div id="left">
                    <p class="text-n2" id="infos">Info<span>_</span></p>
                    <div class="text-n3" id="info">
                        <p><span>Username :</span> {{user}}</p>
                        <p><span>Email :</span> {{ user.email }}</p>
                        <p><span>Registration date :</span> {{ user.registrationDate|date("d.m.Y") }}</p>
                        <p><span>Member since :</span> {{ user.durationSinceRegistration}}</p>
                    </div>

                    <div id="actions" class="logo-profile">
                        <div>
                            <i id="edit-infos-btn" class="fa-regular fa-pen-to-square"></i>
                            <p>Edit informations</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-unlock-keyhole"></i>
                            <p>Change password</p>
                        </div>
                        <div>
                            <i id="delete-account-btn" class="fa-solid fa-x"></i>
                            <p>Delete account</p>
                        </div>
                    </div>

                </div>

                <div id="right">
                    <p class="text-n2" id="activities"><span>_</span>Activity</p>
                    <div class="text-n3" id="activity">
                        <p><span>Events</span></p>
                        <p><span>Exhibitions</span></p>
                        <p><span>Workshops</span></p>
                        <p><span>Studios</span></p>
                    </div>

                    <div class="logo-profile">
                        
                        {% if  user.subscriptions is empty %}
                            <p>No subscriptions</p>
                            <a href="{{ path('app_subscription')}}"><div><i id="subscription-inactive"class="fa-regular fa-star"></i></div></a>
                            
                            {% else %}
                                {% for subscription in user.subscriptions %}
                                    {% set daysRemaining = subscription.daysRemaining %}
                                    {% if daysRemaining.remaining > 0 and (subscription.isActive == 1) %}
                                    <p>{{ subscription.subscriptionType.name }}</p>
                                    {# <p>Payment date: {{ subscription.paymentDate|formatDate }}</p>
                                    <p>Duration: {{ subscription.subscriptionType.duration }} days</p>
                                    <p>End date: {{ daysRemaining.endDate }}</p> #}
                                    <p>Remaining days: {{ daysRemaining.remaining }}</p>
                                    <div><i id="subscription-active" class="fa-regular fa-star"></i></div>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="bottom">
                <div id="content">
                    <div id="edit-form">
                        {{ form_start(formEditUser) }}
                        <div class="field">{{ form_row(formEditUser.username) }}</div>
                        <div class="field"> {{ form_row(formEditUser.email) }}</div>
                        <div class="field">{{ form_row(formEditUser.Validate) }}</div>
                        {{ form_end(formEditUser) }}
                    </div>

                    <div id="delete-account">
                        <p>Are you sure you want to delete your account? This action can't be undone.</p>
                        <div>
                            <div>
                                <a href=""><i class="fa-regular fa-circle-check"></i>
                                <p>Confirm</p></a>
                                
                            </div>
                            <div>
                                <a href=""><i class="fa-regular fa-circle-xmark"></i><p>Cancel</p></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <p>Role: {{ user.getSimpleRoles|join(', ')}} </p>


    <p><a href="{{ path('edit_user', {'id': app.user.id }) }}">EDIT info</a></p>

    
    <div id="avatar">
        <div id="avatar-profil">
            
        </div>
        
        <div id="form">
            {{ form_start(form) }}
            {{ form_row(form.avatar) }} 
            {{ form_end(form) }}
        </div>
    </div>


    <div>
        <a href=" {{ path('app_logout') }}">logout</a> - 

        {# <a href=" {{ path('delete_user', {'id': app.user.id }) }}">delete account</a> -  #}

        <a href=" {{ path('editPassword_user',{'id': app.user.id }) }}">change password</a>

    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputs = document.querySelectorAll('#edit-form input');
           
            inputs.forEach(function(input) {
                input.addEventListener('focus', function() {
                    this.style.borderColor = '#207E93'; 
                    this.previousElementSibling.style.color = '#207E93'; 
                });
                //blur event is triggered when the input field loses focus
                input.addEventListener('blur', function() {
                    this.style.borderColor = '#939393'; 
                    this.previousElementSibling.style.color = ''; 
                });
            });
        });

        $(document).ready(function() {
            $('#edit-infos-btn').click(function(){
                $("#edit-form").slideToggle();
            });

            $('#delete-account-btn').click(function(){
                $("#delete-account").slideToggle();
            });

        })


            
 
    </script>

{% endblock %}
