{% extends 'base.html.twig' %}

{% block title %}Your account - MOSAIC{% endblock %}
{% block meta %}Access your registration details, event history, and subscription information on MOSAIC. Stay updated with your engagements and past experiences.{% endblock %}

{% block body %}

    <div class="banner">
        <div class="content">
            <h1 class="banner-title">YOUR PROFIL</h1>
            <div class="subtitle">
                <p class="banner-text">Subtitle</p>
                <div class="underscore-blink"> </div>
            </div>
        </div>
    </div>
    
    <section class="content" id="profil-user">

        <div id="content-profil-user">
            <div id="separator-profil"></div>
            <div id="top">
                <div id="pattern"></div>
                <h2 class="text-n1">{{ user }}<span class="underscore">_</span> </h2>
                <div id="avatar">

                    <div>
                        <picture>
                            {% if user.avatar %}
                            <img src="{{ asset('images/avatars/' ~ user.avatar) }}" alt="user's avatar">
                            {% else %}
                                <img src="{{ asset('images/default_profile.jpg') }}" alt="default image for avatar">
                            {% endif %}
                        </picture>
                    </div>

                    <div>
                        <i id="upload-avatar-btn" class="fa-regular fa-pen-to-square fa-lg"></i>
                    </div>
                </div>

                {# <p>Role: {{ user.getSimpleRoles|join(', ')}} </p> #}
                {% set roles = user.getSimpleRoles %}
                {% set hasArtistRole = 'artist' in user.getSimpleRoles %}

                <div id="roles">
                   {% if roles is not empty %}
                    {# loop for  admin and supervisor role  #}
                    {% for role in roles %}
                        {% if role != 'artist' %}
                            <div>
                                {% if role == 'admin' %}
                                    <a href="{{ path('app_dashboard')}}"><i class="fa-solid fa-user-tie fa-xl"></i></a>
                                {% elseif role == 'supervisor' %}
                                    <a href={{ path('studio_dashboard')}}><i class="fa-solid fa-graduation-cap fa-xl"></i></a>
                                {% endif %}
                                
                                
                            </div>
                        {% endif %}
                    {% endfor %}

                    {# loop for artist role #}
                    {% if hasArtistRole %}
                        <div id="role-artist">
                            <a href="{{ path('manage_profil', {slug: app.user.slug }) }}"><i class="fa-solid fa-palette fa-xl"></i></a>
                            
                        </div>
                    {% else %}
                        <div id="not-artist">
                            <i class="fa-solid fa-palette fa-xl"></i>
                        </div>
                    {% endif %}
                {% endif %}
                </div>

            </div>

            <div id="upload-avatar">
                <div id="form-avatar">
                    {{ form_start(form) }}
                    {{ form_errors(form)}}
                    {{ form_row(form.avatar) }} 
                    <div class="btn btn6">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>


            <div id="middle">
                <div id="left">
                    <p class="text-n2" id="infos">Info<span>_</span></p>
                    <div class="text-n3" id="info">
                        <p><span>Username :</span> {{user}}</p>
                        <p><span>Email :</span> {{ user.email }}</p>
                        <p><span>Registration date :</span> {{ user.registrationDate|date("d.m.Y") }}</p>
                        <p><span>Member since :</span> {{ user.durationSinceRegistration}}</p>
                    </div>

                    <div id="actions" class="logo-profile">
                        <div>
                            <i id="edit-infos-btn" class="fa-regular fa-pen-to-square"></i>
                            <p>Edit informations</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-unlock-keyhole"></i>
                            <p>Change password</p>
                        </div>
                        <div>
                            <i id="delete-account-btn" class="fa-solid fa-x"></i>
                            <p>Delete account</p>
                        </div>
                        <div>
                            <a href=" {{ path('app_logout') }}"><i id="logout-btn" class="fa-solid fa-right-from-bracket"></i></a>
                            <p>Logout</p>
                        </div>
                    </div>

                </div>

                <div id="right">
                    <p class="text-n2" id="activities"><span>_</span>Activity</p>
                    <div class="text-n3" id="activity">
                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".events">Events</p>
                        </div>

                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".expos">Expositions</p>
                        </div>

                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".workshops">Workshops</p>
                        </div>

                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".studios">Studios</p>
                        </div>
                    </div>

                    <div class="logo-profile subscriptions">

                        {% if user.subscriptions is empty %}
                            <!-- Case 1: no subscription -->
                            <div>
                                <p>No subscriptions</p>
                                <a href="{{ path('app_subscription') }}"><i id="subscription-inactive" class="fa-regular fa-star"></i></a>
                            </div>
                            
                        {% else %}
                            {% set activeSubscriptions = [] %}
                            {% set inactiveSubscriptions = [] %}
                            {% for subscription in user.subscriptions %}
                                {% if subscription.isActive == 1 and subscription.daysRemaining.remaining > 0 %}
                                    {% set activeSubscriptions = activeSubscriptions|merge([subscription]) %}
                                {% else %}
                                    {% set inactiveSubscriptions = inactiveSubscriptions|merge([subscription]) %}
                                {% endif %}
                            {% endfor %}

                            {% if activeSubscriptions is not empty %}
                                <!-- Case 2: active subscription -->
                                {% for subscription in activeSubscriptions %}
                                    
                                    <div>
                                        <p>{{ subscription.subscriptionType.name }} - 
                                        Remaining days: {{ subscription.daysRemaining.remaining }}</p>
                                        <div><i id="subscription-active" class="fa-regular fa-star"></i></div>
                                    </div>
                                    <div>
                                        <p>Subscription history</p>
                                        <i class="history-btn fa-solid fa-magnifying-glass" data-target=".subscription-recap"></i>
                                        
                                    </div>
                                {% endfor %}
                            {% else %}
                                <!-- Case 3: no active subscription -->
                                <div>
                                    <p>No active subscriptions</p>
                                    <a href="{{ path('app_subscription') }}"><i id="subscription-inactive" class="fa-regular fa-star"></i></a>
                                </div>
                                {% if inactiveSubscriptions is not empty %}
                                    <!-- Case 3bis: no active subscription + history-->
                                    <div>
                                        <p>Subscription history</p>
                                        <i class="history-btn fa-solid fa-magnifying-glass" data-target=".subscription-recap"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="bottom">
                <div id="content">
                    <div id="edit-form">
                        {{ form_start(formEditUser) }}
                        <div class="field">{{ form_row(formEditUser.username) }}</div>
                        <div class="field"> {{ form_row(formEditUser.email) }}</div>
                        <div class="field">{{ form_row(formEditUser.Validate) }}</div>
                        {{ form_end(formEditUser) }}
                    </div>

                    <div id="delete-account">
                        <p>Are you sure you want to delete your account? This action can't be undone.</p>
                        <div>
                            <div class="confirm">
                                <a href=" {{ path('delete_user', {'id': app.user.id }) }}"><i class=" icon-confirm fa-regular fa-circle-check"></i>
                                <p>Confirm</p></a>

                            </div>
                            <div class="cancel">
                                <a href="#"><i class=" icon-cancel fa-regular fa-circle-xmark"></i>
                                    <p>Cancel</p></a>
                                
                            </div>
                        </div>
                    </div>

                    <div id="activity-recap">
                        {# EVENTS ----------------- #}
                        <div class="recap events" style="display: none;">
                            {% if user.areaParticipations is empty %}
                                <p class="text-n2">No Events<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future Events<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EVENT" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status in ["OPEN", "CLOSED", "PENDING"]  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>
                                                    {{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} 
                                                </p>
                                                
                                                <div class="see-more" >
                                                    <a href="{{ path('show_event', { slug : participation.area.slug  }) }}">See more <i class="ri-eye-close-line"></i></a>
                                                </div>
                                                
                                            </div>
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived Events<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EVENT" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status == "ARCHIVED"  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} </p>

                                                <div class="see-more" >
                                                    <a href="{{ path('show_event', { slug : participation.area.slug  }) }}">See more <i class="ri-eye-close-line"></i></a>
                                                </div>

                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}

                            <p class="close-btn" data-target=".events"><i class="fa-regular fa-solid fa-x fa-sm"></i></p>
                        </div>


                        {# EXPO ----------------- #}
                        <div class="recap expos" style="display: none;">
                            {% if user.areaParticipations is empty %}
                                <p class="text-n2">No Expositions<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future Expositions<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EXPO" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status in ["OPEN", "CLOSED", "PENDING"]  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} . {{ participation.area.endDate|formatDate }}  - {{ participation.area.endDate|date('H:i') }}</p>

                                                <div class="see-more" >
                                                    <a href="{{ path('show_exposition', { slug : participation.area.slug  }) }}">See more <i class="ri-eye-close-line"></i></a>
                                                </div>

                                            </div>
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived Expositions<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EXPO" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status == "ARCHIVED"  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} . {{ participation.area.endDate|formatDate }}  - {{ participation.area.endDate|date('H:i') }}</p>

                                                <div class="see-more" >
                                                    <a href="{{ path('show_exposition', { slug : participation.area.slug  }) }}">See more <i class="ri-eye-close-line"></i></a>
                                                </div>

                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                            <p class="close-btn" data-target=".expos"><i class="fa-regular fa-solid fa-x fa-sm"></i></p>
                        </div>


                        {# WORKSHOP----------------- #}
                        <div class="recap workshops" style="display: none;">
                            {% if user.workshopRegistrations is empty %}
                                <p class="text-n2">No Workshops<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future Workshops<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                        {% if participation.workshop is not null %}
                                            {% if participation.workshop.status in ["OPEN", "CLOSED", "PENDING"]  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.workshop.name }} <span>|</span> {{ participation.workshop.startDate|formatDate }}  - {{ participation.workshop.startDate|date('H:i') }} . {{ participation.workshop.endDate|formatDate }}  - {{ participation.workshop.endDate|date('H:i') }}</p>

                                                <div class="see-more" >
                                                    <a href="{{ path('show_workshop', { slug : participation.workshop.slug  }) }}">See more <i class="ri-eye-close-line"></i></a>
                                                </div>

                                               
                                            </div>
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived Workshops<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                            {% if participation.workshop is not null %}
                                            {% if participation.workshop.status == "ARCHIVED"  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.workshop.name }} <span>|</span> {{ participation.workshop.startDate|formatDate }}  - {{ participation.workshop.startDate|date('H:i') }} . {{ participation.workshop.endDate|formatDate }}  - {{ participation.workshop.endDate|date('H:i') }}</p>

                                                <div class="see-more" >
                                                    <a href="{{ path('show_workshop', { slug : participation.workshop.slug  }) }}">See more <i class="ri-eye-close-line"></i></a>
                                                </div>

                                                
                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                            <p class="close-btn" data-target=".workshops"><i class="fa-regular fa-solid fa-x fa-sm"></i></p>
                        </div>

                        {# STUDIO ----------------- #}
                        <div class="recap studios" style="display: none;">
                            {% if user.workshopRegistrations is empty %}
                                <p class="text-n2">No timeslots booked<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future studio timeslots booked<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                        {% if participation.timeslot is not null %}
                                        {% if participation.timeslot.date > date() %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.timeslot.studio.name }} <span>|</span> {{ participation.timeslot.startDate|formatDate }} . {{ participation.timeslot.startDate|date('H:i') }}  - {{ participation.timeslot.endDate|date('H:i') }}</p>
                                            </div>
                                                {% set counter = counter + 1 %}
                                            
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived studio timeslots booked<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                            {% if participation.timeslot is not null %}
                                            {% if participation.timeslot.date < date() %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.timeslot.studio.name }} <span>|</span> {{ participation.timeslot.startDate|formatDate }} . {{ participation.timeslot.startDate|date('H:i') }}  - {{ participation.timeslot.endDate|date('H:i') }}</p>

                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                            <p class="close-btn" data-target=".studios"><i class="fa-regular fa-solid fa-x fa-sm"></i></p>
                        </div>

                        {# SUBSCRIPTIONS ----------------- #}
                        <div id="subscription-recap" style="display: none;">
                            {% if  user.subscriptions is not empty %}
    
                            <p class="text-n2">Active<span>_</span></p>
                                {% for subscription in user.subscriptions %}
                                    {% if subscription.isActive == 1 %}
                                        <div id="active">
                                            <p><span>Description :</span> {{ subscription.infosSubscription.name }} - {{ subscription.infosSubscription.price }} € - {{ subscription.infosSubscription.duration }} days</p>
    
                                            {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.infosSubscription.duration ~ ' days') %}
    
                                            <p><span>Payment date :</span> {{ subscription.paymentDate|formatDate }} | <span>End date :</span> {{ endDate|formatDate }}</p>
    
                                            <p><span>Remaining days :</span> {{ subscription.daysRemaining.remaining }}</p>
                                        </div>
                                    {% endif %}
                                 {% endfor %}    
                                
                                 <p class="text-n2" style="margin-top: 1.2rem;" >History<span>_</span></p>
                                {% for subscription in user.subscriptions|sort((a, b) => b.paymentDate <=> a.paymentDate) %}
                                    {% if subscription.isActive == 0 %}
                                    <div id="inactive">
    
                                        <p><span>Description :</span> {{ subscription.infosSubscription.name }} - {{ subscription.infosSubscription.price }} € - {{ subscription.infosSubscription.duration }} days</p>
    
    
                                        {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.infosSubscription.duration ~ ' days') %}
    
                                        <p><span>Payment date :</span> {{ subscription.paymentDate|formatDate }} | <span>End date :</span> {{ endDate|formatDate }}</p>
                                        
                                        <div></div>
                                        
                                    </div>
                                    {% endif %}
                                {% endfor %}
    
                            {% endif %}
    
                            <div id="btn-subscription">
                                <p class="close-history-btn" data-target=".subscription-recap"><i class="fa-regular fa-solid fa-x fa-sm"></i></p>
                                <div>
                                    <a href=" {{ path('subscriptions_history', {'id': user.id}) }}" target="_blank"><i class="fa-solid fa-file-pdf fa-xl"></i></a>
                                    {# <p>Get PDF</p> #}
                                </div>
                            </div>
    
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    

    
    <div id="avatar">
        <div id="avatar-profil">
            
        </div>
        
       
    </div>


    <div>
        
        <a href=" {{ path('editPassword_user',{'id': app.user.id }) }}">change password</a>

    </div>

    


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src= "{{ asset('js/gsap.min.js') }}"></script>

    <script>
        gsap.to("#pattern", {
            // Background position destination
            // Animation duration
            // Easing function (linear for uniform motion)
            // Repeat indefinitely
            /*backgroundPosition: "-10000px 0", 
            duration: 100, 
            ease: "linear", 
            repeat: -1 */
        });

        gsap.from("#pattern", {
            opacity: 0,
            duration: 4,
            ease: "easeInOut", 
            delay: 1.6
        });


        gsap.from("#profil-user", {
            opacity: 0, 
            duration: 1.2, 
            ease: "easeInOut", 
            delay: 0.8
        });

        document.addEventListener('DOMContentLoaded', function() {
            const inputs = document.querySelectorAll('#edit-form input');
           
            inputs.forEach(function(input) {
                input.addEventListener('focus', function() {
                    this.style.borderColor = '#207E93'; 
                    this.previousElementSibling.style.color = '#207E93'; 
                });
                //blur event is triggered when the input field loses focus
                input.addEventListener('blur', function() {
                    this.style.borderColor = '#939393'; 
                    this.previousElementSibling.style.color = ''; 
                });
            });
        });

        $(document).ready(function() {

            // upload avatar picture
            $('#upload-avatar-btn').click(function(){
                $("#form-avatar").slideToggle();
            });

            // show / hide edit account div
            $('#edit-infos-btn').click(function(){
                $("#edit-form").slideToggle();
            });
            // show / hide delete account div
            $('#delete-account-btn').click(function(){
                $("#delete-account").slideToggle();
            });
            // hide delete account on cancel
            $('.cancel').click(function() {
                event.preventDefault(); 
                $('#delete-account').slideToggle();
            });
            // change logo on hovering (confirm)
            $('.confirm').hover(
                function() {
                    $('.icon-confirm').removeClass('fa-regular').addClass('fa-solid');
                },
                function() {
                    $(this).find('.icon-confirm').removeClass('fa-solid').addClass('fa-regular');
                }
            );
            // change logo on hovering (cancel)
            $('.cancel').hover(
                function() {
                    $('.icon-cancel').removeClass('fa-regular').addClass('fa-solid');
                },
                function() {
                    $(this).find('.icon-cancel').removeClass('fa-solid').addClass('fa-regular');
                }
            );

            // change logo on hovering (cancel)
            $('.see-more a').hover(function() {
                $(this).find('i').removeClass('ri-eye-close-line').addClass('ri-eye-fill');
            }, function() {
                $(this).find('i').removeClass('ri-eye-fill').addClass('ri-eye-close-line');
            });



            // show / hide eye icon on activities hover
            $('.activity-list p').hover(function() {
                $(this).prev('i').css('opacity', '1');
            }, function() {
                $(this).prev('i').css('opacity', '0');
            });


            // show / hide eye activities recap
            $('.toggle-btn').click(function(event) {
                event.preventDefault(); 
                var target = $(this).data('target');
                $(target).slideToggle();

            // Once the content is open, move the window to the top of this content
            var offset = $('#logout-btn').offset().top;
            $('html, body').animate({
                scrollTop: offset
            }, 'slow');
            });

            // show / hide subscription recap
            $('.history-btn').click(function(event) {
                event.preventDefault(); 
                $('#subscription-recap').slideToggle();

            // Once the content is open, move the window to the top of this content
            var offset = $('#logout-btn').offset().top;
            $('html, body').animate({
                scrollTop: offset
            }, 'slow');
            });

            
            // close history recap and scroll up
            $('.close-history-btn').click(function(event) {
                event.preventDefault(); 
                $('#subscription-recap').slideToggle();

                // Once the content is closed, move the window to the top of the page
                var offset = $('picture').offset().top;
                $('html, body').animate({
                    scrollTop: offset
                }, 'slow');
            });



            // close activities recap and scroll up
            $('.close-btn').click(function(event) {
                event.preventDefault(); 
                var target = $(this).data('target');
                $(target).slideToggle();

                // Once the content is closed, move the window to the top of the page
                var offset = $('picture').offset().top;
                $('html, body').animate({
                    scrollTop: offset
                }, 'slow');
            });
            
        })
 
    </script>

{% endblock %}
