{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="banner">
        <div>
            <h1 class="banner-title">YOUR PROFIL</h1>
            <p class="banner-text">Text text<span class="underscore-static">_</span></p>
        </div>
    </div>
    
    <section class="content" id="profil-user">

        <div id="content-profil-user">
            <div id="separator-profil"></div>
            <div id="top">
                <h2 class="text-n1">{{ user }}<span>_</span> </h2>
                <div id="avatar">
                    <div>
                        <picture>
                            {% if user.avatar %}
                            <img src="{{ asset('images/avatars/' ~ user.avatar) }}">
                            {% else %}
                                <img src="{{ asset('images/default_profile.jpg') }}">
                            {% endif %}
                        </picture>
                        
                    </div>
                    <div>
                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                    </div>

                </div>
                <div id="roles">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="middle">
                <div id="left">
                    <p class="text-n2" id="infos">Info<span>_</span></p>
                    <div class="text-n3" id="info">
                        <p><span>Username :</span> {{user}}</p>
                        <p><span>Email :</span> {{ user.email }}</p>
                        <p><span>Registration date :</span> {{ user.registrationDate|date("d.m.Y") }}</p>
                        <p><span>Member since :</span> {{ user.durationSinceRegistration}}</p>
                    </div>

                    <div id="actions" class="logo-profile">
                        <div>
                            <i id="edit-infos-btn" class="fa-regular fa-pen-to-square"></i>
                            <p>Edit informations</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-unlock-keyhole"></i>
                            <p>Change password</p>
                        </div>
                        <div>
                            <i id="delete-account-btn" class="fa-solid fa-x"></i>
                            <p>Delete account</p>
                        </div>
                        <div>
                            <a href=" {{ path('app_logout') }}"><i id="logout-btn" class="fa-solid fa-right-from-bracket"></i></a>
                            <p>Logout</p>
                        </div>
                    </div>

                </div>

                <div id="right">
                    <p class="text-n2" id="activities"><span>_</span>Activity</p>
                    <div class="text-n3" id="activity">
                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".events">Events</p>
                        </div>

                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".expos">Expositions</p>
                        </div>

                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".workshops">Workshops</p>
                        </div>

                        <div class="activity-list">
                            <i class="fa-regular fa-eye"></i>
                            <p class="toggle-btn" data-target=".studios">Studios</p>
                        </div>
                    </div>

                    <div class="logo-profile subscriptions">

                        {% if user.subscriptions is empty %}
                            <!-- Case 1: no subscription -->
                            <div>
                                <p>No subscriptions</p>
                                <a href="{{ path('app_subscription') }}"><i id="subscription-inactive" class="fa-regular fa-star"></i></a>
                            </div>
                            
                        {% else %}
                            {% set activeSubscriptions = [] %}
                            {% set inactiveSubscriptions = [] %}
                            {% for subscription in user.subscriptions %}
                                {% if subscription.isActive == 1 and subscription.daysRemaining.remaining > 0 %}
                                    {% set activeSubscriptions = activeSubscriptions|merge([subscription]) %}
                                {% else %}
                                    {% set inactiveSubscriptions = inactiveSubscriptions|merge([subscription]) %}
                                {% endif %}
                            {% endfor %}

                            {% if activeSubscriptions is not empty %}
                                <!-- Case 2: active subscription -->
                                {% for subscription in activeSubscriptions %}
                                    
                                    <div>
                                        <p>{{ subscription.subscriptionType.name }} - 
                                        Remaining days: {{ subscription.daysRemaining.remaining }}</p>
                                        <div><i id="subscription-active" class="fa-regular fa-star"></i></div>
                                    </div>
                                    <div>
                                        <p>Subscription history</p>
                                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <!-- Case 3: no active subscription -->
                                <div>
                                    <p>No active subscriptions</p>
                                    <a href="{{ path('app_subscription') }}"><i id="subscription-inactive" class="fa-regular fa-star"></i></a>
                                </div>
                                {% if inactiveSubscriptions is not empty %}
                                    <!-- Case 3bis: no active subscription + history-->
                                    <div>
                                        <p>Subscription history</p>
                                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="bottom">
                <div id="content">
                    <div id="edit-form">
                        {{ form_start(formEditUser) }}
                        <div class="field">{{ form_row(formEditUser.username) }}</div>
                        <div class="field"> {{ form_row(formEditUser.email) }}</div>
                        <div class="field">{{ form_row(formEditUser.Validate) }}</div>
                        {{ form_end(formEditUser) }}
                    </div>

                    <div id="delete-account">
                        <p>Are you sure you want to delete your account? This action can't be undone.</p>
                        <div>
                            <div class="confirm">
                                <a href=" {{ path('delete_user', {'id': app.user.id }) }}"><i class=" icon-confirm fa-regular fa-circle-check"></i>
                                <p>Confirm</p></a>

                            </div>
                            <div class="cancel">
                                <a href="#"><i class=" icon-cancel fa-regular fa-circle-xmark"></i>
                                    <p>Cancel</p></a>
                                
                            </div>
                        </div>
                    </div>

                    <div id="activity-recap">
                        {# EVENTS ----------------- #}
                        <div class="recap events" style="display: none;">
                            {% if user.areaParticipations is empty %}
                                <p class="text-n2">No Events<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future Events<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EVENT" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status in ["OPEN", "CLOSED", "PENDING"]  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} </p>

                                                <a href="{{ path('show_event', { slug : participation.area.slug  }) }}">see</a>
                                            </div>
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived Events<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EVENT" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status == "ARCHIVED"  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} </p>

                                                <a href="{{ path('show_event', { slug : participation.area.slug  }) }}">see</a>
                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}

                            <p class="close-btn" data-target=".events"><i class="fa-regular fa-circle-xmark"></i></p>
                        </div>


                        {# EXPO ----------------- #}
                        <div class="recap expos" style="display: none;">
                            {% if user.areaParticipations is empty %}
                                <p class="text-n2">No Expositions<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future Expositions<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EXPO" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status in ["OPEN", "CLOSED", "PENDING"]  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} . {{ participation.area.endDate|formatDate }}  - {{ participation.area.endDate|date('H:i') }}</p>

                                                <a href="{{ path('show_exposition', { slug : participation.area.slug  }) }}">see</a>
                                            </div>
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived Expositions<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.areaParticipations %}
                                        {% if participation.area.type == "EXPO" %}
                                            {% set has_event_participation = true %}
                                            {% if participation.area.status == "ARCHIVED"  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.area.name }} <span>|</span> {{ participation.area.startDate|formatDate }}  - {{ participation.area.startDate|date('H:i') }} . {{ participation.area.endDate|formatDate }}  - {{ participation.area.endDate|date('H:i') }}</p>

                                                <a href="{{ path('show_exposition', { slug : participation.area.slug  }) }}">see</a>
                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                            <p class="close-btn" data-target=".expos"><i class="fa-regular fa-circle-xmark"></i></p>
                        </div>


                        {# WORKSHOP----------------- #}
                        <div class="recap workshops" style="display: none;">
                            {% if user.workshopRegistrations is empty %}
                                <p class="text-n2">No Workshops<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future Workshops<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                        {% if participation.workshop is not null %}
                                            {% if participation.workshop.status in ["OPEN", "CLOSED", "PENDING"]  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.workshop.name }} <span>|</span> {{ participation.workshop.startDate|formatDate }}  - {{ participation.workshop.startDate|date('H:i') }} . {{ participation.workshop.endDate|formatDate }}  - {{ participation.workshop.endDate|date('H:i') }}</p>

                                                <a href="{{ path('show_workshop', { slug : participation.workshop.slug  }) }}">see</a>
                                            </div>
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived Workshops<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                            {% if participation.workshop is not null %}
                                            {% if participation.workshop.status == "ARCHIVED"  %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.workshop.name }} <span>|</span> {{ participation.workshop.startDate|formatDate }}  - {{ participation.workshop.startDate|date('H:i') }} . {{ participation.workshop.endDate|formatDate }}  - {{ participation.workshop.endDate|date('H:i') }}</p>

                                                <a href="{{ path('show_workshop', { slug : participation.workshop.slug  }) }}">see</a>
                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                            <p class="close-btn" data-target=".workshops"><i class="fa-regular fa-circle-xmark"></i></p>
                        </div>

                        {# STUDIO ----------------- #}
                        <div class="recap studios" style="display: none;">
                            {% if user.workshopRegistrations is empty %}
                                <p class="text-n2">No timeslots booked<span>_</span></p>
                            {% else %}

                                <p class="text-n2">Ongoing and future studio timeslots booked<span>_</span></p>
                                
                                    {% set counter = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                        {% if participation.timeslot is not null %}
                                        {% if participation.timeslot.date > date() %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.timeslot.studio.name }} <span>|</span> {{ participation.timeslot.startDate|formatDate }} . {{ participation.timeslot.startDate|date('H:i') }}  - {{ participation.timeslot.endDate|date('H:i') }}</p>
                                                {% set counter = counter + 1 %}
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}


                                <p class="text-n2" style="margin-top: 1.2rem;">Archived studio timeslots booked<span>_</span></p>
                                
                                    {% set counter2 = 1 %}
                                    {% for participation in user.workshopRegistrations %}
                                            {% if participation.timeslot is not null %}
                                            {% if participation.timeslot.date < date() %}
                                            <div>
                                                <p>0{{ counter }}.</p>
                                                <p>{{ participation.timeslot.studio.name }} <span>|</span> {{ participation.timeslot.startDate|formatDate }} . {{ participation.timeslot.startDate|date('H:i') }}  - {{ participation.timeslot.endDate|date('H:i') }}</p>

                                            </div>
                                                {% set counter2 = counter2 + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                            <p class="close-btn" data-target=".studios"><i class="fa-regular fa-circle-xmark"></i></p>
                        </div>

                    </div>

                    {# SUBSCRIPTIONS ----------------- #}

                    <div id="subscription-recap">
                        {% if  user.subscriptions is not empty %}

                        <p>active:</p>
                            {% for subscription in user.subscriptions %}
                                {% if subscription.isActive == 1 %}
                                    <div>
                                        <p>Type: {{ subscription.subscriptionType.name }}</p>
                                        <p>Remaining days: {{ subscription.daysRemaining.remaining }}</p>
                                        <p>Payment date: {{ subscription.paymentDate|formatDate }}</p>
                                        <p>Duration: {{ subscription.subscriptionType.duration }} days</p>
                                        {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.subscriptionType.duration ~ ' days') %}
                                        <p>End date: {{ endDate|formatDate }}</p>
                                    </div>
                                {% endif %}
                             {% endfor %}    
                            
                             <p>inactive:</p>
                            {% for subscription in user.subscriptions|sort((a, b) => b.paymentDate <=> a.paymentDate) %}
                                {% if subscription.isActive == 0 %}
                                <div>
                                    <p>Type: {{ subscription.subscriptionType.name }}</p>
                                    <p>Remaining days: {{ subscription.daysRemaining.remaining }}</p>
                                    <p>Payment date: {{ subscription.paymentDate|formatDate }}</p>
                                    <p>Duration: {{ subscription.subscriptionType.duration }} days</p>
                                    {% set endDate = subscription.paymentDate|date_modify('+' ~ subscription.subscriptionType.duration ~ ' days') %}
                                    <p>End date: {{ endDate|formatDate }}</p>
                                </div>
                                {% endif %}
                            {% endfor %}

                        {% endif %}

                        <div>
                            <p>pdf facture</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <p>Role: {{ user.getSimpleRoles|join(', ')}} </p>

    
    <div id="avatar">
        <div id="avatar-profil">
            
        </div>
        
        <div id="form">
            {{ form_start(form) }}
            {{ form_row(form.avatar) }} 
            {{ form_end(form) }}
        </div>
    </div>


    <div>
        
        <a href=" {{ path('editPassword_user',{'id': app.user.id }) }}">change password</a>

    </div>

    <div>
        <p>test pdf</p>
        <a href=" {{ path('subscriptions_history', {'id': user.id}) }}">test</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputs = document.querySelectorAll('#edit-form input');
           
            inputs.forEach(function(input) {
                input.addEventListener('focus', function() {
                    this.style.borderColor = '#207E93'; 
                    this.previousElementSibling.style.color = '#207E93'; 
                });
                //blur event is triggered when the input field loses focus
                input.addEventListener('blur', function() {
                    this.style.borderColor = '#939393'; 
                    this.previousElementSibling.style.color = ''; 
                });
            });
        });

        $(document).ready(function() {
            // show / hide edit account div
            $('#edit-infos-btn').click(function(){
                $("#edit-form").slideToggle();
            });
            // show / hide delete account div
            $('#delete-account-btn').click(function(){
                $("#delete-account").slideToggle();
            });
            // hide delete account on cancel
            $('.cancel').click(function() {
                event.preventDefault(); 
                $('#delete-account').slideToggle();
            });
            // change logo on hovering (confirm)
            $('.confirm').hover(
                function() {
                    $('.icon-confirm').removeClass('fa-regular').addClass('fa-solid');
                },
                function() {
                    $(this).find('.icon-confirm').removeClass('fa-solid').addClass('fa-regular');
                }
            );
            // change logo on hovering (cancel)
            $('.cancel').hover(
                function() {
                    $('.icon-cancel').removeClass('fa-regular').addClass('fa-solid');
                },
                function() {

                    $(this).find('.icon-cancel').removeClass('fa-solid').addClass('fa-regular');
                }
            );

            // show / hide eye icon on activities hover
            $('.activity-list p').hover(function() {
                $(this).prev('i').css('opacity', '1');
            }, function() {
                $(this).prev('i').css('opacity', '0');
            });


            // show / hide eye activities recap
            $('.toggle-btn').click(function(event) {
                event.preventDefault(); 
                var target = $(this).data('target');
                $(target).slideToggle();

            // Once the content is open, move the window to the top of this content
            var offset = $('#logout-btn').offset().top;
            $('html, body').animate({
                scrollTop: offset
            }, 'slow');

            });

            // close activities recap and scroll up
            $('.close-btn').click(function(event) {
                event.preventDefault(); 
                var target = $(this).data('target');
                $(target).slideToggle();

                // Once the content is closed, move the window to the top of the page
                var offset = $('picture').offset().top;
                $('html, body').animate({
                    scrollTop: offset
                }, 'slow');
            });
            
        })
 
    </script>

{% endblock %}
