{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="banner">
        <div>
            <h1>YOUR PROFIL</h1>
            <p>Subtitle text<span class="underscore-static">_</span></p>
        </div>
    </div>


    <section class="content" id="profil-user">

        <div id="content-profil-user">
            <div>______</div>
            <div id="top">
                <h2>{{ user }}<span>_</span> </h2>
                <div id="avatar">
                    <div>
                        {% if user.avatar %}
                            <img src="{{ asset('images/avatars/' ~ user.avatar) }}">
                        {% else %}
                            <img src="{{ asset('images/default_profile.jpg') }}">
                        {% endif %}
                    </div>

                    <div></div>
                    <div></div>
                </div>
                <div id="roles">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="middle">
                <div id="left">
                    <p>Info_</p>
                    <div>
                        <p>Username : {{user}}</p>
                        <p>Email : {{ user.email }}</p>
                        <p>Registration date : {{ user.registrationDate|date("d.m.Y") }}</p>
                        <p>Member since: {{ user.durationSinceRegistration}}</p>
                    </div>
                </div>
                <div id="right"></div>
            </div>
            <div id="bottom"></div>
        </div>
    </section>



    <p>Role: {{ user.getSimpleRoles|join(', ')}} </p>

    <p>SUBSCRIPTION</p>

    {# show only the current subscription #}
    {% for subscription in user.subscriptions %}
        {% set daysRemaining = subscription.daysRemaining %}
        {% if daysRemaining.remaining > 0 %}
            <p>Name: {{ subscription.subscriptionType.name }}</p>
            <p>Payment date: {{ subscription.paymentDate|formatDate }}</p>
            <p>Duration: {{ subscription.subscriptionType.duration }} days</p>
            <p>End date: {{ daysRemaining.endDate }}</p>
            <p>Remaining days: {{ daysRemaining.remaining }}</p>
        {% endif %}
    {% endfor %}


    
    <p><a href="{{ path('edit_user', {slug: app.user.slug }) }}">EDIT info</a></p>
    
    <div id="avatar">
        <div id="avatar-profil">
            
        </div>
        
        <div id="form">
            {{ form_start(form) }}
            {{ form_row(form.avatar) }} 
            {{ form_end(form) }}
        </div>
    </div>



    <div>
        <a href=" {{ path('app_logout') }}">logout</a> - 
        <a href="">delete account</a> - 
        <a href=" {{ path('editPassword_user',{'id': app.user.id }) }}">change password</a>


    </div>




{% endblock %}
