{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Welcome to your profile : {{ user }}  </h1>

   

    <p>Username: {{ user}} </p>

    <p>Mail: {{ user.email }}</p>

    <p>Registration date: {{ user.registrationDate|date("d.m.Y") }}</p>

    <p>Member since: {{ user.durationSinceRegistration}} </p>

    <p>Role: {{ user.getSimpleRoles|join(', ')}} </p>
    
    <p><a href="{{ path('edit_user', {'id': app.user.id }) }}">EDIT info</a></p>
    
    <div id="avatar">
        <div id="avatar-profil">
            {% if user.avatar %}
                <img src="{{ asset('images/avatars/' ~ user.avatar) }}">
            {% else %}
                <img src="{{ asset('images/default_profile.jpg') }}">
            {% endif %}
        </div>
        
        <div id="form">
            {{ form_start(form) }}
            {{ form_row(form.avatar) }} 
            {{ form_end(form) }}
        </div>
    </div>



    <div>
        <a href=" {{ path('app_logout') }}">logout</a> - 
        <a href="">delete account</a> - 
        <a href=" {{ path('editPassword_user',{'id': app.user.id }) }}">change password</a>


    </div>




{% endblock %}
